{% if data['comments-shared'] %}
  <p class="govuk-body">
    <a href='#' class='govuk-link govuk-link--no-visited-state'>
      Download all comments
    </a>
  </p>
{% endif %}

{{ govukTable({
  caption: "Accepted comments",
  captionClasses: "govuk-table__caption--m govuk-visually-hidden",
  firstCellIsHeader: false,
  head: [
    {
      text: "Interested party"
    },
    {
      text: "Email address"
    },
    {
      text: "Submitted"
    },
    {
      text: "Action"
    }
  ],
  rows: [
    [
        {
          text: "Terrance Harper"
        },
        {
          text: "harps3000@email.com"
        },
        {
          text: 1 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Terrance Harper</span></a>"
        }
    ],
    [
      {
          text: "Viola Richardson"
        },
        {
          text: "vrichardson@aol.com"
        },
        {
          text: 1 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Viola Richardson</span></a>"
        }
    ],
    [
      {
          text: "Carla Fenwick"
        },
        {
          text: "carlafenwick@gmail.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Carla Fenwick</span></a>"
        }
    ],
    [
      {
          text: "Joy Yu"
        },
        {
          text: "joy.yu@ymail.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Joy Yu</span></a>"
        }
    ],
    [
      {
          text: "Hadlee Franklin"
        },
        {
          text: ""
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Hadley Franklin</span></a>"
        }
    ],
    [
      {
          text: "Simon Curtis"
        },
        {
          text: "simoncurtis333@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Simon Curtis</span></a>"
        }
    ],
    [
      {
          text: "Alexis Sosa"
        },
        {
          text: "alexissosa92@gmail.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Alexis Sosa</span></a>"
        }
    ],
    [
      {
          text: "Emir Salazar"
        },
        {
          text: "emzisalz83@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Emir Salazar</span></a>"
        }
    ],
    [
      {
          text: "Freya Gutierrez"
        },
        {
          text: "ferzinouffness@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Freya Gutierrez</span></a>"
        }
    ],
    [
      {
          text: "Luca Bond"
        },
        {
          text: "lc008@aol.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Luca Bond</span></a>"
        }
    ],
    [
      {
          text: "Alena Arroyo"
        },
        {
          text: "ayotorrez@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from Alena Arroyo</span></a>"
        }
    ],
    [
      {
          text: "Remi Le"
        },
        {
          text: "remitruth@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Kayden West"
        },
        {
          text: "kaydenthedestroyer@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Anya Foster"
        },
        {
          text: ""
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Hamza Barron"
        },
        {
          text: ""
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Dior Phelps"
        },
        {
          text: "diorjayphelps@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Garrett Frank"
        },
        {
          text: "gazzoilefrankz@ymail.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Esperanza Horton"
        },
        {
          text: "thereisalwayshope@protonmail.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Franklin Rasmussen"
        },
        {
          text: "frankierams@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ],
    [
      {
          text: "Eleanor Griffith"
        },
        {
          text: "ellegrifter@email.com"
        },
        {
          text: 2 | daysAgo
        },
        {
          html: "<a href='comment-view?redactedComment='>View<span class='govuk-visually-hidden'> comment from (full name)</span></a>"
        }
    ]
]
}) }}

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
