{% if data['no-comments'] %}

  <p class="govuk-body">
    Awaiting comments
  </p>

{% else %}

  {{ govukTable({
    caption: "Awaiting review",
    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
    firstCellIsHeader: false,
    head: [
      {
        text: "Interested party"
      },
      {
        text: "Submitted"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
          {
            text: "Sam Fisher"
          },
          {
            text: 2 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=true&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Ian Smith</span></a>"
          }
      ] if data['manually-added-comment'] == 'true',
      [
          {
            text: "Ian Smith"
          },
          {
            text: 3 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Ian Smith</span></a>"
          }
      ] if data['commentReview'] != 'true',
      [
        {
            text: "Robyn Jenkins"
          },
          {
            text: 3 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Robyn Jenkins</span></a>"
          }
      ],
      [
        {
            text: "Cath Fairfield"
          },
          {
            text: 4 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Cath Fairfield</span></a>"
          }
      ],
      [
        {
            text: "Brian Thompson"
          },
          {
            text: 7 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Brian Thompson</span></a>"
          }
      ],
      [
        {
            text: "Dan Brighthouse"
          },
          {
            text: 8 | daysAgo
          },
          {
            html: "<a href='comment-review?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=&new-comment=&documents-added='>Review<span class='govuk-visually-hidden'> comment from Dan Brighthouse</span></a>"
          }
      ]
    ]
  }) }}

{% endif %}
