{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Check your reason for rejection" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = true %}

{% set prototypeLinks = [
  {
    href: '?comment-type=doc',
    text: 'Comment is document'
  } if data['comment-type'] != 'doc',
  {
    href: '?comment-type=data',
    text: 'Comment is data'
  } if data['comment-type'] == 'doc',
  {
    href: '?no-email=yes',
    text: 'No email provided'
  } if data['no-email'] != 'yes',
  {
    href: '?no-email=',
    text: 'Email provided'
  } if data['no-email'] == 'yes'

] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

    </div>
    <div class="govuk-grid-column-full">

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Interested party
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['comment-type'] == 'doc' %}
              Sam Fisher
            {% else %}
              Ian Smith
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Comment
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['comment-type'] == 'doc' %}
              Added as document
            {% else %}
              Having reviewed the proposal I would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. David Newton at number 6 The Grove also agrees.
            {% endif %}
          </dd>
        </div>
        {% if data['comment-type'] == 'doc' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting documents
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="" class="govuk-link">
                4012345-IP-comment.doc
              </a>
            </dd>
          </div>
        {% endif %}
      </dl>

      <!-- new definition list for the reason for rejection -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for rejection
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-half">

            {% if data['reason-format'] == 'list' %}
              <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                  <li>
                    Includes personal and/or medical information
                  </li>
                  <li>
                    Not relevant to this appeal
                  </li>
                  <li>
                    Other reason: Part of the evidence is for another case
                  </li>
                </ul>
              </p>

            {% else %}
              {% if data['invalidReason'] %}
                {{ data['invalidReason'] }}
              {% else %}
                Your comment was not relevant.
              {% endif %}
            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> reason for rejection</span>
            </a>
          </dd>
        </div>
        {% if data['no-email'] != 'yes' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              IP can resubmit their comment
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['allow-resubmission'] %}
                {{ data['allow-resubmission'] }}
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> IP can resubmit their comment</span>
              </a>
            </dd>
          </div>
        {% endif %}
      </dl>

      {% if data['no-email'] != 'yes' %}

        {{ govukInsetText({
          text: "Confirming will inform the IP why their comment has been rejected."
        }) }}

        <form action="comment-rejected" method="post">
          {{ govukButton({
            text: "Confirm"
          }) }}
        </form>

      {% else %}

        <form action="ip-comments?comment-rejected=yes" method="post">
          {{ govukButton({
            text: "Confirm"
          }) }}
        </form>

      {% endif %}

    </div>
  </div>
{% endblock %}
