{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Confirm redaction" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Interested party"
          },
          value: {
            text: "Ian Smith"
          }
        },
        {
          key: {
            text: "Unredacted comment"
          },
          value: {
            html: "Having reviewed the proposal I would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. David Newton at number 6 The Grove also agrees."
          }
        },
        {
          key: {
            text: "Redacted comment"
          },
          value: {
            html: "Having reviewed the proposal I would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. (Redacted)"
          },
          actions: {
            items: [
              {
                href: "comment-redact",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }}

    {% if data['redactingfrom'] == 'review' %}

      <form action="ip-comments?redactedComment=true&commentReview=true#redact-tab" method="post" class="govuk-!-margin-top-2">
        {{ govukButton({
          text: "Confirm redaction and accept comment"
        }) }}
      </form>

    {% else %}

      <form action="comment-view?redactedComment=&redactedCommentSuccess=true" method="post" class="govuk-!-margin-top-2">
        {{ govukButton({
          text: "Confirm redaction"
        }) }}
      </form>

    {% endif %}

  </div>
</div>



{% endblock %}
