{% extends "layouts/PINS-admin.html" %}

{% set title = 'Address' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/address/" class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">
            Address
          </a>
        </li>
        <li>
          <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case heading
          </a>
        </li>
        <li>
          <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case status
          </a>
        </li>
        <li>
          <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (important)
          </a>
        </li>
        <li>
          <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (success)
          </a>
        </li>
        <li>
          <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Meta data
          </a>
        </li>
        <li>
          <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Personal list
          </a>
        </li>
        <li>
          <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Upload multiple files
          </a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
        {{ title }}
      </h1>
      <p>
        {{govukTag({
          text: "GDS core pattern",
          classes: "govuk-tag--green"
        })}}
      </p>

      <p class="govuk-body-l">
        Gathering address data.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Based on the <a href="https://design-system.service.gov.uk/patterns/addresses/">GDS address form</a>.
      </p>

      {% set exampleHtml %}
        {{ address (
          country = true
        ) }}
      {% endset -%}
      {% set codeHtml %}

      <pre class="code-snippet"><code>{% raw -%}{{ address () }}

{{ address (
  // address with an extra field for country
  country = true
) }}
{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        Use the address form to gather address data consistently.
      </p>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p class="govuk-body">
        You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> macro.
      </p>

      <p class="govuk-body">
        There is an optional parameter for address forms with an extra field for a country.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList ({
        rows: [
          {
            key: {
              text: "country"
            },
            value: {
              text: "Setting to true (any not null value) adds a country field"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
