 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="LPA statement review" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    	{% set html %}
    	  <p class="govuk-notification-banner__heading">
    	    The appeal is ready for review
    	  </p>
    	  <p>
          <a class="govuk-notification-banner__link" href="appellant-case.html">
            Start the review
          </a>
        </p>
    	{% endset %}

    
    <span class="govuk-caption-l">Appeal 2110166</span>
  

      <h1 class="govuk-heading-l">What is the document?</h1>
 


  <form action="" method="post" class="govuk-!-margin-top-6" novalidate>

  

      

        {{ govukRadios({
          name: "obligation-version",
          fieldset: {
            legend: {
              
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "draft~upload-obligation-draft",
              text: "Draft S106 obligation"
            },
            {
              value: "final~upload-obligation-final",
              text: "S106 obligation"
            } 
             
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>



{% endblock %}
