{% extends "layouts/PINS.html" %}

{% set pageName="Personal list" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Cases assigned to you</h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	  		
		<!--
		<details class="govuk-details" data-module="govuk-details">
		  <summary class="govuk-details__summary">
		    <span class="govuk-details__summary-text">
		      Filter cases
		    </span>
		  </summary>
		  <div class="govuk-details__text">
		    
		    {{ govukSelect({
			  id: "sort",
			  name: "sort",
			  label: {
			    text: "Show cases with status"
			  },
			  items: [
			    {
			      value: "all",
			      text: "All",
			      selected: true
			    },
			    {
			      value: "ready to start",
			      text: "Ready to start"
			    },
			    {
			      value: "LPA questionnaire",
			      text: "LPA questionnaire"
			    },
			    {
			      value: "final comment review",
			      text: "Final comment review"
			    },
			    {
			      value: "ready final review",
			      text: "Ready for final review"
			    },
			    {
			      value: "arrange site visit",
			      text: "Arrange site visit"
			    },
			    {
			      value: "completed",
			      text: "Completed"
			    }
			  ]
			}) }}
		    
		  </div>
		</details>
		
		
			<details class="govuk-details" data-module="govuk-details">
			  <summary class="govuk-details__summary">
			    <span class="govuk-details__summary-text">
			      Filter cases
			    </span>
			  </summary>
			  <div class="govuk-details__text">
			    
	
				{{ govukCheckboxes({
				  name: "organisation",
				  classes: "govuk-checkboxes--small",
				  fieldset: {
				    legend: {
				      text: "Organisation",
				      isPageHeading: true,
				      classes: "govuk-fieldset__legend--m"
				    }
				  },
				  items: [
				    {
				      value: "ready to start",
				      text: "Ready to start"
				    },
				    {
				      value: "LPA questionnaire",
				      text: "LPA questionnaire"
				    },
				    {
				      value: "final comment review",
				      text: "Final comment review"
				    },
				    {
				      value: "ready final review",
				      text: "Ready for final review"
				    },
				    {
				      value: "arrange site visit",
				      text: "Arrange site visit"
				    },
				    {
				      value: "completed",
				      text: "Completed"
				    }
				  ]
					}) }}
				
				{{ govukButton({
				  text: "Apply"
				}) }}
			    
			  </div>
			</details>
-->
		
		
		<details class="govuk-details" data-module="govuk-details">
		  <summary class="govuk-details__summary">
		    <span class="govuk-details__summary-text">
		      Filters
		    </span>
		  </summary>
		  <div class="govuk-details__text">
		    
		    {{ govukSelect({
			  id: "sort",
			  name: "sort",
			  label: {
			    text: "Show cases with status"
			  },
			  items: [
			    {
			      value: "all",
			      text: "All",
			      selected: true
			    },
			    {
			      value: "ready to start",
			      text: "Ready to start"
			    },
			    {
			      value: "LPA questionnaire",
			      text: "LPA questionnaire"
			    },
			    {
			      value: "arrange site visit",
			      text: "Arrange site visit"
			    },
				{
					value: "issue determination",
					text: "Issue determination"
				  },
			    {
			      value: "awaiting transfer",
			      text: "Awaiting transfer"
			    }
			  ]
			}) }}
			
			<div class="govuk-button-group">
			
			{{ govukButton({
				  text: "Apply",
				  classes: "govuk-button--secondary"
				}) }}
				
				<a class="govuk-link" href="#">Clear filter</a>
				
			</div>
		    
		  </div>
		</details>
		
		

	  {% include "projects/personal-list/v4/includes/personal-list-table.html" %}

  </div>
</div>

{% endblock %}
