{% extends "layouts/PINS.html" %}

{% set pageName="Decision date" %}

{% set title = "Who has applied for costs?" %}

{% block questions %}


  <span class="govuk-caption-l">
    Appeal 2110166
  </span>

  <!-- {{ govukTag({
    text: "Issue determination",
    classes: "govuk-tag--pink govuk-!-margin-bottom-6"
  })}} -->

<!-- </div>
<div class="govuk-grid-column-full">

  {% include "../v3/includes/case-meta-data.html" %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</div>
<div class="govuk-grid-column-two-thirds"> -->

  {{ govukRadios({
    name: "costs-applied-for",
    fieldset: {
      legend: {
        text: "Who has applied for costs?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Appellant~case",
        text: "Appellant"
      },
      {
        value: "LPA~case",
        text: "LPA"
      },
      {
        value: "Both parties~case",
        text: "Both parties"
      },
      {
        divider: "or"
      },
      {
        value: "Not submitted~case",
        text: "Not submitted"
      }
    ]
  }) }}



{% endblock %}
