{% extends "layouts/PINS.html" %}

{% set pageName="Decision date" %}

{% set title = "Check your answers" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Decision sent",
      html: "Appeal reference<br><strong>2110166</strong>"
    }) }}

    <p class="govuk-body">We have sent the decision to the relevant appeal parties.</p>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      The appeal will be closed.
    </p>

    <p class="govuk-body">
      <a href='index' class='govuk-link'>
        Back to your list
      </a>
    </p>

    <!-- <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p> -->

  </div>
</div>

{% endblock %}
