{% extends "layouts/PINS.html" %}

{% set pageName="Decision date" %}

{% set title = "Who has applied for costs?" %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">
    Appeal 2110166
  </span>

  <!-- {{ govukTag({
    text: "Issue determination",
    classes: "govuk-tag--pink govuk-!-margin-bottom-6"
  })}} -->

<!-- </div>
<div class="govuk-grid-column-full">

  {% include "../v3/includes/case-meta-data.html" %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</div>
<div class="govuk-grid-column-two-thirds"> -->

  <form action="costs-decision" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      Have you awarded costs?
    </h1>
  
  </legend>

  <div class="govuk-radios" data-module="govuk-radios">
     
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="costs-awarded" name="costs-awarded" type="radio" value="Yes~costs-upload">
          <label class="govuk-label govuk-radios__label" for="costs-awarded">
        Yes
      </label>
          
        </div>
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="costs-awarded-2" name="costs-awarded" type="radio" value="No~costs-upload">
          <label class="govuk-label govuk-radios__label" for="costs-awarded-2">
        No
      </label>
          
        </div>
        {% if data ['issued-decision'] %}

        <div class="govuk-radios__divider">or</div>
      
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="costs-awarded-4" name="costs-awarded" type="radio" value="Not applied for~check-your-answers">
          <label class="govuk-label govuk-radios__label" for="costs-awarded-4">
        Not applied for
      </label>
          
        </div>

        {% endif %}
  </div>


</fieldset>
  
  </div>

{{ govukButton({
  text: "Continue"
}) }}
  </form>

</div></div>
{% endblock %}
