{% extends "layouts/PINS.html" %}

{% set pageName="Decision date" %}

{% set title = "What is the decision?" %}

{% block questions %}

  <span class="govuk-caption-l">
    Appeal 2110166
  </span>

  <!-- {{ govukTag({
    text: "Issue determination",
    classes: "govuk-tag--pink govuk-!-margin-bottom-6"
  })}} -->

<!-- </div>
<div class="govuk-grid-column-full">

  {% include "../v3/includes/case-meta-data.html" %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</div>
<div class="govuk-grid-column-two-thirds"> -->

  {{ govukRadios({
    name: "issued-decision",
    fieldset: {
      legend: {
        text: "What is the decision?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "Allowed~upload-decision",
        text: "Allowed"
      },
      {
        value: "Dismissed~upload-decision",
        text: "Dismissed"
      },
      {
        value: "Split decision~upload-decision",
        text: "Split decision"
      },
      {
        value: "Invalid~invalid",
        text: "Invalid"
      }
    ]
  }) }}

{% endblock %}
