{% extends "layouts/PINS-Simple.html" %}

{% set title = "Start S78 case" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>
        S78 appeals have 3 different appeal procedures: written reps, hearings and inquiries. This is about asking users to specific which one it is when they start a case.
      </p>

      <h2 class="govuk-heading-m">Version 2
        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
      </h2>

      <p>If we don’t handle hearings and inquiries, we’ll get users to transfer the case to Horizon.</p>

      {{ govukButton({
        text: "View prototype",
        isStartButton: true,
        href: '/projects/start-full-case/v2/case-details.html'
      }) }}

      <h2 class="govuk-heading-m">Version 1
        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}
      </h2>

      <p>If we handle all appeal procedures in our service.</p>

      {{ govukButton({
        text: "View prototype",
        isStartButton: true,
        href: '/projects/start-full-case/v1/case-details.html'
      }) }}

    </div>
  </div>
{% endblock %}
