{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Change the appeal procedure" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
	  <form method="post">

      {{ govukRadios({
        name: "procedure",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "written",
            text: "Written representations"
          } if data['procedure'] != 'written',
          {
            value: "hearing",
            text: "Hearing"
          } if data['procedure'] != 'hearing',
          {
            value: "inquiry",
            text: "Inquiry"
          } if data['procedure'] != 'inquiry'
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
