{% if data['statement-reviewed'] == 'yes' and data['review-outcome'] != 'Reject statement'  %}

  {{ govukTable({
    caption: "Accepted statements",
    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
    firstCellIsHeader: false,
    head: [
      {
        text: "Rule 6 party"
      },
      {
        text: "Submitted"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
          {
            text: "Saint Rita’s Community Association"
          },
          {
            html: 3 | daysAgo
          },
          {
            html: "<a href='statement-view?acceptedStatement=&address-added=yes&redactedStatement=&statement-withdrawn=&manual-ip-statement=&statement-rejected=&extra-document='>View<span class='govuk-visually-hidden'> statement from Saint Rita’s Community Association</span></a>"
          }
      ]
    ]
  }) }}

{% else %}

  <p class="govuk-body">
    Awaiting statements
  </p>

{% endif %}
