{% extends "layouts/PINS.html" %}

{% set title = 'The environmental services team needs to review the case' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block questions %}

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p class="govuk-body">
      Email <a href='#' class='govuk-link'>environmentalservices@planninginspectorate.gov.uk</a> to request an environmental review.
    </p>

{% endblock %}
