 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="LPA statement review" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2110166</span>

      <h1 class="govuk-heading-l">Check your answers</h1>

    <form action="lpa-statement-incomplete" method="post" class="govuk-!-margin-top-6" novalidate>
 
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Review outcome
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['issue-decision' ]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> outcome</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Reasons
          </dt>
          <dd class="govuk-summary-list__value">
           <li> {{ data['reason-incomplete' ] + "  " + data['whats-missing' ]  + data['what-reason' ] + " " or "Reason 1" }}</li>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="why-incomplete">Change<span class="govuk-visually-hidden">reason</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           New due date
          </dt>
          <dd class="govuk-summary-list__value">
            
           {{  ( data['dob-year']+ "-" + data['dob-month'] + "-" + data['dob-day'] )  | govukDate   }}

  
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="update-due-date">Change<span class="govuk-visually-hidden"> due date</span></a>
          </dd>
        </div>
      </dl>

     
      <p>Confirming will inform the relevant parties
        of the outcome
      </p>

{{ govukButton({
  text: "Confirm"
}) }}
    </form>

 


{% endblock %}



</div>
</div>