{% extends "layouts/PINS-post-mvp.html" %}

{% set title = 'appeal-2114328-added-document' %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          2114328-IP-comment.doc
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date received
        </dt>
        <dd class="govuk-summary-list__value">
          {{ 2 | daysAgo }}
        </dd>
        <dd class="govuk-summary-list__actions">
           
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Redaction status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['lpa-document-redaction'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="document-details">
            Change<span class="govuk-visually-hidden"> redacted status</span>
          </a>
        </dd>
      </div>
    </dl>
    <form action="upload-supporting-document" method="post"  novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Upload new version"
      }) }}

      {{ govukButton({
        text: "Remove current version",
        classes: "govuk-button--secondary"
      }) }}
    </div>
</form>
    <h2 class="govuk-heading-m">
      Document versions
    </h2>

    <p class="govuk-body">
      View and remove versions of this document
    </p>

    {% set versionHistory %}

      {{ govukTable({
        caption: "Version history",
        captionClasses: "govuk-heading-l govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Version"
          },
          {
            text: "Name"
          },
          {
            text: "Activity"
          },
          {
            text: "Redaction status"
          },
          {
            text: "Action"
          }
        ],
        rows: [
          [
            {
              text: "2"
            },
            {
              html: "<p class='govuk-body'><a href='#' class='govuk-link'>appeal-2114328-added-document</a></p>
              <p class='govuk-body'><strong class='govuk-tag'>Current version</strong></p>"
            },
            {
              text: ""
            },
            {
              text: "Redacted"
            },
            {
              html: "<a href='govuk-link'>Remove</a>"
            }
          ],
          [
            {
              text: "1"
            },
            {
              html: "<p class='govuk-body'><a href='#' class='govuk-link'>appeal-2114328-added-document</a></p>"
            },
            {
              text: ""
            },
            {
              text: "Unredacted"
            },
            {
              html: "<a href='govuk-link'>Remove</a>"
            }
          ]
        ]
        }) }}

    {% endset -%}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukDetails({
      summaryHtml: 'Version history',
      html: versionHistory
    }) }}

  </div>
</div>

{% endblock %}
