{% macro codeBlock(code, language="html") -%}
<div class="code-wrapper">
  {# <button id="copycodebutton" class="govuk-button govuk-button--secondary govuk-button--code-copier" onclick="copyCode(this)">Copy code</button> #}
  <pre class="code-snippet"><code class="language-{{ language }}">{{ code | replace('\n  ', '\n') | escape }}</code></pre>
</div>
{%- endmacro %}
