<!-- Dashed box upload area -->
    <div class="moj-multi-file-upload__upload"
      style="border: 2px dashed #b1b4b6;padding-left: 16px; padding-top: 60px; padding-bottom: 60px; align-items: center; background-color: #ffffff; margin-bottom: 30px; display: flex;">
      <div class="govuk-form-group" style="margin-bottom: 0; display: flex; align-items: center;">
        <label class="govuk-button govuk-button--secondary" for="documents" style="margin-bottom: 0; cursor: pointer;">
          Choose files
        </label>
        <p class="govuk-body" style="margin: 0; margin-left: 10px;">or drop files</p>
        <input
          class="govuk-file-upload moj-multi-file-upload__input"
          id="documents"
          name="documents"
          type="file"
          multiple
          style="position: absolute; left: -9999px;">
      </div>
    </div>
    <!-- End dashed box upload area -->

    <div class="govuk-form-group" id="filesTableGroup">
      <p class="govuk-error-message" id="filesTableError" style="display: none;">
        <span class="govuk-visually-hidden">Error:</span> Wait for all files to finish uploading
      </p>
      <table class="govuk-table" id="filesTable">
        <colgroup>
          <col style="width: 30%;">
          <col style="width: 45%;">
          <col style="width: 5%;">
        </colgroup>

        <tbody class="govuk-table__body">
          {% if dummyFilesCount %}
            {% for i in range(1, dummyFilesCount + 1) %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">dummy-file-{{ i }}.pdf</a>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">Uploaded</strong>
                </td>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link remove-link">Remove</a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>

