{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Documents" %}
{% set pageName = title %}
{% set navId = 'documents' %}
{% set back = false %}

{% block content %}
  {% include "/projects/start-full-case/v4/_includes/prompt.html" %}
  {% include "/projects/start-full-case/v4/_includes/h1.html" %}
  {% include "/projects/start-full-case/v4/_includes/nav.html" %}

  <h1 class="govuk-heading-l"> {{title}} </h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Cross-team correspondence"
            },
            value: {
              html: '0 documents'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "LPA"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspector correspondence"
            },
            value: {
              text: "3 documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Appellant costs application"
            },
            value: {
              text: "1 documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "LPA costs application"
            },
            value: {
              text: "1 documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              text: "3 documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
