{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Hearing" %}
{% set pageName = title %}
{% set navId = 'hearing' %}
{% set back = false %}

{% block content %}
  {% include "/projects/start-full-case/v4/_includes/prompt.html" %}
  {% include "/projects/start-full-case/v4/_includes/h1.html" %}
  {% include "/projects/start-full-case/v4/_includes/nav.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"> {{title}} </h1>

      {% if data.hearing %}
        <p><a class="govuk-link" href="/projects/start-full-case/v4/cancel-hearing">Cancel hearing</a></p>
      {% else %}
        {{ govukButton({
          text: 'Set up hearing',
          href: '/projects/start-full-case/v4/add-hearing'
        }) }}
      {% endif %}

      {% set address %}
        {{appAddress({ address: data.heargin.address })}}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              html: data.hearing.date | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing",
                  text: "Change",
                  visuallyHiddenText: "Date"
                }
              ]
            }
          } if data.hearing.date,
          {
            key: {
              text: "Time"
            },
            value: {
              html: data.hearing.time
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing/time",
                  text: "Change",
                  visuallyHiddenText: "Time"
                }
              ]
            }
          } if data.hearing.time,
          {
            key: {
              text: "Do you know the address of where the hearing will take place?
  "
            },
            value: {
              html: data.hearing.hasAddress
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing/has-address",
                  text: "Change",
                  visuallyHiddenText: "whether you know the hearing address"
                }
              ]
            }
          } if data.hearing.hasAddress,
          {
            key: {
              text: "Address"
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing/address",
                  text: "Change",
                  visuallyHiddenText: "Hearing address"
                }
              ]
            }
          } if data.hearing.hasAddress == 'Yes'
        ]
      }) if data.hearing }}

      <h2 class="govuk-heading-m">Hearing estimates</h2>

      {% if data.hearingEstimates %}
        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Estimated preparation time"
            },
            value: {
              html: data.hearingEstimates.estimatedPreparationTime | days
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing-estimates",
                  text: "Change",
                  visuallyHiddenText: "Estimated preparation time"
                }
              ]
            }
          } if data.hearingEstimates.estimatedPreparationTime,
          {
            key: {
              text: "Estimated sitting time"
            },
            value: {
              html: data.hearingEstimates.estimatedHearingTime | days
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing-estimates",
                  text: "Change",
                  visuallyHiddenText: "Estimated sitting time"
                }
              ]
            }
          } if data.hearingEstimates.estimatedHearingTime,
          {
            key: {
              text: "Estimated reporting time"
            },
            value: {
              html: data.hearingEstimates.estimatedReportingTime | days
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/edit-hearing-estimates",
                  text: "Change",
                  visuallyHiddenText: "Estimated reporting time"
                }
              ]
            }
          } if data.hearingEstimates.estimatedReportingTime
        ]
      }) }}
      {% else %}
        <p><a class="govuk-link" href="/projects/start-full-case/v4/add-hearing-estimates">Add hearing estimates</a></p>
      {% endif %}

    </div>
  </div>

{% endblock %}
