{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Overview" %}
{% set pageName = title %}
{% set navId = 'overview' %}
{% set back = false %}

{% block content %}
  {% include "/projects/start-full-case/v4/_includes/prompt.html" %}
  {% include "/projects/start-full-case/v4/_includes/h1.html" %}
  {% include "/projects/start-full-case/v4/_includes/nav.html" %}

  <h1 class="govuk-heading-l">
    Overview
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <h2 class="govuk-visually-hidden"> Case overview </h2> #}

      {% if application.status == 'Decision ready to issue' %}
        <div class="govuk-button-group">
          <a href="#" class="govuk-link">Issue decision</a>
        </div>
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Site address"
            },
            value: {
              text: appAddress({address: application.site.address})
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Site address"
                }
              ]
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: application.type
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Procedure"
            },
            value: {
              text: data.appealProcedure
            },
            actions: {
              items: [
                {
                  href: "<a href='/projects/start-full-case/v4/edit-procedure'>Change</a>",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          } if application.procedure,
          {
            key: {
              text: "Allocation"
            },
            value: {
              text: 'F / General allocation'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Linked appeals"
            },
            value: {
              html: '<a href="#">21/725284</a>'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Related appeals"
            },
            value: {
              html: '<a href="#">21/725284</a>'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "LPA application reference"
            },
            value: {
              html: '14012025HAS'
            }
          },
          {
            key: {
              text: "Costs"
            },
            value: {
              html: '<a href="#">Appellant costs application</a><br><a href="#">LPA costs application</a>'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Timetable</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Start date"
            },
            value: {
              text: "19 December 2024"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "LPAQ due date"
            },
            value: {
              text: "1 January 2025"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "IP comments due date"
            },
            value: {
              text: "31 December 2024"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Team</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              html: 'sharedmailbox@thing.com'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Case officer"
            },
            value: {
              html: application.caseOfficer or 'Unassigned'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspector"
            },
            value: {
              html: 'Unassigned'
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Appellant</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: application.appellant.firstName + ' ' + application.appellant.lastName
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: application.appellant.emailAddress
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              text: "Whatever"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Agent</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Ryan Marshall"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "marshall@limited.com"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              text: "Marshall Ltd"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      {% if application.procedure == 'Inquiry' %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Rule 6 parties</h2>

        {# <p>
          <a href="#">Rule 6 parties</a>
        </p> #}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Rule 6 parties"
              },
              value: {
                text: "6 parties"
              },
              actions: {
                items: [
                  {
                    href: "Item URL",
                    text: "Add",
                    visuallyHiddenText: "Rule 6 parties"
                  }
                ]
              } if rule6Parties.length == 0,
              actions: {
                items: [
                  {
                    href: "Item URL",
                    text: "Manage",
                    visuallyHiddenText: "Rule 6 parties"
                  }
                ]
              }
            }
          ]
        }) if 1==1}}
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Withdraw</h2>

      <p><a href="#">Withdraw</a></p>

    </div>
  </div>

{% endblock %}
