{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Questionnaire" %}
{% set pageName = title %}
{% set navId = 'questionnaire' %}

{% block content %}
  {% include "/projects/start-full-case/v4/_includes/prompt.html" %}
  {% include "/projects/start-full-case/v4/_includes/h1.html" %}
  {% include "/projects/start-full-case/v4/_includes/nav.html" %}

  <h1 class="govuk-heading-l"> {{title}} </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {# <p class="govuk-body">Hard to know how to validate the LPAQ (Billie)</p> #}

      <h2 class="govuk-heading-m govuk-!-margin-top-4">1. Constraints, designations and other issues</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'Is this the correct type of appeal?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'constraints/appropriate?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Does the development change a listed building?'
            },
            value: {
              html: '
                <ul class="govuk-list govuk-list--bullet">
                  <li>Yes<br>
                    <a href="#">1282049</a><br>
                    Grade II listed building<br>
                    150, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: ''
            },
            value: {
              html: ''
              
              
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Does the development affect the setting of listed buildings?'
            },
            value: {
              html: 'Yes<br>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="#">1282050</a><br>
                    Grade II listed building<br>
                    151, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                  <li>
                    <a href="#">1282051</a><br>
                    Grade II listed building<br>
                    152, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Affected listed buildings'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Would the development affect a scheduled monument?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-scheduled-monument-check?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Conservation area map and guidance'
            },
            value: {
              html: '<ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="#" class="govuk-link">BS3 4AL Conservation-map.pdf</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">BS3 4AL Conservation-guidance.doc</a>
                      </li>
                    </ul>'
            },
            actions: {
              items: [
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Change<span class="govuk-visually-hidden"> conservation area map and guidance</span>'
                }
               
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Conservation area map and guidance'
            },
            value: {
              html: 'Not applicable'
            },
            actions: {
              items: [
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Add<span class="govuk-visually-hidden"> to conservation area map and guidance</span>'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Would the development affect a protected species?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'constraints/protected-species?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Is the site in a green belt?'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/green-belt?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Is the site in an area of outstanding natural beauty?'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/area-of-outstanding-natural-beauty?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Is the development in, near or likely to affect any designated sites?'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/designated-sites?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Tree Preservation Order'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/tree-preservation-order?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Does the development relate to anyone claiming to be a Gypsy or Traveller?'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/gypsy-or-traveller?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Definitive map and statement extract'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/public-right-of-way?cya=true',
                  html: 'Change'
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">2. Environmental impact assessment</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'What is the development category?'
            },
            value: {
              html: 'Schedule '+ (data['environment-schedule'] or '1')
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Environmental statement and supporting information'
            },
            value: {
              html: '<a href="#">example-file.pdf</a>'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Screening direction'
            },
            value: {
              html: '<a href="#">example-file.pdf</a>'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Description of development'
            },
            value: {
              html: 'Test description'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Is the development in, partly in, or likely to affect a sensitive area?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Does the development meet or exceed the threshold or criteria in column 2?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'What is the development category?'
            },
            value: {
              html: 'Schedule '+ (data['environment-schedule'] or '1')
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Have you issued a screening opinion?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Screening opinion'
            },
            value: {
              html: 'Schedule '+ (data['environment-schedule'] or '1')
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'What is the development category?'
            },
            value: {
              html: 'Schedule '+ (data['environment-schedule'] or '1')
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          }
          
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">3. Notifying relevant parties</h2>

    </div>
  </div>
{% endblock %}
