{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Questionnaire" %}
{% set pageName = title %}
{% set navId = 'questionnaire' %}

{% block content %}
  {% include "/projects/start-full-case/v4/_includes/prompt.html" %}
  {% include "/projects/start-full-case/v4/_includes/h1.html" %}
  {% include "/projects/start-full-case/v4/_includes/nav.html" %}

  <h1 class="govuk-heading-l"> {{title}} </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {# <p class="govuk-body">Hard to know how to validate the LPAQ (Billie)</p> #}

      <h2 class="govuk-heading-m govuk-!-margin-top-4">Constraints, designations and other issues</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'Is the appeal type appropriate?'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'constraints/appropriate?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Changed listed buildings'
            },
            value: {
              html: '
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="#">1282049</a><br>
                    Grade II listed building<br>
                    150, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Changed listed buildings'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Affected listed buildings'
            },
            value: {
              html: '
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="#">1282050</a><br>
                    Grade II listed building<br>
                    151, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                  <li>
                    <a href="#">1282051</a><br>
                    Grade II listed building<br>
                    152, York Road, Bedminster, Bristol, BS3 4AL
                  </li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Affected listed buildings'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-listed-building-details?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Affects a scheduled monument'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/affected-scheduled-monument-check?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Conservation area map and guidance'
            },
            value: {
              html: '<ol class="govuk-list govuk-list--number">
                      <li>
                        <a href="#" class="govuk-link">BS3 4AL Conservation-map.pdf</a>
                      </li>
                      <li>
                        <a href="#" class="govuk-link">BS3 4AL Conservation-guidance.doc</a>
                      </li>
                    </ol>'
            },
            actions: {
              items: [
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Manage<span class="govuk-visually-hidden"> conservation area map and guidance</span>'
                },
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Add<span class="govuk-visually-hidden"> to conservation area map and guidance</span>'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Conservation area map and guidance'
            },
            value: {
              html: 'Not applicable'
            },
            actions: {
              items: [
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Add<span class="govuk-visually-hidden"> to conservation area map and guidance</span>'
                }
              ]
            }
          } if data['answers'] == 'empty',
          {
            key: {
              html: 'Protected species'
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: 'constraints/protected-species?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Green belt'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/green-belt?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Area of outstanding nautural beauty'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/area-of-outstanding-natural-beauty?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Designated sites'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/designated-sites?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Tree preservation order'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/tree-preservation-order?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Gypsy or traveller'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/gypsy-or-traveller?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Public right of way'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'constraints/public-right-of-way?cya=true',
                  html: 'Change'
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Environmental impact assessment</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'Schedule type'
            },
            value: {
              html: 'Schedule '+ (data['environment-schedule'] or '1')
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          },
          {
            key: {
              html: 'Description of development'
            },
            value: {
              html: 'Tourism and leisure'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['environment-schedule'] == '2',
          {
            key: {
              html: 'Affects a sensitive area'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] == 'empty' and data['environment-schedule'] == '2',
          {
            key: {
              html: 'Affects a sensitive area'
            },
            value: {
              html: 'Yes<br>(text about the sensitive area)'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['answers'] != 'empty' and data['environment-schedule'] == '2',
          {
            key: {
              html: 'Meets or exceeds the threshold or criteria in column 2?'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Change'
                }
              ]
            }
          } if data['environment-schedule'] == '2',
          {
            key: {
              html: 'Screening opinion and correspondence'
            },
            value: {
              html: 'No'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Add'
                }
              ]
            }
          } if data['answers'] == 'empty' and data['environment-schedule'] == '2',
          {
            key: {
              html: 'Screening opinion and correspondence'
            },
            value: {
              html: '<ul>
                      <li>
                        <a href="#" class="govuk-link">screening-opinion-appeal-2110166.pdf</a>
                      </li>
                    </ul>'
            },
            actions: {
              items: [
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Manage'
                },
                {
                  href: 'environment/schedule-type?cya=true',
                  html: 'Add'
                }
              ]
            }
          } if data['answers'] != 'empty' and data['environment-schedule'] == '2',
          {
            key: {
              html: 'Environmental assessment and supporting information'
            },
            value: {
              html: '<ul>
                      <li>
                        <a href="#" class="govuk-link">Environmental-statement-appeal-2110166.pdf</a>
                      </li>
                    </ul>'
            },
            actions: {
              items: [
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Manage<span class="govuk-visually-hidden"> Environmental assessment and supporting information</span>'
                },
                {
                  href: 'notified/notified-who?cya=true',
                  html: 'Add<span class="govuk-visually-hidden"> Environmental assessment and supporting information</span>'
                }
              ]
            }
          } if data['answers'] != 'empty',
          {
            key: {
              html: 'Screening direction'
            },
            value: {
              html: '<ul>
                      <li>
                        <a href="#" class="govuk-link">Environmental-screening-direction-appeal-2110166.pdf</a>
                      </li>
                    </ul>'
            },
            actions: {
              items: [
                {
                  href: '#',
                  html: 'Manage<span class="govuk-visually-hidden"> screening direction</span>'
                },
                {
                  href: '#',
                  html: 'Add<span class="govuk-visually-hidden"> screening direction</span>'
                }
              ]
            }
          } if data['answers'] == 'empty'
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Etc</h2>

    </div>
  </div>
{% endblock %}
