 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="LPA final comment review" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
    <span class="govuk-caption-l">Appeal 2110166</span>
      <h1 class="govuk-heading-l">LPA final comment</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              html: "Final comment content"
            },
            value: {
              html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at nunc mi. Donec maximus risus nec interdum vestibulum. Cras laoreet vestibulum bibendum. Cras lectus nulla, efficitur nec fringilla ac, cursus ac lectus. 
              Nam interdum lorem sed lacus feugiat faucibus in vitae tellus. Aliquam erat volutpat. Donec aliquam tincidunt vehicula. Vivamus id elit ac libero rhoncus pulvinar. Etiam blandit posuere elit id rhoncus. 
              Mauris nulla erat, posuere ut nisi vitae, pulvinar gravida arcu.
              <br><br>
              Morbi ac mauris enim. Curabitur magna lacus, eleifend in euismod in, accumsan convallis velit. Quisque bibendum urna id molestie hendrerit. Cras mattis mi non lobortis eleifend. 
              Quisque nisl purus, sollicitudin interdum convallis a, tristique vulputate mi. Mauris eget nisl in massa mollis luctus. Vestibulum consectetur maximus cursus. Integer molestie ipsum et nunc eleifend venenatis. 
              Aliquam posuere dui et felis tempor tristique. Aenean porta vehicula imperdiet. Nunc sed egestas risus, ut fringilla orci. Proin lobortis sapien interdum nunc iaculis rutrum. Phasellus consectetur vitae dui in vulputate.
              <br> <a href'#'>Read more</a> 
               "
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "statement content"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              text: "example.pdf"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "<a href='#'> Manage</a> | <a href='#'> Add</a> ",
                  visuallyHiddenText: "comment pdf"
                }
              ]
            }
          }
        ]
      }) }}

       

    </div>
  </div>
 
 

    <form action="" method="post" class="govuk-!-margin-top-6" novalidate>

      

        {{ govukRadios({
          name: "issue-decision",
          fieldset: {
            legend: {
              text: "Do the documents need redacting?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "both~redact-both",
              text: "Yes, both the final comment and supporting documents"
            },
            {
              value: "statement~redact-lpa-final-comment",
              text: "Yes, only the final comment"
            }
            ,
            {
              value: "supporting-docs~redact-supporting-documents",
              text: "Yes, only the supporting documents"
            } 
            ,
            {
          divider: "or"
        },
            {
              value: "no~lpa-final-comment-review",
              text: "No redaction needed"
            }  
             
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

 


{% endblock %}
