 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="LPA statement review" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	{% set html %}
    	  <p class="govuk-notification-banner__heading">
    	    The appeal is ready for review
    	  </p>
    	  <p>
          <a class="govuk-notification-banner__link" href="appellant-case.html">
            Start the review
          </a>
        </p>
    	{% endset %}

    
    <span class="govuk-caption-l">Appeal 43687</span>
  

      <h1 class="govuk-heading-l">Why is the LPA final comment incomplete?</h1>

 <p>Select all that apply</p>
 
 

    <form action="update-due-date" method="post" class="govuk-!-margin-top-6" novalidate>

      
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "comment-why-reasons",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Appeal not submitted on time",
            text: "Appeal not submitted on time"
          },
          {
            value: "Supporting documents not submitted on time",
            text: "Supporting documents not submitted on time"
          },
          {
            value: "Appellant does not have the right to appeal",
            text: "Appellant does not have the right to appeal"
          },
          {
            value: "Another reason",
            text: "Another reason"
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}
        

    </form>

 


{% endblock %}



</div>
</div>