{% extends "layouts/PINS-Simple.html" %}

{% set title = "Check details and set up inquiry" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.hearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Inquiry date"
            },
            value: {
              html: data.inquiry.date | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/add-inquiry",
                  text: "Change",
                  visuallyHiddenText: "Inquiry date"
                }
              ]
            }
          },
          {
            key: {
              text: "Inquiry time"
            },
            value: {
              html: data.inquiry.time
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/add-inquiry",
                  text: "Change",
                  visuallyHiddenText: "Inquiry time"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know the address of where the inquiry will take place?
"
            },
            value: {
              html: data.inquiry.hasAddress
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/add-inquiry/has-address",
                  text: "Change",
                  visuallyHiddenText: "if you know the inquiry address"
                }
              ]
            }
          },
          {
            key: {
              text: "INquiry address"
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: "/projects/start-full-case/v4/add-inquiry/address",
                  text: "Change",
                  visuallyHiddenText: "Inquiry address"
                }
              ]
            }
          } if data.hearing.hasAddress == 'Yes'
        ]
      }) }}

      <p>We’ll send an email to the appellant and LPA to tell them about the inquiry.</p>

      <form method="post">
        {{ govukButton({
          text: "Set up inquiry"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
