{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Check details and update decision letter" %}
{% set pageName = title + ' - Planning Inspectorate' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 7001224</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
            Decision letter
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
              decision-letter-7001224.pdf
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="document-review-decision">Change<span class="govuk-visually-hidden"> decision letter</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correction notice
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason' ] or '(Reason for updating the decision letter)' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="document-review">Change<span class="govuk-visually-hidden"> reason for updating the decision letter</span></a>
          </dd>
        </div>

      </dl>

      <p class="govuk-body">
        We will send the updated decision letter to the relevant parties.
      </p>

      <p class="govuk-body">
        <a href="preview-email" class="govuk-link">Preview email</a>
      </p>

      {{ govukButton({
        href: "decision?success=true&reissued=Yes",
        text: "Update decision letter"
      }) }}

    </div>
  </div>

{% endblock %}
