{% extends "layouts/bo.html" %}

{% set title = "Check details and update appeal procedure" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Procedure"
            },
            value: {
              text: data.editAppealProcedure.procedure
            },
            actions: {
              items: [
                {
                  href: "/main/cases/:appealId/edit-procedure" | replace(':appealId', application.id),
                  text: "Change",
                  visuallyHiddenText: "Procedure"
                }
              ]
            }
          }
        ]
      }) }}



      <!-- When it’s being changed from a hearing -->
      {% if application.hearing and data.editAppealProcedure.procedure != 'Hearing' %}
        <p>We’ll send an email to the appellant and LPA to tell them that we’ve changed the procedure and cancelled the hearing.</p>
      {% elseif application.inquiry and data.editAppealProcedure.procedure != 'Inquiry' %}
        <p>We’ll send an email to the appellant and LPA to tell them that we’ve changed the procedure and cancelled the inquiry.</p>
      {% else %}
        <p>We’ll send an email to the appellant and LPA to tell them that we’ve changed the appeal procedure.</p>
      {% endif %}



      <form method="post">
        {{ govukButton({
          text: "Update appeal procedure"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
