{% extends "layouts/bo.html" %}

{% set title = "Do you know the expected number of days to carry out the inquiry" %}
{% set pageName = title %}
{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set daysHtml %}
        {{ govukInput({
          id: "editProcedure[inquiryDays]",
          name: "editProcedure[inquiryDays]",
          label: {
            text: 'Expected number of days to carry out the inquiry',
            isPageHeading: true,
            classes: 'govuk-label--s'
          },
          value: data.editProcedure.inquiryDays or _case.inquiry.days,
          classes: "govuk-input--width-2",
          suffix: {
            text: "days"
          }
        }) }}
      {% endset %}

      <form method="post">
        <span class="govuk-caption-l">Appeal {{_case.id}} - update appeal procedure</span>
        {{ govukRadios({
          name: "editProcedure[hasInquiryDays]",
          fieldset: {
            legend: {
              text: "Do you know the expected number of days to carry out the inquiry?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.editProcedure.hasInquiryDays or _case.inquiry.hasDays,
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: daysHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
