//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import "PINS-header";

// Add extra styles here

.search-box {
	border: 1px solid  $govuk-border-colour;
	border-top:4px solid $govuk-brand-colour;
	padding: 1em;
	@include govuk-responsive-margin(6, "bottom");
	
	@include govuk-media-query($from: tablet) {
		display: flex;
		flex-direction: row;
	}
	
	.govuk-form-group {
		@include govuk-media-query($from: tablet) {
			flex: 1;
			}
		
	}
	
	
	.govuk-button {
		
		@include govuk-media-query($from: tablet) {
			margin-top: 4.2em;
			margin-left: 1em;
		}
	}
	
	
}