{% extends "layouts/bo.html" %}

{% set title = "Appeal procedure" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal 6021709 - start case</span>
        {{ govukRadios({
          name: "startCase[procedure]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.startCase.procedure or appeal.procedure,
          items: [
            {
              value: "Written representations",
              text: "Written representations"
            },
            {
              value: "Hearing",
              text: "Hearing"
            },
            {
              value: "Inquiry",
              text: "Inquiry",
              conditional: {
                html: govukTextarea({
                  label: {
                    text: "Enter reason"                  
                  },
                rows: 2 
                })
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}