{% extends "layouts/PINS.html" %}

{% set pageName = "Issuing decisions" %}
{% set title = pageName %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

	  <h2 class="govuk-heading-m">
      Version 1

		{{govukTag({
      text: "In progress",
      classes: "govuk-!-margin-left-2 govuk-tag--yellow"
    })}}

		<!-- Status tag options

		{{govukTag({
      text: "New",
      classes: "govuk-!-margin-left-2 govuk-tag--green"
    })}}

    {{govukTag({
      text: "In progress",
      classes: "govuk-!-margin-left-2 govuk-tag--yellow"
    })}}

    {{govukTag({
      text: "Ready for review",
      classes: "govuk-!-margin-left-2 govuk-tag--blue"
    })}}

    {{govukTag({
      text: "Ready for research",
      classes: "govuk-!-margin-left-2 govuk-tag--green"
    })}}

    {{govukTag({
      text: "Researched",
      classes: " govuk-!-margin-left-2 govuk-tag--green"
    })}}

    -->

    </h2>

    <p class="govuk-body">
      As an Inspector I want to be able to issue appeal decisions.
    </p>

  	{{ govukButton({
  	  text: "View prototype",
  	  href: "v1/case?status=determination",
  	  isStartButton: true
  	}) }}

  </div>
</div>
{% endblock %}
