{% extends "layouts/PINS-Header-Nav.html" %}

{% set pageName="Case details" %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	{% set emailappelant %}
          <p class="govuk-notification-banner__heading">
            This appeal has been closed. 
          </p>
          <p>You must email the appellant to ask them to resubmit an appeal of the correct type. The email must include the final date resubmission is possible.</p>
        {% endset %}

        {% set horizonrefneeded %}
          <p class="govuk-notification-banner__heading">
            This appeal is awaiting transfer.
          </p>
          <p>This appeal must be transferred to Horizon. When this is done, <a href="change-appeal-horizon-id">update the appeal with the new horizon reference</a>.</p>
        {% endset %}

        {% set newhorizon %}
          <p class="govuk-notification-banner__heading">
            Horizon reference added.</p>
            <p>You must email the appellant to tell them of the change in appeal type and let them know what they need to provide.
          </p>
        {% endset %}

        {% if data ['closeAppeal'] === "yes" %}
        {% elseif data ['appealResubmit'] === "yes" %}
            {{ govukNotificationBanner({
              html: emailappelant,
              type: "success"
            }) }}
        {% elseif data ['appealResubmit'] === "no" and data ['horizonid'] %}
            {{ govukNotificationBanner({
              html: newhorizon,
              type: "success"
            }) }}
            {% elseif data ['appealResubmit'] === "no" %}
            {{ govukNotificationBanner({
              html: horizonrefneeded,
              type: "success"
            }) }}
        {% endif %}

    <!--	<span class="govuk-caption-l">Appeal 2110166</span> -->
    <span class="govuk-caption-l">Appeal 2110166</span>
    	<h1 class="govuk-heading-l">Case details</h1>

      {% if data ['closeAppeal'] === "yes" %}
      <div class="govuk-inset-text">
            {{ govukTag({
              text: "Withdrawn",
              classes: "govuk-tag--grey govuk-!-margin-bottom-4"
            })}}
            <p>This appeal was withdrawn by the appellant on 21 September 2023.</p><p>You can <a href="view-letter">view the withdrawal request (opens in a new tab)</a>.</p>
      </div>
      {% elseif data ['appealResubmit'] === "yes" %}
      <div class="govuk-inset-text">
        {{ govukTag({
          text: "Closed",
          classes: "govuk-tag--grey govuk-!-margin-bottom-4"
        })}}
        <p>This appeal needed to change to {{ data ['appealType'] }}.</p><p>The appellant has until 30 November 2023 to resubmit.</p>
      </div>

      {% elseif data ['appealResubmit'] === "no" and data ['horizonid'] %}
      <div class="govuk-inset-text">
      {{ govukTag({
        text: "Transferred",
        classes: "govuk-tag--grey govuk-!-margin-bottom-4"
      })}}
        <p>This appeal needed to change to {{ data ['appealType'] }}.</p><p>It has been transferred to Horizon with the reference <a href="#">{{ data ['horizonid'] }}</a>.</p>
      </div>

      {% elseif data ['appealResubmit'] === "no" %}
      {{ govukTag({
        text: "Awaiting transfer",
        classes: "govuk-tag--red"
      })}}
      <div class="govuk-inset-text">
      <p>This appeal needs to change to {{ data ['appealType'] }}.</p><p>This appeal must be transferred to Horizon. When this is done <a href="change-appeal-horizon-id">update the appeal with the new horizon reference</a>.</p>
    </div>
 
              {% else %}
                  {{ govukTag({
                    text: "Ready to start",
                    classes: "govuk-tag--green govuk-!-margin-bottom-4"
                  })}}
                {% endif %}
      

      {% include "/includes/appeal-content/lpa-has-appeal-meta.html" %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    	<!-- {{ govukSummaryList({
    	  classes: 'govuk-summary-list--no-border govuk-!-margin-top-6',
    	  rows: [
    	    {
    	      key: {
    	        text: "Site address"
    	      },
    	      value: {
    	        text: "Address line 1, Address line 2, Town or city, Postcode"
    	      }
    	    },
    	    {
    	      key: {
    	        text: "Local planning authority"
    	      },
    	      value: {
    	        text: "Council name"
    	      }
    	    }
    	  ]
    	}) }} -->

      <div class="govuk-accordion govuk-!-margin-top-9" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Case overview
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            {{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              rows: [
                [
                  {
                    text: "Appeal type"
                  },
                  {
                    text: "Householder appeal (HAS)"
                  }
                ],
                [
                  {
                    text: "Case procedure"
                  },
                  {
                    text: "Written"
                  }
                ],
                [
                  {
                    text: "Appellant name"
                  },
                  {
                    text: "Fiona Shell"
                  }
                ],[
                  {
                    text: "Agent name"
                  },
                  {
                    text: "Naomi Jonhson"
                  }
                ],[
                  {
                    text: "Linked appeal"
                  },
                  {
                    html: "<a href='.'>21/725284</a>"
                  }
                ],[
                  {
                    text: "Other appeals"
                  },
                  {
                    html: "<a href='.'>21/725234</a>"
                  }
                ],[
                  {
                    text: "Allocation details"
                  },
                  {
                    text: "F / General Allocation"
                  }
                ],[
                  {
                    text: "LPA reference"
                  },
                  {
                    text: "22/00118/FULL"
                  }
                ],[
                  {
                    text: "Decision"
                  },
                  {
                    text: "Not issued yet"
                  }
                ]
              ]
            }) }}
          
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Case timetable
              </span>
            </h2>
          </div>

          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          	{{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              rows: [
                [
                  {
                    text: "Start date"
                  },
                  {
                    text: 38 | daysAgo
                  }
                ],
                [
                  {
                    text: "LPA questionnaire due"
                  },
                  {
                    text: 31 | daysAgo
                  }
                ],
                [
                  {
                    text: "Site visit"
                  },
                  {
                    text: 3 | daysAgo
                  }
                ]
              ]
            }) }}
          
          </div>
        </div>

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Case documentation
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            {{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: false,
              head: [
                  {
                    text: "Documentation"
                  },
                  {
                    text: "Status"
                  },
                  {
                    text: "Due date"
                  },
                  {
                    text: "Action"
                  }
                ],
              rows: [
                [
                  {
                    text: "Appellant case"
                  },
                  {
                    text: "Received"
                  },
                  {
                    text: ""
                  },
                  {
                    html: "<a href='#'>View <span class='govuk-visually-hidden'>the appelant case</span></a>"
                  }
                ],
                [
                  {
                    text: "LPA questionnaire"
                  },
                  {
                    text: "Not received"
                  },
                  {
                    text: ""
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    text: "Withdrawal request"
                  },
                  {
                    text: "Uploaded"
                  },
                  {
                    text: ""
                  },
                  {
                    html: "<a href='#'>View <span class='govuk-visually-hidden'>the withdrawal request</span></a>"
                  }
                ]
              ]
            }) }}
                        
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Case team
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            {{ govukTable({
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              rows: [
                [
                  {
                    text: "Case officer"
                  },
                  {
                    html: "Robert Williams<br>robert.williams@planninginspectorate.gov.uk</a> "
                  }
                ],
                [
                  {
                    text: "Inspector"
                  },
                  {
                    text: ""
                  }
                ]
              ]
            }) }}
              
          </div>
        </div>
      </div>

    	<h3 class="govuk-heading-m govuk-!-margin-top-9">
        Audit history
      </h3>
    	<p class="govuk-body">
        <a href="history">View changes</a> that have been made to this account
      </p>

    </div>
  </div>



{% endblock %}
