{% extends "layouts/PINS-Header-Nav.html" %}

{% set pageName="Change appeal type" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2110166</span>
    <form action="confirm-resubmit" method="post">

      {{ govukDateInput({
        id: "final-date",
        namePrefix: "final-date",
        fieldset: {
          legend: {
            text: "What is the final date the appellant must resubmit by?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 11 2023"
        }
      }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
</div>


{% endblock %}

