{% extends "layouts/bo.html" %}

{% set title = "Do you want to make this the lead appeal or child appeal?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{_case.id}} - link case</span>
        {{ govukRadios({
          name: "addLinkedAppeal[relationship]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.addLinkedAppeal.relationship,
          items: [
            {
              value: "Lead appeal",
              text: "Lead appeal"
            },
            {
              value: "Child appeal",
              text: "Child appeal"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
