{% extends "layouts/bo.html" %}

{% set title = "Do you want to upload witnesses and their evidences?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - add LPA proof of evidence and witnesses</span>
        {{ govukRadios({
          name: "addLPAProofOfEvidenceAndWitnesses[hasWitnesses]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.addLPAProofOfEvidenceAndWitnesses.hasWitnesses,
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}