{% extends "layouts/PINS.html" %}

{% set pageName="Project name" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      Linked appeals
    </h1>

    <section class="govuk-!-margin-bottom-6">


	<h2 class="govuk-heading-m">Version 1
		{%- from "govuk/components/tag/macro.njk" import govukTag -%}

		{{govukTag({
      text: "New",
      classes: "govuk-!-margin-left-2 govuk-tag--green"
    })}}

		<!-- Status tag options

		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}

        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}

        -->


	</h2>

	<p class="govuk-body">As a BO user I want to link / unlink appeals so that I can process cases in combination to align the decision process and economise CO/inspector time resource</p>

  <!--
	<p class="govuk-body">Changes:  (delete as appropriate)</p>

	<ul class="govuk-list govuk-list--bullet">
        <li>
          lorem ipsum
        </li>
        <li>
          lorem ipsum
        </li>
      </ul>

	{% from "govuk/components/button/macro.njk" import govukButton %}

	{{ govukButton({
	  text: "View prototype",
	  href: "#",
	  isStartButton: true
	}) }}
-->
    </section>

  </div>

{% endblock %}
