{% extends "layouts/PINS.html" %}

{% set pageName="Case officer home" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
		<ul class="govuk-body">
			<li><a href="schedule-site-visit/site-visit-type.html">Go to site visit type</a></li>
			<li><a href="schedule-site-visit/schedule-site-visit.html">Go to schedule site visit</a></li>
		</ul>

  <h1 class="govuk-heading-l">National list</h1>


	{{ govukInput({
	  label: {
	    text: "Search cases",
	    classes: "govuk-label--m",
	    isPageHeading: false
	  },
	  classes: "",
	  hint: {
	    text: "Enter appeal ID or postcode"
	  },
	  id: "account-number",
	  name: "account-number",
	  inputmode: "",
	  spellcheck: false
	}) }}

	<div class="govuk-button-group">
	  {{ govukButton({
		  text: "Search",
		  href: "search-results"
	}) }}
	</div>


  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

	  <table class="govuk-table">
		  <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
		      <th scope="col" class="govuk-table__header">Appeal ID</th>
		      <th scope="col" class="govuk-table__header">Site address</th>
		      <th scope="col" class="govuk-table__header">Local planning authority</th>
		      <th scope="col" class="govuk-table__header">Appeal type</th>
		      <th scope="col" class="govuk-table__header">Status</th>
		    </tr>
		  </thead>
		  <tbody class="govuk-table__body">
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">2110166</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Ready to start</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">5793345</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">LPA questionnaire</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">1124611</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">Statement review</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="#">2322444</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Final comment review</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">1338987</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Arrange site visit</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">1234562</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--pink">Issue determination</strong></td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header"><a href="assign-members/case">1234563</a></th>
		      <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		      <td class="govuk-table__cell">Council name</td>
		      <td class="govuk-table__cell">Appeal type</td>
		      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Complete</strong></td>
		    </tr>
		  </tbody>
	</table>



	{% from "govuk/components/pagination/macro.njk" import govukPagination %}

	{{ govukPagination({
	  previous: {
	    href: "#"
	  },
	  next: {
	    href: "#"
	  },
	  items: [
	    {
	      number: 1,
	      current: true,
	      href: "#"
	    },
	    {
	      number: 2,
	      href: "#"
	    },
	    {
	      number: 3,
	      href: "#"
	    }
	  ]
	}) }}

  </div>
</div>

{% endblock %}
