{% extends "layouts/PINS-Simple.html" %}

{% set title = party.firstName + ' ' + party.lastName %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0',
      items: [
        {
          text: "Appeal 12345",
          href: "/projects/start-full-case/v4/case-details"
        },
        {
          text: "Rule 6 parties",
          href: "/projects/start-full-case/v4/rule-6-parties"
        },
        {
          text: title
        }
      ]
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukNotificationBanner({
        type: "success",
        text: flash
      }) if flash.length }}

      <h1 class="govuk-heading-l">
        {{title}}
        {{ govukTag({
          text: party.status,
          classes: party.status | rule6StatusColour
        }) }}
      </h1>

      {% set promptHtml %}
        {% if party.status == 'Awaiting review' %}
          <p>Rule 6 status was requested on {{party.dateReceived | govukDateTime}}.</p>
        {% elseif party.status == 'Invited' %}
          <p>Rule 6 status was approved on {{party.dateInvited | govukDateTime }}.</p>
        {% elseif party.status == 'Accepted' %}
          <p>The Rule 6 party created their account on {{party.dateAccepted | govukDateTime }}.</p>
        {% elseif party.status == 'Rejected' %}
          <p>Rule 6 status was rejected on {{party.dateRejected | govukDateTime }}.</p>
        {% elseif party.status == 'Withdrawn' %}
          <p>The Rule 6 party withdrew their request for Rule 6 status on {{party.dateWithdrawn | govukDateTime }}.</p>
        {% endif %}
        <div class="govuk-button-group">

          {% if party.status == 'Awaiting review' or party.status == 'Withdawn' %}
            {{ govukButton({
              text: "Approve",
              href: '/projects/start-full-case/v4/rule-6-parties/'+party.id+'/approve'
            })}}
          {% endif %}

          {% if party.status == 'Awaiting review' %}
            {{ govukButton({
              text: "Reject",
              classes: 'govuk-button--secondary',
              href: '/projects/start-full-case/v4/rule-6-parties/'+party.id+'/reject'
            })}}
          {% endif %}

          {% if party.status == 'Invited' %}
            <a class="govuk-link" href="#">Resend invite</a>
          {% endif %}

          {% if party.status == 'Awaiting review' or party.status == 'Invited' or party.status == 'Accepted' %}
            <a class="govuk-link" href="/projects/start-full-case/v4/rule-6-parties/{{party.id}}/withdraw">Withdraw</a>
          {% endif %}

        </div>
      {% endset %}

      {{ govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-padding-bottom-0'
      }) }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: party.emailAddress
            },
            actions: {
              items: [
                {
                  href: "edit",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Name of representative"
            },
            value: {
              text: title
            },
            actions: {
              items: [
                {
                  href: "edit/name",
                  text: "Change",
                  visuallyHiddenText: "Name of representative"
                }
              ]
            }
          },
          {
            key: {
              text: "Is the Rule 6 party an organisation?"
            },
            value: {
              text: party.hasOrganisation
            },
            actions: {
              items: [
                {
                  href: "edit/organisation",
                  text: "Change",
                  visuallyHiddenText: "if the Rule 6 party represents an organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: party.organisationName
            },
            actions: {
              items: [
                {
                  href: "edit/organisation",
                  text: "Change",
                  visuallyHiddenText: "Organisation name"
                }
              ]
            }
          } if party.organisationName,
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: party.phone
            },
            actions: {
              items: [
                {
                  href: "edit/phone",
                  text: "Change",
                  visuallyHiddenText: "Phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Rule 6 request"
            },
            value: {
              html: '<a href="#">Screenshot (JPG, 12MB)</a>'
            },
            actions: {
              items: [
                {
                  href: "edit/phone",
                  text: "Change",
                  visuallyHiddenText: "Request for Rule 6 status"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Statement</h2>

      <p class="govuk-body">Fugiat sunt labore in laborum do ullamco mollit anim. Tempor ad dolor qui. Consequat labore velit tempor dolore aute. Amet id incididunt ex elit sint ex sunt sit et. Ad consequat proident quis in ad aute mollit officia occaecat et incididunt ex exercitation duis quis.</p>


    </div>
  </div>
{% endblock %}
