{% extends "layouts/PINS-admin-post-mvp.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}
{% set pageId = 'elements' %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">

    {% include "/elements/includes/side-navigation.html" %}

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body-l">
        How we present data and documents for a case.
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      {% include "/elements/includes/case-details.html" %}

    </div>
  </div>

{% endblock %}
