{% extends "layouts/bo.html" %}

{% set title = "Date and time" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - set up hearing</span>
        <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: "Date",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "addHearing[date][day]",
              label: "Day",
              value: data.addHearing.date.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "addHearing[date][month]",
              label: "Month",
              value: data.addHearing.date.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "addHearing[date][year]",
              label: "Year",
              value: data.addHearing.date.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{appTimeInput({
          id: 'time',
          fieldset: {
            legend: {
              text: "Time",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'For example, 9:00 or 13:15'
          },
          hour: {
            name: "addHearing[time][hour]", 
            value: data.addHearing.time.hour or '10'
          },
          minute: {
            name: "addHearing[time][minute]", 
            value: data.addHearing.time.minute or '00'
          }
        })}}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
