{% extends "layouts/bo.html" %}

{% set title = "Appeal form" %}
{% set pageName = title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}
      <h3 class="govuk-notification-banner__heading">
        Appeal marked as incomplete
      </h3>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: "success"
    }) }}

      <span class="govuk-caption-l">
        Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %}
      </span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p class="govuk-body">
       <a href="/main/appeals/{{appeal.id}}/appeal-form/request-missing-information" class="govuk-link">Request missing information</a>
      </p>

      <!--Prepare appeal-->

      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-4">1. Appellant details</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Appellant’s contact details"
              },
              value: {
                html: "Jane Doe<br>Applicant Ltd."
              },

              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "appellant’s contact details"
                    }
                  ]
                }
            },
            {
              key: {
                text: "Appellant 2 contact details"
              },
              value: {
                html: "Jane Doe<br>Applicant Ltd.<br>ENF12345678"
              },

              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "appellant’s contact details"
                    }
                  ]
                }
            },
            {
              key: {
                text: "Agent’s contact details"
              },
              value: {
                html: "No agent"
              } if data['empty'] else
              {
                html: "Jane Doe<br>Applicant Ltd."
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "agent’s contact details"
                    }
                  ]
                }
            }

            ]
          }) }}
      </section>

      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-4">2. Site details</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "What is the address of the appeal site?"
              },
              value: {
                html: "1 Aubrey Road<br>London<br>SE1 1AA"
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "appeal site address"
                    }
                  ]
                }
            },
            {
              key: {
                text: "Grid reference"
              },
              value: {
                html: "62 33"
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "grid reference"
                    }
                  ]
                }
            },


            {
              key: {
                text: "What is the area of the appeal site?"
              },
              value: {
                html: "22 m²"
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "appeal site area"
                    }
                  ]
                }
              },

              {
                key: {
                  text: "What is your interest in the appeal site?"
                },
                value: {
                  html: "Owner"
                },
                actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "your interest in the appeal site"
                      }
                    ]
                  }
              },
              {
                  key: {
                    text: "What is your interest in the appeal site?"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Owner"
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "your interest in the appeal site"
                        }
                      ]
                    }
                },

                {
                  key: {
                    text: "Description of development"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Example description"
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "the description of development"
                        }
                      ]
                    }
                },
                {
                  key: {
                    text: "Do you live at the appeal site?"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Yes"
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "if you live at the appeal site"
                        }
                      ]
                    }
                },
                {
                  key: {
                    text: "Did you live at the appeal site when the local planning authority issued the enforcement notice?"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Yes"
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "if you lived at the appeal site when the local planning authority issued the enforcement notice"
                        }
                      ]
                    }
                },
                {
                  key: {
                    text: "Will an inspector need to access your land or property?"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Yes<br>The development is not visible from a public road."
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "if an inspector needs to access the land or property"
                        }
                      ]
                    }
                },
                {
                  key: {
                    text: "Are there any health and safety issues on the appeal site?"
                  },
                  value: {
                    html: "No"
                  } if data['empty'] else
                  {
                    html: "Yes<br>Construction works"
                  },
                  actions: {
                      items: [
                        {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "if there are any health and safety issues on the appeal site"
                        }
                      ]
                    }
                }



          ]
        }) }}
      </section>

      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-4">3. Application details</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Which local planning authority (LPA) do you want to appeal against?"
              },
              value: {
                html: "System Test Borough"
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "local planning authority"
                    }
                  ]
                }
            },
            {
              key: {
                text: "What is the enforcement reference number?"
              },
              value: {
                html: "No"
              } if data['empty'] else
              {
                html: "1234567"
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "the enforcement reference number"
                    }
                  ]
                }
            },
            {
              key: {
                text: "Enter the description of the alleged development"
              },
              value: {
                html: "2 storey extension to the rear of the property."
              },
              actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "description of development"
                    }
                  ]
                }
            }
          ]
        }) }}
      </section>

      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-8">4. Appeal details</h2>

        {{ govukSummaryList({
          classes: "app-summary-list--wider-actions",
          rows: [
          {
            key: {
              text: "Grounds and facts​"
            },
            value: {
              html: "Ground A"
            },
            actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "grounds and facts"
                  }
                ]
              }
          },
          {
            key: {
              text: "Did you apply for planning permission and pay the application fee?​"
            },
            value: {
              html: "Yes"
            },
            actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "if you applied for planning permission and paid the application fee"
                  }
                ]
              }
          },
          {
            key: {
              text: "Grounds and facts supporting documents​"
            },
            value: {
              html: "<a href=’#’>example-file.pdf</a>"
            },
            actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "if you applied for planning permission and paid the application fee"
                  }
                ]
              }
          },
          {
            key: {
              text: "How would you prefer us to decide your appeal?"
            },
            value: {
              html: "Written representations"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "how would you prefer us to decide your appeal?"
                }
              ]
            }
          },
          {
            key: {
              text: "Why would you prefer this appeal procedure?"
            },
            value: {
              html: "Not answered"
            } if data['empty'] else
            {
              html: "Needs a thorough investigation"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Add",
                  visuallyHiddenText: "why would you prefer this appeal procedure?"
                }
              ]
            }if data['empty'] else
            {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "why would you prefer this appeal procedure?"
                }
              ]
            }
          },
          {
            key: {
              text: "How many days would you expect the inquiry to last?"
            },
            value: {
              html: "Not answered"
            } if data['empty'] else
            {
              html: "3"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Add",
                  visuallyHiddenText: "how many days would you expect the inquiry to last?"
                }
              ]
            }if data['empty'] else
            {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "how many days would you expect the inquiry to last?"
                }
              ]
            }
          },
          {
            key: {
              text: "How many witnesses would you expect to give evidence at the inquiry?"
            },
            value: {
              html: "Not answered"
            } if data['empty'] else
            {
              html: "3"
            },
            actions: {
              items: [
                {
                  href: "Item URL",
                  text: "Add",
                  visuallyHiddenText: "how many witnesses would you expect to give evidence at the inquiry?"
                }
              ]
            }if data['empty'] else
            {
              items: [
                {
                  href: "Item URL",
                  text: "Change",
                  visuallyHiddenText: "how many witnesses would you expect to give evidence at the inquiry?"
                }
              ]
            }
          }

          ]
        }) }}
      </section>

      <section>
        <h2 class="govuk-heading-m govuk-!-margin-top-8">5. Upload documents</h2>
        {{ govukSummaryList({
          classes: "app-summary-list--wider-actions",
          rows: [

            {
              key: {
                text: "Enforcement notice"
              },
              value: {
                html: "<a href=’#’>example-file.pdf</a>"
              },
              actions: {
                items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "enforcement notice"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "enforcement notice"
            }
            ]
            }
            },

            {
              key: {
                text: "Enforcement plan"
              },
              value: {
                html: "<a href=’#’>example-file.pdf</a>"
              },
              actions: {
                items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "enforcement plan"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "enforcement plan"
            }
          ]}
        },
        {
          key: {
            text: "Do you plan to submit a planning obligation to support your appeal?"
          },
          value: {
            html: "No"
          } if data['empty'] else
          {
            html: "Yes"
          },
          actions: {
            items: [
              {
                href: "Item URL",
                text: "Add",
                visuallyHiddenText: "Do you plan to submit a planning obligation to support your appeal?"
              }
            ]
          }if data['empty'] else
          {
            items: [
              {
                href: "Item URL",
                text: "Change",
                visuallyHiddenText: "Do you plan to submit a planning obligation to support your appeal?"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the status of your planning obligation?"
          },

          value: {
            html: "Not answered"
          } if data['empty'] else
          {
            html: "Finalised and ready to submit"
          },
          actions: {
            items: [
              {
                href: "Item URL",
                text: "Add",
                visuallyHiddenText: "planning obligation status"
              }
            ]
          }if data['empty'] else
          {
            items: [
              {
                href: "Item URL",
                text: "Change",
                visuallyHiddenText: "planning obligation status"
              }
            ]
          }
        },
        {
          key: {
            text: "Planning obligation"
          },
          value: {
            html: "No documents"
          } if data['empty'] else
          {
            html: "<a href='#'>example-file.pdf</a>"
          },
          actions: {
            items: [
              {
                href: "Item URL",
                text: "Add",
                visuallyHiddenText: "planning obligation"
              }
            ]
          }if data['empty'] else
          {
            items: [
        {
          href: "#",
          text: "Add",
          visuallyHiddenText: "planning obligation"
        },
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "planning obligation"
        }
      ]
          }
        },
        {
          key: {
            text: "Application for an award of appeal costs"
          },
          value: {
            html: "No documents"
          } if data['empty'] else
          {
            html: "<a href='#'>example-file.pdf</a>"
          },
          actions: {
            items: [
              {
                href: "Item URL",
                text: "Add",
                visuallyHiddenText: "application for an award of appeal costs"
              }
            ]
          }if data['empty'] else
          {
            items: [
        {
          href: "#",
          text: "Add",
          visuallyHiddenText: "application for an award of appeal costs"
        },
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "application for an award of appeal costs"
        }
      ]
          }
        },

        {
          key: {
            text: "Other new supporting documents"
          },
          value: {
            html: "No documents"
          } if data['empty'] else
          {
            html: "<a href='#'>example-file.pdf</a>"
          },
          actions: {
            items: [
              {
                href: "Item URL",
                text: "Add",
                visuallyHiddenText: "other new supporting documents"
              }
            ]
          }if data['empty'] else
          {
            items: [
        {
          href: "#",
          text: "Add",
          visuallyHiddenText: "other new supporting documents"
        },
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "other new supporting documents"
        }
      ]
          }
        }
      ]
    }) }}

      </section>

      <form method="post">

      {{ govukRadios({
        name: "reviewDecision",
        fieldset: {
          legend: {
            text: "Review decision",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Valid",
            text: "Valid"
          },
          {
            value: "Invalid",
            text: "Invalid"
          },
          {
            value: "Incomplete",
            text: "Incomplete"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
