{% extends "layouts/PINS.html" %}

{% set pageName="Appellant Case" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% set uploadDataKey = 'fileData' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 12345678</span>
    <h1 class="govuk-heading-l">Upload cross-team correspondence</h1>

    <p>
      Each file must be a PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, MSG, JPG, JPEG, MPEG, MP3, MP4, MOV, PNG, TIF or TIFF
      and smaller than 250MB.
    </p>

    <p>
      The total size of your uploaded files must be smaller than 1GB.
    </p>

    <h2 class="govuk-heading-m">Upload cross-team correspondence</h2>
    <!-- include file upload -->
    <form class="form" action="/projects/file-upload/v5/file-upload" method="post">
      {% include 'includes/multiple-document-upload.html' %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>



{% endblock %}


