{% set dummygroundsMajor = '• The appellant contends that the local planning authority decision to refuse the application was flawed on the following grounds.
• I believe this to be a misinterpretation of Policy - The authority incorrectly applied local planning policies, particularly in relation to the assessment of visual impact and neighbourhood character, leading to an unjustified refusal.
• Failure to Consider Material Benefits — The decision did not adequately account for the positive contributions of the proposal, including improved site utilisation and enhanced accessibility for local residents.' %}

{% set dummygrounds = 'The proposed development represents a modest, single‑storey ancillary building within the rear garden of an existing dwelling, the scale, siting and design of which would not result in material harm to the character and appearance of the area, the living conditions of neighbouring occupiers, or the proper planning of the site, and any perceived concerns regarding use or impact could be appropriately controlled by condition; the proposal therefore complies with the development plan when read as a whole and relevant national planning policy.' %}

{{ govukSummaryList({
  card: {
    title: {
      text: "4. Appeal details"
    }
  },
  classes: 'long-answers',
  rows: [
    {
      key: {
        text: "Grounds of appeal"
      },
      value: {
        html: dummygrounds
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "grounds of appeal"
            }
          ]
        }
    },
    {
      key: {
        text: "Have there been any significant changes that would affect the application?"
      },
      value: {
        html: data['localplanchange'] or 'There have been no significant changes'
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "significant change"
            }
          ]
        }
    },
    {
      key: {
        text: "Appeal procedure"
      },
      value: {
        html: data['procedure'] or 'Written representations'
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "appeal procedure"
            }
          ]
        }
    },
    {
      key: {
        text: "Are there other appeals linked to your development?"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "linked appeals"
            }
          ]
        }
    }
  ]
}) }}
