{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if appealIs == 'Enforcement' %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Before you start"
    }
  },
  rows: [
    {
      key: {
        text: "Local planning authority"
      },
      value: {
        html: "Barnet Council"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "lpa"
            }
          ]
        }
    },
        {
      key: {
        text: "Which local planning authority (LPA) do you want to appeal against?"
      },
      value: {
        html: "Barnet Council"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "lpa"
            }
          ]
        }
    },
    {
      key: {
        text: "Is your enforcement notice about a listed building?"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "listed building"
            }
          ]
        }
    },
    {
      key: {
        text: "What is your appeal about?"
      },
      value: {
        html: "An enforcement notice"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "appeal type"
            }
          ]
        }
    },
    {
      key: {
        text: "What is the effective date on your enforcement notice?"
      },
      value: {
        html: "6 January 2026"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "effective date"
            }
          ]
        }
    },
    {
      key: {
        text: "When did you contact the Planning Inspectorate?"
      },
      value: {
        html: "7 January 2026"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "contact date"
            }
          ]
        }
    },
    {
      key: {
        text: "What is the application reference number?"
      },
      value: {
        html: data['application-reference'] or '12345'
      },
      actions: {
          items: [
            {
              href: "/projects/case-details/v5/Application-reference?referrer=/projects/case-details/v5/enforcement-appeal",
              text: "Change",
              visuallyHiddenText: "ref number"
            }
          ]
        }
    }

  ]
}) }}

{% else %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Before you start"
    }
  },
  rows: [
    {
      key: {
        text: "Local planning authority"
      },
      value: {
        html: "Camden Council"
      },
      actions: {
      }
    },
    {
      key: {
        text: "What is your appeal about?"
      },
      value: {
        html: "Full planning"
      },
      actions: {
      }
    },
     {
      key: {
        text: "Was your application granted or refused?"
      },
      value: {
        html: "Refused"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "appeal decision"
          }
        ]
      }
    },
    {
      key: {
        text: "What date did you submit your planning application?"
      },
      value: {
        html: 40 | daysAgo
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "application date"
          }
        ]
      }
    },
    {
      key: {
        text: "Was your application granted or refused?"
      },
      value: {
        html: "Refused"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "decision"
          }
        ]
      }
    },
    {
      key: {
        text: "What’s the date on the decision letter from the local planning authority?​"
      },
      value: {
        html: 20 | daysAgo
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "decision date"
          }
        ]
      }
    }

  ]
}) }}

{% endif %}
