<style>
  .appeal-details .govuk-summary-list__key,
  .appeal-details .govuk-summary-list__value,
  .appeal-details .govuk-summary-list__actions {
    padding-top: .5rem;
    padding-bottom: 0;
  }
</style>

<dl class="govuk-summary-list appeal-details govuk-summary-list--no-border govuk-!-margin-top-6">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-third">
      Validation status
    </dt>
    <dd class="govuk-summary-list__value">
      Valid
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href='#'>
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-third">
      Appeal site
    </dt>
    <dd class="govuk-summary-list__value">
      21 Dombey Street, London, WC1N 3PD
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href='#'>
        Change
      </a>
    </dd>
  </div>

</dl>
