
{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Upload file" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2110166</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
      <form action="document-date" method="post" class="govuk-!-margin-top-6" novalidate>



        <div class="govuk-form-group">
        
          <div id="application-hint" class="govuk-hint">
            The file must be a DOC, DOCX, PDF, XLS, TIF, JPG or PNG and be smaller than 25MB
          </div>
  
  
          <div class="govuk-form-group">
            <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
          </div>
            <br><br>
  
            {% from "govuk/components/button/macro.njk" import govukButton %}
  
            {{ govukButton({
              text: "Continue"
            }) }}
  
  
            </div>
          </form>
  </div>
</div>


{% endblock %}
