 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="What is the outcome of your review?" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Appeal 2110166</span>
  
 
  <form action="" method="post"  novalidate>
    </div>
  </div>
 

    {{ govukRadios({
      name: "issue-decision",
      fieldset: {
        legend: {
          text: "What is the outcome of your review?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Complete~check-your-answers",
          text: "Complete"
        },
        {
          value: "Incomplete~why-incomplete",
          text: "Incomplete"
        } 
         
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

</form>

</div>
</div>


{% endblock %}

