{% extends "layouts/PINS-post-mvp.html" %}

{% set pageName="Decision date" %}

{% set title = "Check your answers" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l"></h1>
    
    <form action="invalid-confirm" method="post">

      {{ govukTextarea({
        name: "invalidReason",
        id: "invalidReason",
        hint: {
          text: "The text you enter will be emailed to the interested party (if they supplied an email address). "
        },
        rows: "6",
        label: {
          text: "Why is the comment invalid?",
          classes: "govuk-label--l",
          isPageHeading: true
        }
       
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    </div>
</div>





{% endblock %}
