{% extends "layouts/PINS-post-mvp.html" %}

{% set pageName="Personal list" %}

{% set back = true %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

            
      {{ govukPanel({
      titleText: "Comment invalid"
    }) }}

    <p class="govuk-body">The interested party has been told the comment was invalid.</p>
    
    <p class="govuk-body">
      They have been given the opportunity to change their comment and resubmit. 
    </p>

    <p class="govuk-body">
      <a href='ip-comments' class='govuk-link'>
        Back to interested parties
      </a>
    </p>


	
  </div>
</div>

{% endblock %}
