{% extends "layouts/PINS-Simple.html" %}

{% set title = "Check details and add hearing details" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.hearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Hearing date"
            },
            value: {
              html: data.hearing.date | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/projects/start-s78-case/v1/add-hearing-details",
                  text: "Change",
                  visuallyHiddenText: "Hearing date"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know the time of the hearing?"
            },
            value: {
              html: data.hearing.hasTime
            },
            actions: {
              items: [
                {
                  href: "/projects/start-s78-case/v1/add-hearing-details/has-time",
                  text: "Change",
                  visuallyHiddenText: "whether you know the hearing time"
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing time"
            },
            value: {
              html: data.hearing.time
            },
            actions: {
              items: [
                {
                  href: "/projects/start-s78-case/v1/add-hearing-details/time",
                  text: "Change",
                  visuallyHiddenText: "Hearing time"
                }
              ]
            }
          } if data.hearing.hasTime == 'Yes',
          {
            key: {
              text: "Do you know the address of where the hearing will take place?
"
            },
            value: {
              html: data.hearing.hasAddress
            },
            actions: {
              items: [
                {
                  href: "/projects/start-s78-case/v1/add-hearing-details/has-address",
                  text: "Change",
                  visuallyHiddenText: "whether you know the hearing address"
                }
              ]
            }
          },
          {
            key: {
              text: "Hearing address"
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: "/projects/start-s78-case/v1/add-hearing-details/address",
                  text: "Change",
                  visuallyHiddenText: "Hearing address"
                }
              ]
            }
          } if data.hearing.hasAddress == 'Yes'
        ]
      }) }}

      <p>We’ll blah blah blah.</p>

      <form method="post">
        {{ govukButton({
          text: "Add hearing details"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
