{% extends "layouts/PINS-Simple.html" %}

{% set title = "Hearing details" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal 2114328 - add hearing details</span>
        {{ govukRadios({
          name: "hearing[hasTime]",
          fieldset: {
            legend: {
              text: "Do you know the time of the hearing?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.hearing.hasTime,
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
