{% extends "layouts/PINS.html" %}

{% set pageName="Check answers" %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    
	          
		<span class="govuk-caption-xl">Appeal 2110166</span>
		<h1 class="govuk-heading-xl">Check your answers before confirming your review</h1>
		
		{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Review outcome"
            },
            value: {
              text: "Incomplete"
            },
            actions: {
              items: [
                {
                  href: "indel.html",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Invalid reasons"
            },
            value: {
              html: '<p class="govuk-body">Missing documents</p>'
            },
            actions: {
              items: [
                {
                  href: "index.html",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Updated due date"
            },
            value: {
              html: '<p class="govuk-body">DD/MM/YYYY</p>'
            }            
          }
        ]
      }) }}
      
      <!--
      actions: {
          items: [
            {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "due date"
            }
          ]
        }
       -->
      
      
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

		{{ govukInsetText({
		  text: "Confirming this review will inform the appellant of the outcome"
		}) }}

      
      {% from "govuk/components/button/macro.njk" import govukButton %}

		{{ govukButton({
		  text: "Confirm",
		  href: "complete"
		}) }}
      

    </div>
  </div>

{% endblock %}
