{% extends "layouts/PINS.html" %}

{% set pageName="Are you sure?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">Appeal 2110166</span>
		<h1 class="govuk-heading-xl">Allocation level</h1>
		
		{% if 'allocation-level' in data %}
		
		<dl class="govuk-summary-list govuk-summary-list">
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Level
			    </dt>
			    <dd class="govuk-summary-list__value">
			      {{ data['allocation-level'] }}
			    </dd>
			  </div>
			  {% if 'allocation-band' in data %}
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Band
			    </dt>
			    <dd class="govuk-summary-list__value">
			      {{ data['allocation-band'] }}
			    </dd>
			  </div>
			  {% endif %}
			  {% if 'allocation-specialist' in data %}
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Specialism
			    </dt>
			    <dd class="govuk-summary-list__value">
			      <ul class="govuk-list govuk-list--bullet">
				  {% for item in data["allocation-specialist"] %}
				    <li>
				      {{ item }}
				    </li>
				  {% endfor %}
				</ul>
			    </dd>
			  </div>
			  {% endif %}
			</dl>
			
				
		{% endif %}
       <form action="add-allocation-band" method="post" class="govuk-!-margin-top-9" novalidate>

		{{ govukRadios({
		  name: "allocation-level",
		  value: data['allocation-level'],
		  fieldset: {
		    legend: {
		      text: "Select allocation level",
		      isPageHeading: false,
		      classes: "govuk-fieldset__legend--m"
		    }
		  },
		  items: [
		    {
		      value: "A",
		      text: "A"
		    },
		    {
		      value: "B",
		      text: "B"
		    },
		    {
		      value: "C",
		      text: "C"
		    },
		    {
		      value: "D",
		      text: "D"
		    },
		    {
		      value: "E",
		      text: "E"
		    },
		    {
		      value: "F",
		      text: "F"
		    },
		    {
		      value: "G",
		      text: "G"
		    },
		    {
		      value: "H",
		      text: "H"
		    }
		   ]
		}) }}

		{{ govukButton({
          text: "Continue"
        }) }}


	  </form>


    </div>
  </div>

{% endblock %}
