{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Do you want to request final comments?" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2110166</span>

      <form action="" method="post">

        {{ govukRadios({
          name: "final-comments-requested",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "Any final comments must be submitted by "+ 7 | daysInFuture + "."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
