{% extends "layouts/PINS-SUB.html" %}

{% set pageName="Case officer home" %}

{% block header %}
	{% include "includes/PINS-header-simple.html" %}
{% endblock %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">National list</h1>


	{{ govukInput({
	  label: {
	    text: "Search cases",
	    classes: "govuk-label--m",
	    isPageHeading: false
	  },
	  classes: "",
	  hint: {
	    text: "Enter appeal ID or postcode"
	  },
	  id: "account-number",
	  name: "account-number",
	  inputmode: "numeric",
	  spellcheck: false
	}) }}

	<div class="govuk-button-group">
	  <button class="govuk-button" data-module="govuk-button">
	    Search
	  </button>
	</div>

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

	  <h2 class="govuk-heading-m">All cases</h2>

	  {% include "projects/personal-list/v2/includes/national-list-table.html" %}

	{{ govukPagination({
	  previous: {
	    href: "#"
	  },
	  next: {
	    href: "#"
	  },
	  items: [
	    {
	      number: 1,
	      current: true,
	      href: "#"
	    },
	    {
	      number: 2,
	      href: "#"
	    },
	    {
	      number: 3,
	      href: "#"
	    }
	  ]
	}) }}

  </div>
</div>

{% endblock %}
