{% extends "layouts/PINS-Simple.html" %}

{% set title = "Hearing address" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal 2114328</span>
        {% call govukFieldset({
          legend: {
            text: "Hearing address",
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukInput({
            id: "address-line-0",
            name: "hearing[address][name]",
            label: {
              text: "Venue name (optional)"
            },
            value: data.hearing.address.name
          }) }}

          {{ govukInput({
            id: "address-line-1",
            name: "hearing[address][line1]",
            label: {
              text: "Address line 1"
            },
            value: data.hearing.address.line1,
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            id: "address-line-2",
            name: "hearing[address][line2]",
            label: {
              text: "Address line 2 (optional)"
            },
            value: data.hearing.address.line2,
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            id: "address-town",
            name: "hearing[address][town]",
            label: {
              text: "Town or city"
            },
            value: data.hearing.address.town,
            autocomplete: "address-level2",
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            id: "address-county",
            name: "hearing[address][county]",
            label: {
              text: "County (optional)"
            },
            value: data.hearing.address.county,
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            id: "address-postcode",
            name: "hearing[address][postcode]",
            label: {
              text: "Postcode"
            },
            value: data.hearing.address.postcode,
            autocomplete: "postal-code",
            classes: "govuk-input--width-10"
          }) }}

        {% endcall %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
