{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% set back = false %}

{% block content %}


<span class="govuk-caption-l">Appeal a planning decision</span>
<h1 class="govuk-heading-l">Change appeal type</h1>

<p class="govuk-body-l">Appeals sometimes need to change to a new appeal type. This is usually identified at either validation or LPAQ review stage. In most cases the appellant will be asked to resubmit with the correct appeal type, if this is not possible the appeal will be manually added to horizon. The appeal in back office should be closed, with a status to show why. For MVP the case officer will manually email the appelant to arrange this. </p>

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Typical user"
      },
      {
        text: "Case officers"
      }
    ],
    [
      {
        text: "User story"
      },
      {
        text: "I want to change the case appeal type if submitted incorrectly so that each case is handled in the most suitable way"
      }
    ],
    [
      {
        text: "Jira ticket"
      },
      {
        html: '<a href="https://pins-ds.atlassian.net.mcas.ms/jira/software/projects/BOATD/boards/210?selectedIssue=BOATD-42">BOATD-42: Changing Appeal Type - Workaround</a>'
      }
    ]
  ]
}) }}

<h1 class="govuk-heading-m">Version 1

    {{govukTag({
        text: "In Discovery",
        classes: "govuk-!-margin-left-2 govuk-tag--blue"
      })}}

</h1>

<p class="govuk-body">This ticket is currently being researched and initial design ideas are being considered.</p>

<a href="v1/" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    View prototype
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>


{% endblock %}