{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Case details" %}

{% set pageName = title + ' - Planning Inspectorate'%}
{% set back = false %}

      {% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            <a class="govuk-notification-banner__link" href="enforcement-appeal.html">Validate appeal</a>
          </p>
        </div>
      </div>

      <span class="govuk-caption-xl">Appeal 00000005</span>
    	<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ title }}
      </h1>

      {% include "/elements/includes/case--status.html" %}

      {% include "/elements/includes/case--meta-data.html" %}

      <div class="govuk-button-group">
        <a href="#" class="govuk-link">Download case</a>
      </div>

      {{ govukDetails({
        summaryText: "Notes (1)",
        text: "Note stuff here"
      }) }}

      {% include "/elements/includes/case--overview.html" %}

      {% include "/elements/includes/case--timetable.html" %}

      {% include "/elements/includes/case--site.html" %}

      {% include "/elements/includes/case--timetable.html" %}

      {% include "/elements/includes/case--team.html" %}

      {% include "/elements/includes/case--team.html" %}

      {% include "/elements/includes/case--case-management.html" %}

    </div>
  </div>
{% endblock %}
