{% extends "layouts/bo.html" %}

{% set title = 'Check details and mark appeal as valid' %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l">Appeal {{ data['appealReference'] or '1223443' }}</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {# Ground A barred value (use if/else rather than a ternary inside set) #}
    {% if data['groundA'] in ['Yes', 'No'] %}
      {% set groundAbarred = data['groundA'] %}
    {% else %}
      {% set groundAbarred = 'Yes' %}
    {% endif %}

    {# Other information #}
    {% set otherInformation = "No" %}
    {% if data['otherInfo'] == "Yes" %}
      {% if data['otherInfoText'] %}
        {% set otherInformation = "Yes: " ~ data['otherInfoText'] %}
      {% else %}
        {% set otherInformation = "No" %}
      {% endif %}
    {% endif %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Review decision" },
          value: { text: "Valid" },
          actions: {
            items: [
              { href: "enforcement-appeal", text: "Change", visuallyHiddenText: "review decision" }
            ]
          }
        },
        {
          key: { text: "Is the appeal ground (a) barred?" },
          value: { text: groundAbarred },
          actions: {
            items: [
              { href: "ground-a", text: "Change", visuallyHiddenText: "ground a" }
            ]
          }
        },
        {
          key: { text: "Do you want to add any other information?" },
          value: { text: otherInformation },
          actions: {
            items: [
              { href: "other-information-valid", text: "Change", visuallyHiddenText: "other information" }
            ]
          }
        },
        {
          key: { text: "Valid date for case" },
          value: { text: "14 November 2025" },
          actions: {
            items: [
              { href: "valid-date", text: "Change", visuallyHiddenText: "valid date for case" }
            ]
          }
        }
      ]
    }) }}

    {# --- Build email preview HTML for appellant --- #}
{% set appellantEmailHtml %}
<div class="app-email-preview">
  <div class="app-email-preview__subject">
    Subject: We have confirmed your appeal: {{ data["appealReference"] or "1223443" }}
  </div>
  <div class="app-email-preview__body">
    <p class="govuk-body">We have confirmed your appeal and you have submitted all of the information we need.</p>

    <p class="govuk-body">The appeal will continue on the following grounds:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ground (b)</li>
      <li>ground (e)</li>
    </ul>

    <h2 class="govuk-heading-m">Appeal details</h2>
    <div class="govuk-inset-text">
      Appeal reference number: {{ data["appealReference"] or "1223443" }}<br>
      Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
      Enforcement notice reference: LPA12345678
    </div>

    {% if data['groundA'] == "Yes" %}
    <h2 class="govuk-heading-m">Ground (a) barred</h2>
    <p class="govuk-body">We cannot consider ground (a) because the enforcement notice was issued:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>after you made a retrospective planning application</li>
      <li>within 2 years from the date the application stopped being considered</li>
    </ul>
    {% endif %}

    {% if data['otherInfo'] == "Yes" %}
    <h2 class="govuk-heading-m">Other information</h2>
    <p class="govuk-body">{{ data['otherInfoText'] or "Here is some other info" }}</p>
    {% endif %}

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--number">
      <li><a href="#">Download a copy of your appeal form</a>.</li>
      <li><a href="#">Find the email address for your local planning authority</a>.</li>
      <li>Email the copy of your appeal form and the documents you uploaded to Barnet Council.</li>
    </ul>

    <p class="govuk-body">You must send a copy of your appeal form and documents to the local planning authority. It is a legal requirement.</p>

    <p class="govuk-body"><a href="#">Find out about the enforcement appeals process</a>.</p>

    <h2 class="govuk-heading-m">Give feedback</h2>
    <p class="govuk-body"><a href="https://forms.office.com/pages/responsepage.aspx?id=mN94WIhvq0iTIpmM5VcIjYt1ax_BPvtOqhVjfvzyJN5UOUlNRkhaQjNXTDQyNEhSRExNOFVGSkNJTS4u&route=shorturl">Give feedback on the appeals service</a> (takes 2 minutes)</p>
    <p class="govuk-body">Planning Inspectorate</p>
    <p class="govuk-body"><a href="mailto:caseofficers@planninginspectorate.gov.uk">caseofficers@planninginspectorate.gov.uk</a></p>
  </div>
</div>
{% endset %}

{{ govukDetails({
  summaryText: "Preview email to appellant",
  html: appellantEmailHtml
}) }}


{# --- Build email preview HTML for LPA --- #}
{% set lpaEmailHtml %}
<div class="app-email-preview">
  <div class="app-email-preview__subject">
    Subject: We have received an enforcement appeal: {{ data["appealReference"] or "1223443" }}
  </div>
  <div class="app-email-preview__body">
    <p class="govuk-body">We have received an enforcement appeal.</p>

    <p class="govuk-body">The appeal will continue on the following grounds:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>ground (b)</li>
      <li>ground (e)</li>
    </ul>

    <p class="govuk-body">You can <a href="#">view the appeal in the manage your appeals service</a>.</p>

    <h2 class="govuk-heading-m">Appeal details</h2>
    <div class="govuk-inset-text">
      Appeal reference number: {{ data["appealReference"] or "1223443" }}<br>
      Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
      Enforcement notice reference: LPA12345678<br>
      Appellant name: John Smith<br>
      Appellant email: john.smith@gmail.com<br>
      Appellant phone number: 07849586723
    </div>

    {% if data['groundA'] == "Yes" %}
    <h2 class="govuk-heading-m">Ground (a) barred</h2>
    <p class="govuk-body">We cannot consider ground (a) because the enforcement notice was issued:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>after the appellant made a retrospective planning application</li>
      <li>within 2 years from the date the application stopped being considered</li>
    </ul>
    {% endif %}

    {% if data['otherInfo'] == "Yes" %}
    <h2 class="govuk-heading-m">Other information</h2>
    <p class="govuk-body">{{ data['otherInfoText'] or "Here is some other info" }}</p>
    {% endif %}

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We will contact you when we start the appeal.</p>

    <p class="govuk-body">Planning Inspectorate</p>
    <p class="govuk-body"><a href="mailto:caseofficers@planninginspectorate.gov.uk">caseofficers@planninginspectorate.gov.uk</a></p>
  </div>
</div>
{% endset %}

{{ govukDetails({
  summaryText: "Preview email to LPA",
  html: lpaEmailHtml
}) }}

  <p class="govuk-body">
    We will mark the appeal as valid and send an email to the relevant parties.
  </p>
  <form method="post">
    {{ govukButton({ text: "Mark appeal as valid" }) }}
  </form>

  </div>
</div>
{% endblock %}

