{% extends "layouts/PINS-Simple-post-mvp.html" %}

{% set title = "Review appellant statement" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal a planning decision</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,

      rows: [
        [
          {
            text: "Typical user",
            classes: "govuk-!-width-one-third"
          },
          {
            text: "Case officers"
          }
        ],
        [
          {
            text: "User story"
          },
          {
            html: "As a CO I can review and issue a decision on the ‘acceptability’ of an appellant statement,<br>
              So that the case can progress with all necessary evidence and without sensitive information of any kind."
          }
        ],
        [
          {
            text: "Jira ticket"
          },
          {
            html: 'A2-4777'
          }
        ]
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Version 1
      {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
      })}}
    </h2>

    <h3 class="govuk-heading-s">Features:</h3>
    <ul class='govuk-list govuk-list--bullet'>
      <li>
        Taken from v4 of LPA statement journey
      </li>
    </ul>

    {{ govukButton({
      text: "View prototype",
      href: "v1/case-details",
      isStartButton: true
    }) }}

    </div>
  </div>

{% endblock %}
