{% extends "layouts/PINS-Simple.html" %}

{% set title = "Inquiry date" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal 2114328</span>
        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "inquiry[date][day]",
              label: "Day",
              value: data.inquiry.date.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "inquiry[date][month]",
              label: "Month",
              value: data.inquiry.date.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "inquiry[date][year]",
              label: "Year",
              value: data.inquiry.date.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
