{% extends "layouts/PINS.html" %}

{% set pageName="Why is the appeal incomplete?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Appeal 1223443</span>
      <form method="post">

        {{ govukCheckboxes({
          name: 'incomplete',
          values: data['incomplete'],
          fieldset: {
            legend: {
              text: "Why is the appeal incomplete?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
          {
            value: "Appellant name is not the same on the application form and appeal form",
            text: "Appellant name is not the same on the application form and appeal form"
          },
          {
              value: "Attachments and/or appendices have not been included to the full statement of case",
              text: "Attachments and/or appendices have not been included to the full statement of case"
          },
          {
            value: "LPA's decision notice is missing",
            text: "LPA's decision notice is missing"
          },
          {
            value: "LPA's decision notice is incorrect or incomplete",
            text: "LPA's decision notice is incorrect or incomplete"
          },
          {
              value: "Documents and/or plans referred in the application form, decision notice and appeal covering letter are missing",
              text: "Documents and/or plans referred in the application form, decision notice and appeal covering letter are missing"
          },
          {
            value: "Agricultural holding certificate and declaration have not been completed on the appeal form",
            text: "Agricultural holding certificate and declaration have not been completed on the appeal form"
          },
          {
            value: "The original application form is missing",
            text: "The original application form is missing"
          },
          {
            value: "The original application form is incomplete",
            text: "The original application form is incomplete"
          },
          {
            value: "Statement of case and ground of appeal are missing",
            text: "Statement of case and ground of appeal are missing"
          },
          {
            value: "Draft statement of common ground is missing",
            text: "Draft statement of common ground is missing"
          },
          {
            value: "Other reason",
            text: "Other reason",
            conditional: {
              html: govukInput({
                name: "otherReason",
                label: {
                  text: "Enter a reason"
                }
              })
            }
         }
        ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "due-date"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
