{{ govukTable({
  firstCellIsHeader: false,
  head: [
      {
          text: "Appeal reference"
      },
      {
          text: "Planning application reference"
      },
      {
          text: "Site address"
      },
      {
          text: "Local planning authority (LPA)"
      },
      {
          text: "Appeal type"
      },
      {
          text: "Status"
      }
  ],
  rows: [
      [
          {
              html: '<p class="govuk-body--strong"><a href="#">1920333</a></p>'
          },
          {
              text: "46899/APP"
          },
          {
              text: "72 Guild Street London SE23 6FH"
          },
          {
              text: "Borough Council"
          },
          {
              text: "Householder"
          },
          {
              html: '<span class="govuk-tag govuk-tag--blue">Validation</span>'
          }
      ],
      [
      {
          html: '<p class="govuk-body--strong"><a href="#">1920333</a></p>'
      },
      {
          text: "46899/APP"
      },
      {
          text: "72 Guild Street London SE23 6FH"
      },
      {
          text: "Borough Council"
      },
      {
          text: "Householder"
      },
      {
          html: '<span class="govuk-tag govuk-tag--blue">Validation</span>'
      }
      ],
      [
      {
          html: '<p class="govuk-body--strong"><a href="#">1920333</a></p>'
      },
      {
          text: "46899/APP"
      },
      {
          text: "72 Guild Street London SE23 6FH"
      },
      {
          text: "Borough Council"
      },
      {
          text: "Householder"
      },
      {
          html: '<span class="govuk-tag govuk-tag--blue">Validation</span>'
      }
      ]
  ]
}) }}
