{% extends "layouts/PINS-Simple.html" %}

{% set pageName="Case details" %}

{% set back = false %}

{% block content %}


<span class="govuk-caption-l">Appeal a planning decision</span>
<h1 class="govuk-heading-l">Interested party comments</h1>

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Typical user"
      },
      {
        text: "Case officers"
      }
    ],
    [
      {
        text: "User story"
      },
      {
        html: "<ul class='govuk-list govuk-list-bullet'><li>As a case officer I need to review and redact the IP comments.</li><li>As a case officers I need to mark the redaction status of the IP comments.</li><li>As a case officers I need view their details and be able to manually add IPs to the case.</li></ul>"
      }
    ],
    [
      {
        text: "Jira ticket"
      },
      {
        html: '<a href="https://pins-ds.atlassian.net.mcas.ms/browse/BDPAR-16?McasTsid=20596&McasCtx=4">BDPAR-16: IP Comments</a>'
      }
    ]
  ]
}) }}

<h1 class="govuk-heading-m">Version 2 (tabbed comment display)

  {{govukTag({
      text: "In progress",
      classes: "govuk-!-margin-left-2 govuk-tag--yellow"
    })}}

</h1>

<a href="v2/index?list=personal" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  View prototype
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h1 class="govuk-heading-m">Version 1

  {{govukTag({
      text: "In progress",
      classes: "govuk-!-margin-left-2 govuk-tag--yellow"
    })}}

</h1>

<a href="v1/index?list=personal" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  View prototype
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>

{% endblock %}