{% extends "layouts/bo.html" %}

{% set title = "Appeal procedure" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - update appeal procedure</span>
        {{ govukRadios({
          name: "editProcedure[procedure]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.editProcedure.procedure or appeal.procedure,
          items: [
            {
              value: "Written representations",
              text: "Written representations"
            },
            {
              value: "Hearing",
              text: "Hearing"
            },
            {
              value: "Inquiry",
              text: "Inquiry"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
