{% extends "layouts/PINS.html" %}

{% set pageName="Manage documents" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

	<span class="govuk-caption-l">Manage documents</span>
	<h1 class="govuk-heading-l">
	    {% if data['party'] === "appellant" %}
		Manage appellant costs application
		{% elseif data['party'] === "lpa" %}
		Manage LPA costs application
		{% endif %}
	</h1>
  </div>
</div>


<div class="govuk-grid-row  govuk-!-margin-top-2">
  <div class="govuk-grid-column-full">

	{{ govukTable({
	  firstCellIsHeader: false,
	  head: [
	    {
	      text: "Document information"
	    },
	    {
	      text: "Date received"
	    },
	    {
	      text: "Redaction"
	    },
	    {
	      text: "Actions"
	    }
	  ],
	  rows: [
	    [
	      {
	        html: "<p><a href='/public/downloads/tree-preservation-order-A.pdf'>costs-application.pdf</a></p><p class='govuk-body govuk-!-font-size-16'>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "dd Mon YYYY"
	      },
	      {
	        text: "Redacted"
	      },
	      {
	        html: "<p><a href='document-details'>View and edit</a></p>"
	      }
	    ]
	  ]
	}) }}



  </div>
</div>


{% endblock %}
