{% extends "layouts/bo-2026.html" %}

{% set title = "What date was the appeal submitted?" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set activeNavigation = 'createcase' %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- notifications -->
    {# No notifications for this stage #}

    <span class="govuk-caption-l">Create a case</span>

    <form method="post">
      {{ govukDateInput({
        idPrefix: "case-submission-date",
        name: "case-submission-date",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "For example, 22 "+ 1 | monthsAgoNumeric + " " + 0 | yearsAgo
        }
      }) }}

      {{ govukButton({
        text: "Continue",
        name: "continue",
        type: "submit"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
