{% extends "layouts/bo-2026.html" %}

{% set title = "Check details and create a new case" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set activeNavigation = 'createcase' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create a case</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

  	  <form method="post">

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Case type"
              },
              value: {
                html: data['case-type'] or 'Tree preservation order'
              },
              actions: {
                items: [
                  {
                    href: "change-procedure",
                    text: "Change",
                    visuallyHiddenText: "case type"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Create case"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
