{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data ['unlinkappeal'] === "yes" %}

      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    	  <div class="govuk-notification-banner__header">
    	    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
        </div>
    	  <div class="govuk-notification-banner__content"> 
            You have unlinked this appeal from appeal {{ data ['appealid'] }}
        </div>
        </div>

        {% endif %}

    	<span class="govuk-caption-l">Appeal 2110166</span>
              <h1 class="govuk-heading-l">
              Manage linked appeals
            </h1>

            {% if data ['which-appeal-is-the-parent'] === "2110166" %}
              {{ govukTag({
                text: "Lead appeal",
                classes: "govuk-tag--grey"
              })}}
            {% else %}
              {{ govukTag({
                text: "Child appeal",
                classes: "govuk-tag--grey"
              })}}
            {% endif %}
            
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
        
            
            <!-- show if child appeal -->

            {{ govukTable({
              caption: "Lead appeal",
              captionClasses: "govuk-table__caption--m govuk-!-margin-top-6",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Appeal ID"
                },
                {
                  text: "Appeal type",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Action",
                  classes: "govuk-!-width-one-quarter"
                }
              ],
              rows: [
                [
                  {
                    html: "<a href='case'>2188616</a> (Horizon)"
                  },
                  {
                    text: "Listed buildings"
                  },
                  {
                    html: "<a href='unlink-appeal'>Unlink</a>"
                  }
                ]
              ]
            }) }}

            
            <!---->


           
              

            {{ govukTable({
              caption: "Other child appeals",
              captionClasses: "govuk-table__caption--m govuk-!-margin-top-6",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Appeal ID"
                },
                {
                  text: "Appeal type",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Action",
                  classes: "govuk-!-width-one-quarter"
                }
              ],
              rows: [
                [
                  {
                    html: "<a href='case'>2137616</a>"
                  },
                  {
                    text: "Householder appeal (HAS)"
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    html: "<a href='case'>5613616</a>"
                  },
                  {
                    text: "Householder appeal (HAS)"
                  },
                  {
                    text: ""
                  }
                ],
                [
                  {
                    html: "<a href='case'>2157816</a> (Horizon)"
                  },
                  {
                    text: "Householder appeal (HAS)"
                  },
                  {
                    html: "<a href='unlink-appeal'>Unlink</a>"
                  }
                ]
              ]
            }) }}


    </div>
  </div>


{% endblock %}
