{% extends "layouts/PINS.html" %}

{% set pageName="Appellant Case" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

	<span class="govuk-caption-l">Manage documents</span>
	<h1 class="govuk-heading-l">New supporting documents</h1>

	{{ govukButton({
	  text: "Upload a new document"
	}) }}

	<h2 class="govuk-heading-m govuk-!-margin-top-6">Uploaded documents</h2>

	{{ govukSummaryList({
	  card: {
	    title: {
	      text: "tree-preservation-order-A.pdf"
	    },
	    actions: {
	      items: [
	        {
	          href: "document-details.html",
	          text: "Change",
	          visuallyHiddenText: "of document"
	        }
	      ]
	    }
	  },
	  rows: [
	    {
	      key: {
	        text: "Description"
	      },
	      value: {
	        html: "Constraints, designations and other issues"
	      }
	    },
	    {
	      key: {
	        text: "File type and size"
	      },
	      value: {
	        html: "PDF, 99KB"
	      }
	    },
	    {
	      key: {
	        text: "Version"
	      },
	      value: {
	        html: "4"
	      }
	    }
	  ]
	}) }}


	{{ govukSummaryList({
	  card: {
	    title: {
	      text: "tree-preservation-order-B.pdf"
	    },
	    actions: {
	      items: [
	        {
	          href: "document-details.html",
	          text: "Change",
	          visuallyHiddenText: "of docment"
	        }
	      ]
	    }
	  },
	  rows: [
	    {
	      key: {
	        text: "Description"
	      },
	      value: {
	        html: "Constraints, designations and other issues"
	      }
	    },
	    {
	      key: {
	        text: "File type and size"
	      },
	      value: {
	        html: "PDF, 99KB"
	      }
	    },
	    {
	      key: {
	        text: "Version"
	      },
	      value: {
	        html: "2"
	      }
	    }
	  ]
	}) }}


  </div>
</div>


{% endblock %}
