{% extends '_layouts/layout-pins.html' %}

{% set title = 'Could the plans affect the setting of a listed building or site?' %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'affected-listed-building-check',
    name: 'affected-listed-building-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('affected-listed-building-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('affected-listed-building-check','No')
      }
    ]
  }) }}
{% endblock %}
