{% extends '_layouts/layout-pins.html' %}

{% set title = 'Add the listed entry number' %}

{% block questions %}
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="listedplanning">
        {{ title }}
      </label>
    </h1>

    <p class='govuk-body'>
      Add the Historic England listed entry number for the building or site.
    </p>

    <!-- <p class='govuk-body'>
      <a href='https://historicengland.org.uk/listing/the-list/' target='_blank' class='govuk-link'>Search the list (opens in new tab)</a> if you do not have it.
    </p> -->

    <p class='govuk-body'>
      You can add another building or site later, if needed.
    </p>

    <!-- <p class='govuk-body'>
      A list entry number is 7 digits.
    </p> -->

    <!-- <div id="listedplanning-hint" class="govuk-hint">
      You can add more buildings later.
    </div> -->

    {{ govukInput({
      label: {
        text: "Add the 7 digit entry number"
      },
      classes: "govuk-input--width-10",
      id: "historicenglandsearchnumber",
      name: "historicenglandsearchnumber"
    }) }}


  </div>
{% endblock %}
