 
{% extends "layouts/PINS-post-mvp.html" %}
{% set pageName="LPA statement review" %}
 
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 
      {% set html %}
      <p class="govuk-notification-banner__heading">
        LPA statement incomplete
      </p>
      <p>
        <a class="govuk-notification-banner__link" href="lpa-statement-redactions">
          Reason 1 
        </a>
      </p>
      {% endset %}
      
      {{ govukNotificationBanner({
      html: html
      }) }}
      

    
    <span class="govuk-caption-l">Appeal 2110166</span>
  

      <h1 class="govuk-heading-l">Check the LPA statement</h1>

 

       

      <h2 class="govuk-heading-m">Statement</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Statement content"
            },
            value: {
              html: "LPA statement goes here.<br>
               
              
              Lorem ipsum dolor sit amet. Quo commodi quia qui nobis voluptatum ut quis illum in omnis sunt At tempore laborum est repellendus ipsum.  
               "
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "statement content"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              text: "example.pdf"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "<a href='#'> Manage</a> | <a href='#'> Add</a> ",
                  visuallyHiddenText: "statement pdf"
                }
              ]
            }
          }
        ]
      }) }}

       

    </div>
  </div>
 
 

    <form action="" method="post" class="govuk-!-margin-top-6" novalidate>

      

        {{ govukRadios({
          name: "issue-decision",
          fieldset: {
            legend: {
              text: "What is the outcome of your review?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "complete~matrix-update",
              text: "Complete"
            },
            {
              value: "dismissed~why-incomplete",
              text: "Incomplete"
            } 
             
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

 


{% endblock %}
