{% extends "layouts/PINS.html" %}

{% set pageName="LPA statement review incomplete" %}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "LPA statement incomplete",
        html: "Appeal ID<br><strong>2110166</strong>"
      }) }}


      <p class="govuk-body">
        The relevant parties have been informed. We have told them what to do next.<br><br>
        They have been informed of any new due date for missing information.
      </p>
      
      <p class="govuk-body">
        <a href="case-incomplete" class="govuk-link">Go back to case details</a>
      </p>
    </div>
  </div>

{% endblock %}