<div class="app-panel">
  <h2 class="govuk-heading-l">Case management conference</h2>

  <div class="govuk-button-group">
    {% if data.cmc %}
      <a class="govuk-link" href="cancel-cmc">Cancel case management conference</a>
    {% else %}
      {{ govukButton({
        text: 'Set up case management conference',
        classes: 'govuk-button--secondar',
        href: 'add-cmc'
      }) }}
    {% endif %}
  </div>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date"
        },
        value: {
          html: data.cmc.date | isoDateFromDateInput | govukDate
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Date"
            }
          ]
        }
      } if data.cmc.date,
      {
        key: {
          text: "Time"
        },
        value: {
          html: data.cmc.time
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Time"
            }
          ]
        }
      },
      {
        key: {
          text: "Location"
        },
        value: {
          html: data.cmc.location
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Location"
            }
          ]
        }
      }
    ]
  }) if _case.cmc }}
</div>