<div class="app-panel">
  <h2 class="govuk-heading-l">Costs</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Appellant costs application"
        },
        value: {
          html: '1 document'
          
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "Item label"
            },
            {
              href: "#",
              text: "Manage",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "LPA costs application"
        },
        value: {
          html: '1 document'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "Item label"
            },
            {
              href: "#",
              text: "Manage",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      }
    ]
  }) }}
</div>