<div class="app-panel">
  <h2 class="govuk-heading-l">Documentation</h2>
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Documentation"
      },
      {
        text: "Status"
      },
      {
        text: "Received"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          html: "Appeal"
        },
        {
          html: "Valid"
        },
        {
          html: 10 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
          ,
        visuallyHiddenText: 'appeal'
        }
      ],
      [
        {
          html: "LPA questionnaire"
        },
        {
          html: "Complete"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>',
          visuallyHiddenText: 'LPA questionnaire'
        }
      ],
      [
        {
          html: "LPA statement"
        },
        {
          html: "Accepted"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>',
          visuallyHiddenText: 'LPA statement'
        }
      ],
      [
        {
          html: "Interested party comments"
        },
        {
          html: "Shared"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>',
          visuallyHiddenText: 'interested party comments'
        }
      ],
      [
      {
        html: "Appellant final comments"
      },
      {
        html: "Accepted"
      },
      {
        html: 5 | daysAgo
      },
      {
        html: '<a href="#">View</a>',
        visuallyHiddenText: 'appellant final comments'
      }
    ],
    [
    {
      html: "LPA final comments"
    },
    {
      html: "Accepted"
    },
    {
      html: 5 | daysAgo
    },
    {
      html: '<a href="#">View</a>',
      visuallyHiddenText: 'LPA final comments'
    }
  ],

  [
    {
      html: "Environmental services team review"
    },
    {
      html: "2 documents"
    },
    {
      html: 5 | daysAgo
    },
    {
      html: '<a href="#">Add</a> | <a href="#">Change</a>',
      visuallyHiddenText: 'environmental services team review'
    }
  ],

  [
    {
      html: "Decision"
    },
    {
      html: "Awaiting decision"
    },
    {
      html: "Not applicable"
    },
    {
      html: '<a href="#">Issue</a>',
      visuallyHiddenText: 'decision'
    }
  ]
      ]

  }) }}
</div>

<!--[
        {
          html: "Rule 6 statements"
        },
        {
          html: "Received"
        },
        {
          html: "Not applicable"
        },
        {
          html: '<a href="/main/cases/:caseId/rule-6-statements">View</a>' | replace(':caseId', _case.id)
        }
      ],
      [
        {
          html: "Appellant proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 3 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 1 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ]-->