<div class="app-panel">
  <h2 class="govuk-heading-l">Documentation</h2>
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Documentation"
      },
      {
        text: "Status"
      },
      {
        text: "Received"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          html: "Appeal"
        },
        {
          html: "Valid"
        },
        {
          html: 10 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA questionnaire"
        },
        {
          html: "Complete"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA statement"
        },
        {
          html: "Accepted"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "Interested party comments"
        },
        {
          html: "Shared"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
      {
        html: "Appellant final comments"
      },
      {
        html: "Accepted"
      },
      {
        html: 5 | daysAgo
      },
      {
        html: '<a href="#">View</a>'
      }
    ],
    [
    {
      html: "LPA final comments"
    },
    {
      html: "Accepted"
    },
    {
      html: 5 | daysAgo
    },
    {
      html: '<a href="#">View</a>'
    }
  ],
  
  [
    {
      html: "Environmental services team review"
    },
    {
      html: "2 documents"
    },
    {
      html: 5 | daysAgo
    },
    {
      html: '<a href="#">Add</a> | <a href="#">Manage</a>'
    }
  ],

  [
    {
      html: "Decision"
    },
    {
      html: "Awaiting decision"
    },
    {
      html: "Not applicable"
    },
    {
      html: '<a href="#">Issue</a>'
    }
  ]
      ]
    
  }) }}
</div>

<!--[
        {
          html: "Rule 6 statements"
        },
        {
          html: "Received"
        },
        {
          html: "Not applicable"
        },
        {
          html: '<a href="/main/cases/:appealId/rule-6-statements">View</a>' | replace(':appealId', application.id)
        }
      ],
      [
        {
          html: "Appellant proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 3 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 1 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ]-->