<div class="app-panel">
  <h2 class="govuk-heading-l">Overview</h2>

  {{ govukSummaryList({
    rows: [
    {
      key: {
        text: "Site address"
      },
      value: {
        text: appAddress({address: application.site.address})
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Site address"
          }
        ]
      }
    },  
    {
        key: {
          text: "LPA"
        },
        value: {
          html: 'Barnet Council'
        }
      },
      {
        key: {
          text: "Planning application reference"
        },
        value: {
          html: '14012025HAS'
        }
      },
      
      {
        key: {
          text: "Appeal type"
        },
        value: {
          text: application.type
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "Appeal procedure"
        },
        value: {
          text: application.procedure or 'No procedure'
        },
        actions: {
          items: [
            {
              href: "/main/cases/:appealId/edit-procedure" if application.procedure else "/main/cases/:appealId/add-procedure" | replace(':appealId', application.id),
              text: "Change" if application.procedure else "Add",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "Allocation level"
        },
        value: {
          text: 'F / General allocation'
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "Linked appeals"
        },
        value: {
          html: 'No appeals'
        } if data['empty'] else {
          html: '<a href="#">21/725284</a>'
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Add",
              visuallyHiddenText: "Item label"
            }
          ]
        }if data['empty'] else 
        {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      {
        key: {
          text: "Related appeals"
        },
        value: {
          html: 'No appeals'
        } if data['empty'] else {
          html: '<a href="#">21/725293</a>'
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Add",
              visuallyHiddenText: "Item label"
            }
          ]
        }if data['empty'] else 
        {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      },
      
      {
        key: {
          text: "Decision"
        },
        value: {
          html: 'Not issued yet'
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Issue",
              visuallyHiddenText: "Item label"
            }
          ]
        }
      }
    ]
  }) }}
</div>