<div class="app-panel">
  <h2 class="govuk-heading-l">Rule 6 parties</h2>

  {% if application.rule6Parties %}
    {% set rule6Value = application.rule6Parties.length + " parties" %}
    {% set rule6Action = {
        href: "/main/cases/:appealId/rule-6-parties" | replace(':appealId', application.id),
        text: "Manage",
        visuallyHiddenText: "Rule 6 party"
      }
    %}
  {% else %}
    {% set rule6Value = "No parties"%}
    {% set rule6Action = {
        href: "/main/cases/:appealId/rule-6-parties/new" | replace(':appealId', application.id),
        text: "Add",
        visuallyHiddenText: "Rule 6 party"
      }
    %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Rule 6 parties"
        },
        value: {
          text: rule6Value
        },
        actions: {
          items: [
            rule6Action
          ]
        }
      }
    ]
  }) }}
</div>