<div class="app-panel">
  <h2 class="govuk-heading-l">Team</h2>

	{{ govukSummaryList({
		rows: [
			{
				key: {
					text: "Case officer"
				},
				value: {
					text: application.caseOfficer 
				},
				actions: {
					items: [
						{
							href: '/main/cases/:appealId/case-officer/edit',
							text: "Change",
							visuallyHiddenText: "Case officer"
						}
					]
				}
			},
			{
				key: {
					text: "Inspector"
				},
				value: {
					text: 'Allan Poe'
				},
				actions: {
					items: [
						{
							href: "Item URL",
							text: "Change",
							visuallyHiddenText: "Item label"
						}
					]
				}
			}
		]
	}) }}
</div>