<div class="app-panel">
  <h2 class="govuk-heading-l">Timetable</h2>

  {% if application.validDate %}
    {% set validDateActions = [{
      href: "Item URL",
      text: "Change",
      visuallyHiddenText: "Item label"
    }] %}
  {% else %}
    {% set validDateActions = [{
      href: "Item URL",
      text: "Validate",
      visuallyHiddenText: "Item label"
    }] %}
  {% endif %}

  {% if application.startDate %}
    {% set startDateActions = [{
      href: "Item URL",
      text: "Change",
      visuallyHiddenText: "Item label"
    }] %}
  {% else %}
    {% set startDateActions = [{
      href: "Item URL",
      text: "Start",
      visuallyHiddenText: "Item label"
    }] %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Valid date"
        },
        value: {
          text: application.validDate | govukDate or 'Awaiting validation'
        },
        actions: {
          items: validDateActions
        }
      },
      {
        key: {
          text: "Start date"
        },
        value: {
          text: application.startDate | govukDate or 'Awaiting start'
        },
        actions: {
          items: startDateActions
        }
      } if application.validDate,
      {
        key: {
          text: "LPAQ due date"
        },
        value: {
          text: application.LPAQDueDate | govukDate
        },
        actions: {
          items: [{
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }]
        }
      } if application.LPAQDueDate,
      {
        key: {
          text: "Site visit"
        },
        value: {
          text: application.siteVisitDate | govukDate
        },
        actions: {
          items: [{
            href: "Item URL",
            text: "Change",
            visuallyHiddenText: "Item label"
          }]
        }
      } if application.siteVisitDate
    ]
  }) }}
</div>