{% extends "layouts/bo.html" %}

{% set title = "Check details and add Rule 6 party" %}
{% set pageName = title %}
{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is the Rule 6 party an organisation?"
            },
            value: {
              text: data.addRule6Party.hasOrganisation
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "if the Rule 6 party represents an organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data.addRule6Party.organisationName
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Organisation name"
                }
              ]
            }
          } if data.addRule6Party.hasOrganisation == 'Yes',
          {
            key: {
              text: "Name of representative"
            },
            value: {
              text: data.addRule6Party.firstName + ' ' + data.addRule6Party.lastName
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/name' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: data.addRule6Party.emailAddress
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/email-address' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.addRule6Party.phone
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/phone' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Request for Rule 6 status"
            },
            value: {
              html: '<a href="#">Screenshot (JPG, 12MB)</a>'
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/form' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Request for Rule 6 status"
                }
              ]
            }
          },
          {
            key: {
              text: "Statements due"
            },
            value: {
              text: data.addRule6Party.statementDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/due-dates' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Statements due"
                }
              ]
            }
          },
          {
            key: {
              text: "Proof of evidence and witnesses due"
            },
            value: {
              text: data.addRule6Party.proofOfEvidenceAndWitnessesDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/due-dates' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Statements due"
                }
              ]
            }
          }
        ]
      }) }}

      {% set emailHtml %}
        <div class="app-email-preview">
          <div class="app-email-preview__subject">
            Subject: Subject goes here
          </div>
          <div class="app-email-preview__body">
            <p class="govuk-body">
              You have been given Rule 6 status.
            </p>

            <h2 class="govuk-heading-m">
              Appeal details
            </h2>

            <div class="govuk-inset-text">
              Appeal reference number: 7001224<br>
              Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
              Planning application reference: 22/00118/FULL
            </div>

            

            <h2 class="govuk-heading-m">
              Feedback
            </h2>

            <p class="govuk-body">
              We welcome your feedback on our appeals service. Tell us on this short <a href="#" class="govuk-link">feedback form</a>.
            </p>

            <p class="govuk-body">
              The Planning Inspectorat</span>e<br>
              caseofficers@planninginspectorate.gov.uk
            </p>

          </div>
        </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to Rule 6 party",
        html: emailHtml
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Add Rule 6 party"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
