{% extends "layouts/bo.html" %}

{% set title = "Check details and add Rule 6 party" %}
{% set pageName = title %}
{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is the Rule 6 party an organisation?"
            },
            value: {
              text: data.addRule6Party.hasOrganisation
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "if the Rule 6 party represents an organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data.addRule6Party.organisationName
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Organisation name"
                }
              ]
            }
          } if data.addRule6Party.hasOrganisation == 'Yes',
          {
            key: {
              text: "Name of representative"
            },
            value: {
              text: data.addRule6Party.firstName + ' ' + data.addRule6Party.lastName
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/name' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: data.addRule6Party.emailAddress
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/email-address' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.addRule6Party.phone or "Not provided"
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/phone' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Request for Rule 6 status"
            },
            value: {
              html: '<a href="#">Screenshot (JPG, 12MB)</a>'
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/form' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Request for Rule 6 status"
                }
              ]
            }
          },
          {
            key: {
              text: "Statements due"
            },
            value: {
              text: data.addRule6Party.statementsDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/due-dates' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Statements due"
                }
              ]
            }
          },
          {
            key: {
              text: "Proof of evidence and witnesses due"
            },
            value: {
              text: data.addRule6Party.proofOfEvidenceAndWitnessesDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-parties/new/due-dates' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Statements due"
                }
              ]
            }
          }
        ]
      }) }}

      {% set rule6EmailHtml %}
        <div class="app-email-preview">
          <div class="app-email-preview__subject">
            Subject: We have accepted your application for Rule 6 status: {{appeal.id}}
          </div>
          <div class="app-email-preview__body">
            <p class="govuk-body">
              You have been given Rule 6 status.
            </p>

            <h2 class="govuk-heading-m">
              Appeal details
            </h2>

            <div class="govuk-inset-text">
              Appeal reference number: {{appeal.id}}<br>
              Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
              Planning application reference: {{appeal.planningApplicationReference}}
            </div>

            <h2 class="govuk-heading-m">
              What happens next
            </h2>

            <p class="govuk-body">
              You can go to <a href="https://appeal-a-planning-decision.service.gov.uk/" class="govuk-link">https://appeal-a-planning-decision.service.gov.uk/</a> to:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                view the appeal
              </li>
              <li>
                submit a statement of case by {{data.addRule6Party.statementsDueDate | isoDateFromDateInput | govukDate}}
              </li>
              <li>
                submit proof of evidence and witnesses by {{data.addRule6Party.proofOfEvidenceAndWitnessesDueDate | isoDateFromDateInput | govukDate}} 
              </li>
            </ul>

            <p class="govuk-body">
              The Planning Inspectorate<br>
              caseofficers@planninginspectorate.gov.uk
            </p>

          </div>
        </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to Rule 6 party",
        html: rule6EmailHtml
      }) }}

      {% set appellantEmailHtml %}
        <div class="app-email-preview">
          <div class="app-email-preview__subject">
            Subject: Rule 6 status application accepted: {{appeal.id}}
          </div>
          <div class="app-email-preview__body">
            <p class="govuk-body">
              We have accepted a new application for Rule 6 status.
            </p>

            <div class="govuk-inset-text">
              {% if data.addRule6Party.hasOrganisation == 'Yes '%}
                Organisation name: {{data.addRule6Party.organisationName}}<br>
              {% endif %}
              Organisation name: {{data.addRule6Party.firstName}} {{data.addRule6Party.lastName}}
            </div>

            <h2 class="govuk-heading-m">
              Appeal details
            </h2>

            <div class="govuk-inset-text">
              Appeal reference number: {{appeal.id}}<br>
              Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
              Planning application reference: {{appeal.planningApplicationReference}}
            </div>

            <h2 class="govuk-heading-m">
              About Rule 6 status
            </h2>

            <p class="govuk-body">
              Anyone with Rule 6 status is considered a main party. They can view information submitted by:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                the appellant
              </li>
              <li>
                local planning authority
              </li>
              <li>
                any other Rule 6 parties
              </li>
            </ul>

            <p class="govuk-body">
              Rule 6 parties can:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                submit a statement
              </li>
              <li>
                submit proof of evidence and witnesses
              </li>
              <li>
                appear at the inquiry to cross-examine other parties
              </li>
            </ul>

            <p class="govuk-body">
              If you have any questions, contact caseofficers@planninginspectorate.gov.uk.
            </p>

            <p class="govuk-body">The Planning Inspectorate</p>
          </div>
        </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to appellant",
        html: appellantEmailHtml
      }) }}

      {% set lpaEmailHtml %}
        <div class="app-email-preview">
          <div class="app-email-preview__subject">
            Subject: Rule 6 status application accepted: {{appeal.id}}
          </div>
          <div class="app-email-preview__body">
            <p class="govuk-body">
              We have accepted a new application for Rule 6 status.
            </p>

            <div class="govuk-inset-text">
              {% if data.addRule6Party.hasOrganisation == 'Yes '%}
                Organisation name: {{data.addRule6Party.organisationName}}<br>
              {% endif %}
              Organisation name: {{data.addRule6Party.firstName}} {{data.addRule6Party.lastName}}
            </div>

            <h2 class="govuk-heading-m">
              Appeal details
            </h2>

            <div class="govuk-inset-text">
              Appeal reference number: {{appeal.id}}<br>
              Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
              Planning application reference: {{appeal.planningApplicationReference}}
            </div>

            <h2 class="govuk-heading-m">
              About Rule 6 status
            </h2>

            <p class="govuk-body">
              Anyone with Rule 6 status is considered a main party. They can view information submitted by:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                the appellant
              </li>
              <li>
                local planning authority
              </li>
              <li>
                any other Rule 6 parties
              </li>
            </ul>

            <p class="govuk-body">
              Rule 6 parties can:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                submit a statement
              </li>
              <li>
                submit proof of evidence and witnesses
              </li>
              <li>
                appear at the inquiry to cross-examine other parties
              </li>
            </ul>

            <p class="govuk-body">
              If you have any questions, contact caseofficers@planninginspectorate.gov.uk.
            </p>

            <p class="govuk-body">The Planning Inspectorate</p>
          </div>
        </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to LPA",
        html: lpaEmailHtml
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Add Rule 6 party"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
