{% extends "layouts/bo.html" %}

{% set title = "Request for Rule 6 status" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - add Rule 6 party</span>
        <h1 class="govuk-heading-l">{{title}}</h1>

        <p>You can upload multiple files.</p>

        <p>The total size must be smaller than 1GB.</p>

        <p>The files must be PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, MSG, JPG, JPEG, MPEG, MP3, MP4, MOV, PNG, TIF or TIFF.</p>

        {% set uploadHtml %}
          {{ govukFileUpload({
            id: 'upload',
            name: 'upload',
            classes: 'app-multi-file-upload__input',
            label: {
              text: 'Upload request for Rule 6 status',
              classes: 'govuk-label--m'
            }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary app-multi-file-upload__button'
          })}}
        {% endset %}

        {{ appMultiFileUpload({
          uploadHtml: uploadHtml
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    if(typeof App.MultiFileUpload !== 'undefined') {
     new App.MultiFileUpload({
        container: $('.app-multi-file-upload'),
        uploadUrl: '/ajax-upload',
        deleteUrl: '/ajax-delete',
        dropzoneHintText: 'or drop file',
        dropzoneButtonText: 'Choose file'
      });
    }
  </script>
{% endblock %}