{% extends "layouts/bo.html" %}

{% set title = "Name of representative" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - Add Rule 6 party</span>
        <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukInput({
          id: "addRule6Party[firstName]",
          name: "addRule6Party[firstName]",
          label: {
            text: "First name",
            isPageHeading: false,
            classes: "govuk-label--m"
          },
          hint: {
            text: "Or given name"
          },
          value: data.addRule6Party.firstName
        }) }}

        {{ govukInput({
          id: "addRule6Party[lastName]",
          name: "addRule6Party[lastName]",
          label: {
            text: "Last name",
            isPageHeading: false,
            classes: "govuk-label--m"
          },
          hint: {
            text: "Or family name"
          },
          value: data.addRule6Party.lastName
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
