{% extends "layouts/bo.html" %}

{% set title = "Is the Rule 6 party an organisation?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set organisationNameHtml %}
        {{ govukInput({
          id: "addRule6Party[organisationName]",
          name: "addRule6Party[organisationName]",
          label: {
            text: "Organisation name",
            isPageHeading: true,
            classes: "govuk-label--s"
          },
          value: data.addRule6Party.organisationName
        }) }}
      {% endset %}

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} - add Rule 6 party</span>
        {{ govukRadios({
          name: "addRule6Party[hasOrganisation]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.addRule6Party.hasOrganisation,
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: organisationNameHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
