{% if data['statement-reviewed'] == 'yes' and data['review-outcome'] == 'Reject statement'  %}

  {{ govukTable({
    caption: "Rejected statements",
    captionClasses: "govuk-table__caption--m govuk-visually-hidden",
    firstCellIsHeader: false,
    head: [
      {
        text: "Rule 6 party"
      },
      {
        text: "Submitted"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          text: "Saint Rita’s Community Association"
        },
        {
          text: 3 | daysAgo
        },
        {
          html: "<a href='comment-view-rejected?acceptedComment=&redactedComment=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document='>View<span class='govuk-visually-hidden'> comment from Davina Twinee</span></a>"
        }
      ]
  ]
  }) }}

{% else %}
  <p class="govuk-body">
    Awaiting statements
  </p>
{% endif %}
