{% extends "layouts/bo.html" %}

{% set title = "Check details and assign case officer" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.addHearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% set newCaseOfficer %}
        {{newCaseOfficer.name}}<br>
        {{newCaseOfficer.emailAddress}}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Case officer"
            },
            value: {
              html: newCaseOfficer
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/case-officer/new" | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Case officer"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Assign case officer"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
