{% extends "layouts/PINS-Simple.html" %}

{% set pageName="Assign members & transfer cases" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to all prototypes",
    href: "/"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      Assign members &amp; transfer cases
    </h1>

    <section class="govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-m">Version 2
		
		{{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
		
		<!-- Status tag options
		
		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}
        
        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}
        
        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        -->
        
				
	</h2>
			
	
	<h3 class="govuk-heading-m">Assign members</h3>
	
	<ul class="govuk-list govuk-list--bullet">
        <li>Once the case is ready to start, a manager will assign a case officer to the Case team</li>
		<li>Once an inspector is identified and allocated to the case, the manager or case officer will assign the inspector to the Case team</li>
	</ul>
	
	

	<h3 class="govuk-heading-m">Transfer case</h3>

	<ul class="govuk-list govuk-list--bullet">
        <li>During the appeal the team might need to transfer the case from one case officer to another, or from inspector to another;</li>
		<li>This might happen because someone will be off sick, holidays or if someone’s backlog is too big;</li>
	</ul>
	
	
	{{ govukButton({
	  text: "View prototype",
	  href: "v2/index?list=personal",
	  isStartButton: true
	}) }}
	
<h3 class="govuk-heading-m">Alternate national lists post-UR:</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="v2/national-list-filter-and-status?list=national">Retaining the status but adding a filter</a></li>
    <li><a href="v2/national-list-filter-no-status?list=national">Removing the status and adding a filter</a></li>
    <li><a href="v2/all-cases-filter-and-status?list=national">All cases, added filter, retained status</a></li>
    <li><a href="v2/national-list-one-cta?list=national">National list, One CTA</a></li>
  </ul>

  <hr>

      
	<h2 class="govuk-heading-m">Version 1
		
		{{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
		
		<!-- Status tag options
		
		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}
        
        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}
        
        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}
        
        -->
        
				
	</h2>
			
	
	<h3 class="govuk-heading-m">Assign members</h3>
	
	<ul class="govuk-list govuk-list--bullet">
        <li>Once the case is ready to start, a manager will assign a case officer to the Case team</li>
		<li>Once an inspector is identified and allocated to the case, the manager or case officer will assign the inspector to the Case team</li>
	</ul>
	
	

	<h3 class="govuk-heading-m">Transfer case</h3>

	<ul class="govuk-list govuk-list--bullet">
        <li>During the appeal the team might need to transfer the case from one case officer to another, or from inspector to another;</li>
		<li>This might happen because someone will be off sick, holidays or if someone’s backlog is too big;</li>
	</ul>
	
	
	{{ govukButton({
	  text: "View prototype",
	  href: "v1/assign-members/",
	  isStartButton: true
	}) }}
	
		
	
	<h3 class="govuk-heading-m">Allocating an inspector score</h3>
	
	<p class="govuk-body">As part of the Case overview, user should be bale to add allocation details.</p>
		
	{{ govukButton({
	  text: "View prototype",
	  href: "v1/inspector-score/case",
	  isStartButton: true
	}) }}

    </section>

  </div>

{% endblock %}
