{% extends "layouts/PINS.html" %}

{% set pageName="LPA statement" %}

{% set title = "LPA final comments published" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "LPA final comments published",
      html: "Appeal reference<br><strong>2110917</strong>"
    }) }}

    <p class="govuk-body">The LPA final comments have been published.</p>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p class="govuk-body">
      We've sent an email to the main parties to give them access to the LPA final comments.
    </p>

    <p class="govuk-body">
      <a href='lpa-final-comments-case-complete' class='govuk-link'>
        Go back to case details
      </a>
    </p>

    <!-- <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p> -->

  </div>
</div>

{% endblock %}
