{% extends "layouts/bo.html" %}

{% set title = "Your cases (" + totalApplications +")" %}
{% set pageName = title + ' - Planning Inspectorate'%}
{% set pageId = 'yourCases' %}

{% set back = false %}

{% set prototypeLinks = [
  {
    href: 'team-email',
    text: 'Manage case teams'
  }
] %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/your-cases/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      {# {% include "includes/your-cases/search-form.njk" %} #}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% if applications.length %}
         <div class="app-list">
          {% for application in applications %}
            <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/main/cases/{{application.id}}" class="govuk-link--no-visited-state">{{application.id}}</a>
                {{ govukTag({ text: application.status, classes: application.status | appealStatusColour + ' app-list__tag--top-right' }) }}
              </h2>

              {% set action %}
                {% include "includes/your-cases/action-link.njk" %}
              {% endset %}

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      html: 'Type'
                    },
                    value: {
                      html: application.type
                    }
                  },
                  {
                    key: {
                      html: 'Action'
                    },
                    value: {
                      html: action
                    }
                  },
                  {
                    key: {
                      html: 'Due date'
                    },
                    value: {
                      html: 'Not applicable'
                    }
                  }
                ]
              })}}


            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}
    </div>
  </div>


{% endblock %}
