<div class="app-panel">
  <h2 class="govuk-heading-l">Case management conference</h2>

  <div class="govuk-button-group">
    {% if data.cmc %}
      <a class="govuk-link" href="cancel-cmc">Cancel pre-inquiry meeting</a>
    {% else %}
      {{ govukButton({
        text: 'Set up pre-inquiry meeting',
        classes: 'govuk-button--secondar',
        href: 'add-cmc'
      }) }}
    {% endif %}
  </div>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date"
        },
        value: {
          html: data.cmc.date | isoDateFromDateInput | govukDate
        },
        actions: {
          items: [
            {
              href: "/projects/start-full-case/v4/edit-cmc",
              text: "Change",
              visuallyHiddenText: "Date"
            }
          ]
        }
      } if data.cmc.date,
      {
        key: {
          text: "Time"
        },
        value: {
          html: data.cmc.time
        },
        actions: {
          items: [
            {
              href: "/projects/start-full-case/v4/edit-cmc",
              text: "Change",
              visuallyHiddenText: "Time"
            }
          ]
        }
      },
      {
        key: {
          text: "Location"
        },
        value: {
          html: data.cmc.location
        },
        actions: {
          items: [
            {
              href: "/projects/start-full-case/v4/edit-cmc",
              text: "Change",
              visuallyHiddenText: "Location"
            }
          ]
        }
      }
    ]
  }) if data.cmc }}
</div>