<div class="app-panel">
  <h2 class="govuk-heading-l">Documentation</h2>
  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Documentation"
      },
      {
        text: "Status"
      },
      {
        text: "Received"
      },
      {
        text: "Action"
      }
    ],
    rows: [
      [
        {
          html: "Appeal"
        },
        {
          html: "Received"
        },
        {
          html: 10 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA questionnaire"
        },
        {
          html: "Received"
        },
        {
          html: 5 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "Rule 6 statements"
        },
        {
          html: "Received"
        },
        {
          html: "Not applicable"
        },
        {
          html: '<a href="/projects/start-full-case/v4/rule-6-statements">View</a>'
        }
      ],
      [
        {
          html: "Appellant proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 3 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ],
      [
        {
          html: "LPA proof of evidence and witnesses"
        },
        {
          html: "Received"
        },
        {
          html: 1 | daysAgo
        },
        {
          html: '<a href="#">View</a>'
        }
      ]
    ]
  }) }}
</div>