<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Appellant case
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <td class="govuk-table__cell">
    {{ 67 | daysAgo }}
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="#">
      View
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA questionnaire
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <td class="govuk-table__cell">
    {{ 60 | daysAgo }}
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="task-list">
      View
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Interested party comments
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <td class="govuk-table__cell">
    {{ 30 | daysAgo }}
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      View<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA statement
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <td class="govuk-table__cell">
    {{ 28 | daysAgo }}
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      View<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Appellant final comments
  </td>
  <td class="govuk-table__cell">
    {% if data['appellant-final-comments'] == 'received' %}
      Received
    {% elseif data['appellant-final-comments'] == 'complete' %}
      Complete
    {% else %}
      None received
    {% endif %}
  </td>
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    {% if data['appellant-final-comments'] == 'received' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        Review<span class="govuk-visually-hidden"> appellant final comments</span>
      </a>
    {% elseif data['appellant-final-comments'] == 'complete' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        View<span class="govuk-visually-hidden"> appellant final comments</span>
      </a>
    {% else %}

    {% endif %}
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA final comments
  </td>
  <td class="govuk-table__cell">
    {% if data['lpa-final-comments'] == 'received' %}
      Received
    {% elseif data['lpa-final-comments'] == 'complete' %}
      Complete
    {% else %}
      None received
    {% endif %}
  </td>
  <td class="govuk-table__cell">
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    {% if data['lpa-final-comments'] == 'received' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        Review<span class="govuk-visually-hidden"> LPA final comments</span>
      </a>
    {% elseif data['lpa-final-comments'] == 'complete' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        View<span class="govuk-visually-hidden"> LPA final comments</span>
      </a>
    {% else %}

    {% endif %}
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    S106 obligation
  </td>
  <td class="govuk-table__cell">
    Received
  </td>
  <td class="govuk-table__cell">
    {{ 2 | daysAgo }}
  </td>
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      Review<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>
