<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Appellant case
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <!-- <td class="govuk-table__cell">
    {{ 67 | daysAgo }}
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="#">
      View
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA questionnaire
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <!-- <td class="govuk-table__cell">
    {{ 60 | daysAgo }}
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="task-list">
      View
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Interested party comments
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <!-- <td class="govuk-table__cell">
    {{ 30 | daysAgo }}
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      View<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA statement
  </td>
  <td class="govuk-table__cell">
    Shared
  </td>
  <!-- <td class="govuk-table__cell">
    {{ 28 | daysAgo }}
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      View<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>

{% if data['procedure'] == 'inquiry'%}

  {% if data['r6statements'] == 'not-received'%}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rule 6 statements
      </td>
      <td class="govuk-table__cell">
        Not received
      </td>
      <!-- <td class="govuk-table__cell">
      </td> -->
      <td class="govuk-table__cell govuk-!-text-align-right">
        <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=" class="govuk-link govuk-link--no-visited-state">
          Review<span class="govuk-visually-hidden"> interested party comments</span>
        </a>
      </td>
    </tr>
  {% elseif data['r6statements'] == 'received'%}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rule 6 statements
      </td>
      <td class="govuk-table__cell">
        Received
      </td>
      <!-- <td class="govuk-table__cell">
        {{ 1 | daysAgo }}
      </td> -->
      <td class="govuk-table__cell govuk-!-text-align-right">
        <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=" class="govuk-link govuk-link--no-visited-state">
          Review<span class="govuk-visually-hidden"> interested party comments</span>
        </a>
      </td>
    </tr>
  {% elseif data['r6statements'] == 'complete'%}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rule 6 statements
      </td>
      <td class="govuk-table__cell">
        Complete
      </td>
      <!-- <td class="govuk-table__cell">
        {{ 10 | daysAgo }}
      </td> -->
      <td class="govuk-table__cell govuk-!-text-align-right">
        <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=" class="govuk-link govuk-link--no-visited-state">
          View<span class="govuk-visually-hidden"> interested party comments</span>
        </a>
      </td>
    </tr>
  {% else %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Rule 6 statements
      </td>
      <td class="govuk-table__cell">
        Not received
      </td>
      <!-- <td class="govuk-table__cell">
      </td> -->
      <td class="govuk-table__cell govuk-!-text-align-right">
        <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=" class="govuk-link govuk-link--no-visited-state">
          Review<span class="govuk-visually-hidden"> interested party comments</span>
        </a>
      </td>
    </tr>
  {% endif %}

{% endif %}

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Appellant final comments
  </td>
  <td class="govuk-table__cell">
    {% if data['appellant-final-comments'] == 'received' %}
      Received
    {% elseif data['appellant-final-comments'] == 'complete' %}
      Complete
    {% else %}
      Not received
    {% endif %}
  </td>
  <!-- <td class="govuk-table__cell">
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    {% if data['appellant-final-comments'] == 'received' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        Review<span class="govuk-visually-hidden"> appellant final comments</span>
      </a>
    {% elseif data['appellant-final-comments'] == 'complete' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        View<span class="govuk-visually-hidden"> appellant final comments</span>
      </a>
    {% else %}

    {% endif %}
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    LPA final comments
  </td>
  <td class="govuk-table__cell">
    {% if data['lpa-final-comments'] == 'received' %}
      Received
    {% elseif data['lpa-final-comments'] == 'complete' %}
      Complete
    {% else %}
      Not received
    {% endif %}
  </td>
  <!-- <td class="govuk-table__cell">
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    {% if data['lpa-final-comments'] == 'received' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        Review<span class="govuk-visually-hidden"> LPA final comments</span>
      </a>
    {% elseif data['lpa-final-comments'] == 'complete' %}
      <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
        View<span class="govuk-visually-hidden"> LPA final comments</span>
      </a>
    {% else %}

    {% endif %}
  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    S106 obligation
  </td>
  <td class="govuk-table__cell">
    Received
  </td>
  <!-- <td class="govuk-table__cell">
    {{ 2 | daysAgo }}
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="ip-comments?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&new-comment=">
      Review<span class="govuk-visually-hidden"> interested party comments</span>
    </a>
  </td>
</tr>

{% if data['check-environmental-statement'] == 'Yes' %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      Environmental statement
    </td>
    <td class="govuk-table__cell">
      {% if data['environmental-statement-added'] == 'Yes' %}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="#" class="govuk-link">Appeal-2114328-environmental-statement.doc</a>
          </li>
        </ul>
      {% else %}
        Not received
      {% endif %}
    </td>
    <!-- <td class="govuk-table__cell">
    </td> -->
    <td class="govuk-table__cell govuk-!-text-align-right">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        {% if data['environmental-statement-added'] == 'Yes' %}
          View<span class="govuk-visually-hidden"> environmental statement</span>
        {% else %}
          Add<span class="govuk-visually-hidden"> environmental statement</span>
        {% endif %}

      </a>
    </td>
  </tr>
{% endif %}

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    Costs (appellant)
  </td>
  <td class="govuk-table__cell">
    Not received
  </td>
  <!-- <td class="govuk-table__cell">
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="#">
      Add
    </a>
  </td>
</tr>

<tr class="govuk-table__row pins-govuk-table__row--last">
  <td class="govuk-table__cell">
    Costs (LPA)
  </td>
  <td class="govuk-table__cell">
    Not received
  </td>
  <!-- <td class="govuk-table__cell">
  </td> -->
  <td class="govuk-table__cell govuk-!-text-align-right">
    <a href="#">
      Add
    </a>
  </td>
</tr>
