{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to national list",
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

	{% set html %}
	  <p class="govuk-notification-banner__heading">
	    The appeal is ready for determination
	  </p>
	  <p>
      <a class="govuk-notification-banner__link" href="decision.html">
        Issue a determination
      </a>
    </p>
	{% endset %}

	{{ govukNotificationBanner({
	  html: html
	}) }}

	<span class="govuk-caption-l">Appeal 2110166</span>
	<h1 class="govuk-heading-l">Case details</h1>

  {% if data['status'] == 'ready-to-start' %}

    {{ govukTag({
      text: "Ready to start",
      classes: "govuk-tag--green"
    })}}

  {% elif data['status'] == 'lpa-questionnaire' %}

    {{ govukTag({
      text: "LPA questionnaire",
      classes: "govuk-tag--yellow"
    })}}

  {% elif data['status'] == 'statement-review' %}

    {{ govukTag({
      text: "Statement review",
      classes: "govuk-tag--orange"
    })}}

  {% elif data['status'] == 'final-comment-review' %}

    {{ govukTag({
      text: "Final comment review",
      classes: "govuk-tag--purple"
    })}}

  {% elif data['status'] == 'site-visit' %}

    {{ govukTag({
      text: "Site review",
      classes: "govuk-tag--blue"
    })}}

  {% elif data['status'] == 'determination' %}

    {{ govukTag({
      text: "Issue determination",
      classes: "govuk-tag--pink"
    })}}

  {% else %}

    {{ govukTag({
      text: "Complete",
      classes: "govuk-tag--blue"
    })}}

  {% endif %}

  {% include "../v2/includes/case-meta-data.html" %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-accordion govuk-!-margin-top-9" data-module="govuk-accordion" id="accordion-default">
	  <div class="govuk-accordion__section">
	    <div class="govuk-accordion__section-header">
	      <h2 class="govuk-accordion__section-heading">
	        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
	          Case overview
	        </span>
	      </h2>
	    </div>
	    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
			{% include "projects/appellant-case/includes/case-overview-table.html" %}
	    </div>
	  </div>
	  <div class="govuk-accordion__section">
	    <div class="govuk-accordion__section-header">
	      <h2 class="govuk-accordion__section-heading">
	        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
	          Case timetable
	        </span>
	      </h2>
	    </div>
	    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
	      {% include "../v2/includes/case-timetable.html" %}
	    </div>
	  </div>
	  <div class="govuk-accordion__section">
	    <div class="govuk-accordion__section-header">
	      <h2 class="govuk-accordion__section-heading">
	        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
	          Case documentation
	        </span>
	      </h2>
	    </div>
	    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
	      {% include "../v2/includes/case-documentation.html" %}
	    </div>
	  </div>
	  <div class="govuk-accordion__section">
	    <div class="govuk-accordion__section-header">
	      <h2 class="govuk-accordion__section-heading">
	        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
	          Case team
	        </span>
	      </h2>
	    </div>
	    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
	      {% include "../v2/includes/case-team.html" %}
	    </div>
	  </div>
	</div>


</div>


{% endblock %}
