{% set delimiter = '<br>' | safe %}
{% if params.delimiter %}
  {% set delimiter = params.delimiter %}
{% endif %}

{% if params.address.name %}
{{params.address.name}}{{delimiter | safe}}
{% endif %}
{{params.address.line1}}{{delimiter | safe}}
{% if params.address.line2 %}
{{params.address.line2}}{{delimiter | safe}}
{% endif %}
{{params.address.town}}{{delimiter | safe}}
{% if params.address.county %}
{{params.address.county}}{{delimiter | safe}}
{% endif %}
{{params.address.postcode}}