.app-add-another {

  .govuk-form-group {
    clear: left;
  }

  &__item {
    margin: 0;
    margin-top: govuk-spacing(6);
    padding: 0;
    position: relative;

    border-bottom: 1px solid govuk-colour('mid-grey');

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      // margin-bottom: govuk-spacing(6);
      border-bottom: none;
    }
  }

  &__title {
    float: left;
    // padding: 4px 0;
    // width: 100%;
  }

  &__remove-button {

    // color: govuk-colour('blue');
    // padding: 0;
    // margin: 0;
    // box-shadow: none;
    // background: none;
    // text-decoration: underline;

    @include govuk-media-query($from: tablet) {
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover {
      // background: none;
      // color:  $govuk-link-hover-colour;
      // text-decoration: underline;
    }

    &:focus {
      // background: $govuk-focus-colour;
      // color:  $govuk-focus-text-colour;
    }
  }

  &__add-button {
    display: block;
  }
}

.app-add-another__heading:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}
