// folder breadcrumb

.folder-spacer {
  padding: 0 8px;
  font-weight: 800;
}

.svg-folder-icon {
  position: relative;
  top: 2px;
}

.folder-name,
.folder-name--first {
  font-weight: 800;
  text-decoration-thickness: 3px !important;
}

.folder-name {
  padding: 0 0 0 8px;
}
