// Style the footer navigation area to be used for prototype links
.govuk-file-upload {
	border-style: dashed;
	padding: 60px 15px;;
	width: 100vw;
}

.moj-multi-file-upload__dropzone {
	outline-color: $govuk-text-colour !important;
}
