{% extends "layouts/PINS.html" %}

{% set pageName="Appellant Case" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	  
	  
  {% set html %}
	  <h3 class="govuk-notification-banner__heading">
	    Files successfully added
	  </h3>
	{% endset %}

	{{ govukNotificationBanner({
	  html: html,
	  type: 'success'
	}) }}

	<span class="govuk-caption-l">Uploaded document</span>
	<h1 class="govuk-heading-l">tree-preservation-order-A.pdf</h1>	
	
	
	{{ govukSummaryList({
	  classes: 'govuk-summary-list',
	  rows: [
	    {
	      key: {
	        text: "File"
	      },
	      value: {
	        html: '<a href="#">tree-preservation-order-A.pdf</a>'
	      }
	    },{
	      key: {
	        text: "Version"
	      },
	      value: {
	        text: '5'
	      }
	    },
	    {
	      key: {
	        text: "Date received"
	      },
	      value: {
	        html: "1 Feb 2023"
	      },
	      actions: {
	        items: [
	          {
	            href: "file-details",
	            text: "Change",
	            visuallyHiddenText: "Tree Preservation Order extent"
	          }
	        ]
	      }
	    },
	    {
	      key: {
	        text: "Redaction"
	      },
	      value: {
	        html: "Unredacted"
	      },
	      actions: {
	        items: [
	          {
	            href: "file-details",
	            text: "Change",
	            visuallyHiddenText: "Tree Preservation Order extent"
	          }
	        ]
	      }
	    }
	  ]
	}) }}
	
	
	{{ govukButton({
	  text: "Upload a new version",
	  href: "upload-document"
	}) }}
		
	
	
  </div>
</div>


<div class="govuk-grid-row govuk-!-padding-top-6">
  <div class="govuk-grid-column-full">
	  
	  
	  <details class="govuk-details" data-module="govuk-details">
	  <summary class="govuk-details__summary">
	    <span class="govuk-details__summary-text">
	      Document history
	    </span>
	  </summary>
	  <div class="govuk-details__text">
	    
    {{ govukTable({
	  captionClasses: "govuk-table__caption--m",
	  firstCellIsHeader: false,
	  classes : " govuk-!-font-size-16",
	  head: [
	    {
	      text: "Version"
	    },
	    {
	      text: "Document name"
	    },
	    {
	      text: "Activity"
	    },
	    {
	      text: "Redaction"
	    },
	    {
	      text: "Action"
	    }
	  ],
	  rows: [
	    [
	      {
	        html: "5"
	      },
	      {
	        html: "<p class='govuk-!-font-size-16'><a href='manage-documents/document-details.html'>tree-preservation-order-A.pdf</a></p><p><strong class='govuk-tag govuk-tag--grey'>Current version</strong></p>"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, <br>by Jane Watson"
	      },
	      {
	        text: "Redacted"
	      },
	      {
	        html: "<a href='remove-sure'>Remove</a>"
	      }
	    ],[
	      {
	        html: "4"
	      },
	      {
	        html: "<p class='govuk-!-font-size-16'><a href='manage-documents/document-details.html'>tree-preservation-order-A.pdf</a></p>"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, <br>by Jane Watson"
	      },
	      {
	        text: "Redacted"
	      },
	      {
	        html: "<a href='remove-sure'>Remove</a>"
	      }
	    ],
	    [
	      {
	        text: "3"
	      },
	      {
	        html: "<p class='govuk-!-font-size-16'><a href='manage-documents/document-details.html'>tree-preservation-order-A.pdf</a></p>"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, <br>by Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='remove-sure'>Remove</a>"
	      }
	    ],
	    [
	      {
	        text: "2"
	      },
	      {
	        html: "<p class=' govuk-!-font-size-16'><a href='document-details.html'>tree-preservation-order-A.pdf</a></p>"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, <br>by Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='remove-sure'>Remove</a>"
	      }
	    ],
	    [
	      {
	        text: "1"
	      },
	      {
	        html: "<p class=' govuk-!-font-size-16'><a href='document-details.html'>tree-preservation-order-A.pdf</a></p>"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, <br>by Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='#'>Remove</a>"
	      }
	    ]
	  ]
	}) }}
	    
	  </div>
	</details>
	  	  
	  

	</div>
</div>


{% endblock %}