{% extends "layouts/PINS.html" %}

{% set title = 'How did you notify people about the application?' %}

{% block questions %}

  {{ govukCheckboxes({
    idPrefix: 'notified-how',
    name: 'notified-how',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      text: 'Select all that apply'
    },
    items: [
      {
        html: 'Site notice',
        value: 'Site notice',
        checked: checked('notified-how','A site notice')
      },
      {
        html: 'Letters to neighbours',
        value: 'Letters to neighbours',
        checked: checked('notified-how','Letters to neighbours')
      },
      {
        html: 'Advertisement',
        value: 'Advertisement',
        checked: checked('notified-how','Advertisement')
      }
    ]
  }) }}

{% endblock %}
