{% extends "layouts/bo.html" %}

{% set title = "Rule 6 proof of evidence and witnesses" %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0',
      items: [
        {
          text: appeal.id,
          href: "/main/appeals/:appealId" | replace(':appealId', appeal.id)
        },
        {
          text: 'Rule 6 proof of evidence and witnesses'
        }
      ]
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukNotificationBanner({
        type: "success",
        text: flash
      }) if flash.length }}

      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

       {% set awaitingReviewHtml %}
        {{appRule6ProofOfEvidenceAndWitnessesTable({ appeal: appeal, items: proofOfEvidenceAndWitnessesReadyToReview })}}
      {% endset %}

      {% set acceptedHtml %}
        {{appRule6ProofOfEvidenceAndWitnessesTable({ appeal: appeal, items: proofOfEvidenceAndWitnessesAccepted })}}
      {% endset %}

      {% set incompleteHtml %}
        {{appRule6ProofOfEvidenceAndWitnessesTable({ appeal: appeal, items: proofOfEvidenceAndWitnessesIncomplete })}}
      {% endset %}

      {{ govukTabs({
        items: [
          {
            label: "Awaiting review",
            id: "awaitingReview",
            panel: {
              html: awaitingReviewHtml
            }
          },
          {
            label: "Accepted",
            id: "accepted",
            panel: {
              html: acceptedHtml
            }
          },
          {
            label: "Incomplete",
            id: "incomplete",
            panel: {
              html: incompleteHtml
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
