<!-- case status tag -->
{% if data['case-stage'] == 'ready' %}

  {{ caseStatus (caseStatus = 'ready') }}

{% elseif data['case-stage'] == 'questionnaire' %}

  {{ caseStatus (caseStatus = 'questionnaire') }}

{% elseif data['case-stage'] == 'statements' %}

  {{ caseStatus (caseStatus = 'statements') }}

{% elseif data['case-stage'] == 'final-comments' %}

  {{ caseStatus (caseStatus = 'finalComments') }}

{% elseif data['case-stage'] == 'determination' %}

  {{ caseStatus (caseStatus = 'decision') }}

{% elseif data['case-stage'] == 'closed' %}

  <p class='govuk-body'>
    {{ govukTag({
      text: "Approved"
    }) }}
  </p>
  <p class='govuk-body'>
    Approved {{ 1 | daysAgo }}
  </p>
  <p class='govuk-body'>
    <a href='#' class='govuk-link'>
      View decision letter
    </a>
  </p>

{% else %}

  <!-- must be a new case -->
  {{ caseStatus (caseStatus = 'validation') }}

{% endif %}
