<div class="govuk-grid-column-one-quarter">

  <h2 class="govuk-heading-m">
    Introduction
  </h2>

  <ul class="govuk-list govuk-list-bullet">
    <li>
      <a href="about" class="govuk-link--no-visited-state govuk-link--no-underline">
        What is this
      </a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Appeal details
  </h2>
  <ul class="govuk-list govuk-list-bullet">
    <li>
      <a href="documentation" class="govuk-link--no-visited-state govuk-link--no-underline">
        Documentation (as is)
      </a>
    </li>
    <li>
      <a href="documentation-by-party" class="govuk-link--no-visited-state govuk-link--no-underline">
        Documentation by party
      </a>
    </li>
  </ul>
</div>
