<div class="govuk-grid-column-one-quarter">

  <h2 class="govuk-heading-m">
    Introduction
  </h2>

  <ul class="govuk-list govuk-list-bullet">
    <li>
      <a href="about" class="govuk-link--no-visited-state govuk-link--no-underline">
        What is this
      </a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Appeal details, documentation
  </h2>
  <ul class="govuk-list govuk-list-bullet">
    <li>
      <a href="documentation" class="govuk-link--no-visited-state govuk-link--no-underline">
        As of November 2025
      </a>
    </li>
    <li>
      <a href="documentation-by-party" class="govuk-link--no-visited-state govuk-link--no-underline">
        Grouped by party
      </a>
    </li>
    <li>
      <a href="documentation-by-evidence" class="govuk-link--no-visited-state govuk-link--no-underline">
        Grouped by evidence
      </a>
    </li>
  </ul>
</div>
