{% extends "layouts/PINS.html" %}

{% set pageName="Complete" %}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "No changes were made",
        html: "Appeal ID<br><strong>2110166</strong>"
      }) }}

    <p class="govuk-body">The original details still apply.</p>
    <p class="govuk-body">No emails have been sent to parties.</p>
      
      <p class="govuk-body">
        <a href="../case" class="govuk-link">Go to case details</a>
      </p>
    </div>
  </div>

{% endblock %}