{% extends "layouts/PINS.html" %}

{% set pageName="Complete" %}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Site visit changed",
        html: "Appeal ID<br><strong>2110166</strong>"
      }) }}

      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">Time:XX</li>
        <li class="govuk-body">Date:XX</li>
        <li class="govuk-body">Location:XX</li>
        <li class="govuk-body">Visit type:XX</li>
      </ul>



      <p class="govuk-body">
        The case timetable has been updated. We’ve sent an email to the LPA and appellant to confirm the changes to the site visit.
      </p>
      
      <p class="govuk-body">
        <a href="../case" class="govuk-link">Go to case details</a>
      </p>
    </div>
  </div>

{% endblock %}