{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro uiCheckboxAccordion(display, sections, title, modalSubtitle, id, isModal) %}
	{% set translations = {
		applyFilters: 'Apply filters',
		clearFilters: 'Clear filters',
		hideAllSections: 'Hide all sections',
		showAllSections: 'Show all sections',
		selectAllFilters: 'Select all filters',
		returnToResults: 'Return to results'
	} %}

	{% if display %}
		<div
			class="ui-checkbox-accordion {% if isModal %}ui-checkbox-accordion--{{ isModal }}{% endif %}"
			data-translations="{{ translations | dump }}"
			{% if id %}id="{{ id }}"{% endif %}
		>
			<div class="ui-checkbox-accordion__outer-container">
				<div class="ui-checkbox-accordion__inner-container">
					<div class="ui-checkbox-accordion__modal-header">
						<div class="ui-checkbox-accordion__modal-header-content-start">
							<h3 class="ui-checkbox-accordion__modal-title">
								{{ title }}
							</h3>

							<span class="ui-checkbox-accordion__modal-subtitle">{{ modalSubtitle }}</span>
						</div>

						<div>
							<button
								class="ui-checkbox-accordion__modal-close-btn"
								type="button"
							>
								{{ translations.returnToResults }}
							</button>
						</div>
					</div>

					<div class="ui-checkbox-accordion__header">
						<h3 class="ui-checkbox-accordion__title">
							{{ title }}
						</h3>
					</div>

					<div class="ui-checkbox-accordion__sections">
						<button type="button" class="ui-checkbox-accordion__switch" id="show-hide-all-filters">
							{{ translations.showAllSections or 'Show all sections' }}
						</button>

						{% for section in sections %}
							{% set sectionAriaControlsId = 'ui-checkbox-accordion__checkboxes-section--' + loop.index + '' %}
							{% set sectionInputId = 'ui-checkbox-accordion__section-switch--' + loop.index + '' %}
							<details
							class="ui-checkbox-accordion__section"
							{% if section.isOpen %}
							open
							{% endif %}
						>
								<summary class="ui-checkbox-accordion__section-switch">
									<svg
									class="ui-checkbox-accordion__section-switch-indicator"
									height="10"
									width="18"
								>
										<path
										d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z"
										fill="#000"
									/>
									</svg>

									<span class="ui-checkbox-accordion__section-switch-title">
										<span class="govuk-visually-hidden">Filter options start</span>
										<span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
										<span class="govuk-visually-hidden">Filter options segment 2</span>
										{{ section.title }}
										<span class="govuk-visually-hidden">Filter options segment 3</span>
									</span>
								</summary>

								<div
								class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--{{ section.type }}"
								id="{{ sectionAriaControlsId }}"
							>
									{% if section.type === 'checkbox' %}
										{{ govukCheckboxes({
											classes: "govuk-checkboxes--small",
											fieldset: {
											legend: {
												html: '<span class="govuk-visually-hidden">' ~ section.title ~ ' Filter options segment 3</span>'
											}
											},
											idPrefix: section.idPrefix,
											items: section.items,
											name: section.name
										}) }}
										{% endif %}

									{% if section.type === 'date' %}
										{% for formGroup in section.formGroups %}
											{{ govukDateInput({
											id: formGroup.id,
											namePrefix: formGroup.inputNamePrefix,
											fieldset: {
												legend: {
													text: formGroup.title
												}
											},
											errorMessage: formGroup.errorMessage,
											items: formGroup.inputs
										}) }}
										{% endfor %}
									{% endif %}
								</div>
							</details>

							{% if not loop.last %}
								<hr class="ui-checkbox-accordion__section-break">
							{% endif %}
						{% endfor %}
					</div>

					{{ govukButton({
						attributes: { "enterkeyhint": "search", "data-cy": "apply-filter-button" },
						classes: "ui-checkbox-accordion__submit",
						text: translations.applyFilters,
						type: "Submit"
					}) }}
				</div>
			</div>
		</div>
	{% endif %}
{% endmacro %}