{% extends "layouts/PINS.html" %}

{% set pageName="Assign another?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">Appeal 2110166</span>
		<h1 class="govuk-heading-xl">New Case Officer</h1>

       <form action="document-details-removed" method="post" class="govuk-!-margin-top-9" novalidate>

		<!-- this form is branching using https://github.com/abbott567/radio-button-redirect for simpler routing-->

		{{ govukRadios({
		  name: "assign-another",
		  fieldset: {
		    legend: {
		      text: "Do you want to assign a different case officer?",
		      isPageHeading: false,
		      classes: "govuk-fieldset__legend--m"
		    }
		  },
		  items: [
		    {
		      value: "yes~/projects/members-transfers/v1/assign-members/search",
		      text: "Yes"
		    },
		    {
		      value: "no~/projects/members-transfers/v1/assign-members/case-unassigned",
		      text: "No"
		    }
		   ]
		}) }}

		{{ govukButton({
          text: "Continue"
        }) }}


	  </form>


    </div>
  </div>

{% endblock %}
