{% extends "layouts/PINS-Simple.html" %}

{% set title = "Slip rules (updating a decision letter)" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body-l">
        When we spot an error in the appeal decision letter, it can be updated and a notice can be sent with a notice of the correction.
      </p>

      <h2 class="govuk-heading-m">Version 3
        {{ govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--light-blue"
        }) }}
      </h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>new question added: "Why are you updating the decision letter?"</li>
        <li>if "Incorrect decision date" is selected, then we do not ask for a correction notice, and the decision date is not marked as reissued</li>
      </ul>
      
      
{{ govukButton({
  text: "View prototype",
  href: "/projects/slip-rules/v3/reset",
  isStartButton: true
}) }}

      
      
      {% set v2HTML %}
        <p class="govuk-body">
          Updates following <a href="https://pins-ds.atlassian.net/wiki/spaces/BO/pages/2155675671/Slip+rules+user-research" class="govuk-link">user research</a>:
        </p>
      
        <ul class="govuk-list govuk-list--bullet">
          <li>making it clear when a decision has been reissued</li>
          <li>clarification for ‘reasons’ / correction notice content</li>
          <li>preview of email</li>
        </ul>
      
        {{ govukButton({
          text: "View prototype",
          href: "/projects/slip-rules/v2/case-details?case-stage=complete",
          isStartButton: true
        }) }}
      {% endset %}
      
      
      {% set v1HTML %}
        <p class="govuk-body">
            Researched on Wed 16 April to 25 April 2025 with 5 Customer Quality Team users.
        </p>
        <p class="govuk-body">
          <a href="https://pins-ds.atlassian.net/wiki/spaces/BO/pages/2155675671/Slip+rules+user-research" class="govuk-link">User research notes on Confluence</a>.
        </p>
        {{ govukButton({
          text: "View prototype",
          href: "/projects/slip-rules/v1/case-details?case-stage=complete",
          isStartButton: true
        }) }}

      {% endset %}
      
      
      {{ govukAccordion({
        id: 'previous',
        classes: 'govuk-!-margin-top-5',
        items: [
          {
            heading: {
              html: 'Version 2 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Complete</strong>'
            },
            content: { html: v2HTML },
            expanded: false
          },
          {
            heading: {
              html: 'Version 1 <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">Researched</strong>'
            },
            content: { html: v1HTML },
            expanded: false
          }
        ]
      }) }}
      
    </div>
  </div>
{% endblock %}
