{% extends "layouts/PINS-Simple-post-mvp.html" %}

{% set title = 'Change procedure' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,

      rows: [
        [
          {
            text: "Typical user"
          },
          {
            text: "Case officers"
          }
        ],
        [
          {
            text: "User story"
          },
          {
            html: "As a Case Officer,<br>
I can change the procedure type of an appeal,<br>
So that the case can be handled correctly if the original procedure type was unsuitable"
          }
        ],
        [
          {
            text: "Jira ticket"
          },
          {
            html: '<a href="https://pins-ds.atlassian.net/browse/A2-48">AS-48: Change procedure type</a><br>
                   <a href="https://pins-ds.atlassian.net/browse/BDPAR-13">BDPAR-13: Change procedure type</a>'

          }
        ]
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Version 1
      {{govukTag({
        text: "In progress",
        classes: "govuk-!-margin-left-2 govuk-tag--yellow"
      })}}
    </h2>

    <a href="v1/case" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      View prototype
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

  </div>
</div>

{% endblock %}
