{% extends "layouts/bo.html" %}

{% set title = 'Confirm that you want to accept appellant proof of evidence and witnesses'  %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>We will share the proof of evidence and witnesses with the relevant parties.</p>

      {{ govukDetails({
        summaryText: "Preview email to Rule 6 party",
        html: rule6EmailHtml
      }) }}

      {{ govukDetails({
        summaryText: "Preview email to appellant",
        html: rule6EmailHtml
      }) }}

      {{ govukDetails({
        summaryText: "Preview email to LPA",
        html: rule6EmailHtml
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Accept appellant proof of evidence and witnesses"
        }) }}

        <p><a href="javascript:history.back()">Cancel</a></p>
      </form>
    </div>
  </div>
{% endblock %}
