{% extends "layouts/bo.html" %}

{% set title = "Check details and add linked appeal" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Appeal reference"
            },
            value: {
              html: newLinkedAppeal.id + '<br>:type' | replace(':type', newLinkedAppeal.type)
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/linked-appeals/new" | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Appeal reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Which is the lead appeal?"
            },
            value: {
              html: newLeadAppeal.id + '<br>:type' | replace(':type', newLeadAppeal.type)
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/linked-appeals/new/lead-appeal" | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Lead appeal"
                }
              ]
            }
          } if data.addLinkedAppeal.leadAppeal
        ]
      }) }}

      <p>
        {{relationship.leadAppealId}} will be the lead appeal of {{relationship.childAppealId}}{%- if isLeadAppealChanging %} and all other linked appeals
      {%- endif -%}.
      </p>

      {# <p>{{relationship.leadAppealId}} will be the lead appeal.</p>

      <p>{{relationship.childAppealId}} will be the child appeal.</p>

      {% if willOtherChildAppealsBeMoved %}
        <p>All other linked appeals will become a child of {{relationship.leadAppealId}}.</p>
      {% endif%} #}

      <form method="post">
        {{ govukButton({
          text: "Add linked appeal"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
