
{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Add date received" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Appeal 2110166
      </span>

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      
      <form action="status-add-doc" method="post" class="govuk-!-margin-top-6" noAccept statementate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

            
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric" value="05">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-month" >
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric" value="07">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric" value="2024">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
        </div>

        {% if dob == 'Reject statement DateTime' %}
          {% set dob='Ongoing' %}
        {% endif %}

      </form>

    </div>
  </div>

{% endblock %}
