{% extends "layouts/bo.html" %}

{% set title = "Statement" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>
        <span class="govuk-caption-l">Appeal {{appeal.id}} - add Rule 6 statement</span>
        {{ govukCharacterCount({
          id: "addRule6Statement[statement]",
          name: "addRule6Statement[statement]",
          label: {
            text: title,
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          maxlength: 500,
          value: data.addRule6Statement.statement
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
