{% extends "layouts/bo.html" %}

{% set title = "Check details and update inquiry" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.editInquiry.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              html: data.editInquiry.date | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "Date"
                }
              ]
            }
          },
          {
            key: {
              text: "Time"
            },
            value: {
              html: data.editInquiry.time
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "Time"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know the expected number of days to carry out the inquiry?"
            },
            value: {
              html: data.editInquiry.hasDays
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry/days" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "if you know the expected number of days to carry out the inquiry"
                }
              ]
            }
          },
          {
            key: {
              text: "Expected number of days to carry out the inquiry"
            },
            value: {
              html: data.editInquiry.days | days
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry/days" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "Expected number of days to carry out the inquiry"
                }
              ]
            }
          } if data.editInquiry.hasDays == 'Yes',
          {
            key: {
              text: "Do you know the address of where the inquiry will take place?"
            },
            value: {
              html: data.editInquiry.hasAddress
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry/has-address" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "if you know the inquiry address"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/edit-inquiry/address" | replace(':appealId', appeal,id),
                  text: "Change",
                  visuallyHiddenText: "Inquiry address"
                }
              ]
            }
          } if data.editInquiry.hasAddress == 'Yes'
        ]
      }) }}

      <p>We’ll send an email to the appellant and LPA to tell them about the inquiry.</p>

      <form method="post">
        {{ govukButton({
          text: "Update inquiry"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
