{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Move ‘2114328-IP-comment.doc’" %}

{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block beforeContent %}
  {{ govukBackLink({
    html: 'Back',
    href: 'case-details?success='
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 7001224</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <div class="govuk-inset-text">
        The document is currently in:<br>
        Interested party comments / Asad Khan / supporting documents
      </div>

      <h2 class="govuk-heading-m">
        Documentation
      </h2>

      <h3 class="govuk-heading-s">
        Appeal
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Application form
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Agreement to change description of development
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Decision letter from local planning authority
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appeal statement
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Planning obligation
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Separate ownership certificate and agricultural land declaration
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Application for an award of costs
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Design and access statement
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Plans, drawings and list of plans
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            New plans or drawings
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Other new supporting documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Additional documents
          </a>
        </li>

      </ul>

      <h3 class="govuk-heading-s">
        LPA questionnaire
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Conservation area map and guidance
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Tree preservation order documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Definitive map and statement extract
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Environmental statement and supporting information
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Screening opinion documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Screening direction documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Scoping opinion documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Who did you notify about this application?
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Site notice
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Press advertisement
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appeal notification letter
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Representations from members of the public or other parties
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Consultation responses and standing advice
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Planning Officer’s report
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Relevant policies from statutory development plan
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Supplementary planning documents
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Emerging plan relevant to appeal
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Other relevant policies
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Community infrastructure levy
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            New conditions
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Additional documents
          </a>
        </li>

      </ul>

      <h3 class="govuk-heading-s">
        LPA statement
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Supporting documents
          </a>
        </li>

      </ul>

      <h3 class="govuk-heading-s">
        Interested party comments
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Shafeeq Muhammad
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Anca Grigore
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Ari Arif
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Gurpreet Sagoo
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Asad Khan
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Caitlin Lovays
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Amanda Lyons
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Gillian Gormley
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Pete Knowles
          </a>
        </li>

      </ul>

      <h3 class="govuk-heading-s">
        Final comments
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appellant final comments
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            LPA final comments
          </a>
        </li>

      </ul>

      <h3 class="govuk-heading-s">
        Costs
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appellant cost application
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appellant cost withdrawal
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            Appellant correspondence
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            LPA cost application
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            LPA cost withdrawal
          </a>
        </li>
        <li>
          <a class="govuk-link" href="move-document-destination">
            LPA correspondence
          </a>
        </li>

      </ul>

    </div>
  </div>
{% endblock %}
