{% extends "layouts/PINS-post-mvp.html" %}

{% if party.status == 'Ready to review' %}
  {% set title = 'Check details and withdraw the request for Rule 6 status'  %}
  {% set reason = 'Reason for withdrawing the request for Rule 6 status'  %}
  {% set warning = 'We’ll send an email to the Rule 6 party to explain why you’ve withdrawn their request for Rule 6 status.' %}
  {% set button = 'Withdraw request for Rule 6 status ' %}
{% else %}
  {% set title = 'Check details and withdraw Rule 6 status'  %}
  {% set reason = 'Reason for withdrawing the Rule 6 status'  %}
  {% set warning = 'We‘ll send an email to the Rule 6 party to explain why you’ve withdrawn their Rule 6 status.' %}
  {% set button = 'Withdraw Rule 6 status ' %}
{% endif %}
{% set pageName = title %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: 'javascript:history.back()'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{party.firstName}} {{party.lastName}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: reason
            },
            value: {
              html: data.withdrawRule6Party.reason
            },
            actions: {
              items: [
                {
                  href: '/main/cases/:appealId/rule-6-parties/:partyId/withdraw' | replace(':appealId', application.id) | replace(':partyId', party.id),
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      <p>{{warning}}</p>

      <form method="post">
        {{ govukButton({
          text: button
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
