{% extends "layouts/bo.html" %}

{% set title = "Sucess" %}
{% set pageName = title %}
{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
        <p class="govuk-notification-banner__heading">Site visit updated</p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success"
        }) }}

        </div>

        <div class="govuk-grid-column-full">
            

        <span class="govuk-caption-l">Appeal 6024299</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Case details</h1>

        <h1 class="govuk-heading-l">Site visit</h1>

        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: "Type"
                    },
                    value: {
                        text: data.setupVisit.type or "Unaccompanied"
                    },
                    actions: {
                        items: [
                            {
                                href: "visit-type",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Do you know the start date and time?"
                    },
                    value: {
                        html: 'Yes'
                    },
                    actions: {
                        items: [
                            {
                                href: "date-and-time-check",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Date"
                    },
                    value: {
                        html: '17 March 2026'
                    },
                    actions: {
                        items: [
                            {
                                href: "visit-date--access-required",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: "Start time"
                    },
                    value: {
                        html: '10:00'
                    },
                    actions: {
                        items: [
                            {
                                href: "visit-date--access-required",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                            }
                        ]
                    }
                }
            ]
        }) }}


    </div>
</div>
{% endblock %}