{% extends "layouts/PINS.html" %}

{% set title = 'How might it be affected?' %}

{% block questions %}
  {{ govukCheckboxes({
    name: "neighbours-land-reasons",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "Affect outlook or privacy",
        text: "Affect outlook or privacy"
      },
      {
        value: "Detract from site surroundings",
        text: "Detract from site surroundings"
      },
      {
        value: "Cause a nuisance, such as noise, smells or dust",
        text: "Cause a nuisance, such as noise, smells or dust"
      },
      {
        value: "Affect the health or safety of neighbours",
        text: "Affect the health or safety of neighbours"
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}{% endblock %}
