{% extends "layouts/PINS-admin.html" %}

{% set title = "Personal list" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/address/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Address
          </a>
        </li>
        <li>
          <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case heading
          </a>
        </li>
        <li>
          <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case status
          </a>
        </li>
        <li>
          <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (important)
          </a>
        </li>
        <li>
          <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (success)
          </a>
        </li>
        <li>
          <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Meta data
          </a>
        </li>
        <li>
          <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">
            Personal list
          </a>
        </li>
        <li>
          <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Upload multiple files
          </a>
        </li>
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="personal-list">
        {{ title }}
      </h1>

      <p>
        <strong class="govuk-tag govuk-!-margin-bottom-5">Experimental</strong>
      </p>

      <p class="govuk-body-l">
        The personal list pattern is used to display a list of appeals assigned to a specific case officer or inspector.
      </p>

      {% set exampleHtml %}

        {{ personalList (
          appealId = "2556782",
          appealLink = "http;//www.google.com",
          actionText = "Validate appellant case",
          actionLink = "#",
          dueBy = 1 | daysInFuture,
          caseStatus = "Ready to start",
          exampleData = "true"
        ) }}
      {% endset -%}

      {% set codeHtml %}
        <pre class="code-snippet"><code>{% raw -%}{{
  personalList (
    appealId = "EXAMPLE",
    appealLink = "appeal-details",
    linked = "CHILD",
    actionText = "Validate appellant case",
    actionLink = "#",
    dueBy = "10 July 2023",
    caseStatus = "Ready to start",
    exampleData = "true"
  )
}}{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        Use this pattern to display the list of cases assigned to a case officer or inspector.
      </p>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p>
        This pattern displays a personal list in the prototype. It allows customisation by passing parameters. This means that we can customise elements of the list without duplicating the whole pattern.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "appealId"
            },
            value: {
              text: "The ID of the example appeal"
            }
          },
          {
            key: {
              text: "appealLink"
            },
            value: {
              text: "The link the example appeal should go to"
            }
          },
          {
            key: {
              text: "linked"
            },
            value: {
              html: "Displays a tag if the appeal is a linked appeal. Can be <strong>lead</strong>, <strong>child</strong> or left empty."
            }
          },
          {
            key: {
              text: "actionText"
            },
            value: {
              html: 'The text of the action required link for the example appeal'
            }
          },
          {
            key: {
              text: "actionLink"
            },
            value: {
              html: 'The link the action required text should go to'
            }
          },
          {
            key: {
              text: "dueBy"
            },
            value: {
              html: 'The date the action on the example appeal is due by'
            }
          },
          {
            key: {
              text: "caseStatus"
            },
            value: {
              html: 'The status of the example appeal'
            }
          },
          {
            key: {
              text: "exampleData"
            },
            value: {
              html: 'A boolean value to specify whether to show a set of example data as well as the example appeal. Can be <strong>true</strong>, <strong>false</strong> or left empty.'
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
