{% extends "layouts/PINS.html" %}

{% set pageName="Recover appeal" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

	<span class="govuk-caption-l">Appeal 6024299</span>
	<h1 class="govuk-heading-l">Recover appeal</h1>

	<p class="govuk-body">
          Appeal will be marked recovered and the PCU will be able to access the appeal.
        </p>

    {{ govukButton({
      text: "Recover appeal",
      href: "/projects/recovery-appeal/case-details?appealRecovered=yes"
    }) }}

  </div>
</div>


{% endblock %}
