{% extends "layouts/bo.html" %}

{% set title = "Rule 6 status applications" %}
{% set title = "Rule 6 parties" %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0',
      items: [
        {
          text: appeal.id,
          href: "/main/appeals/:appealId" | replace(':appealId', appeal.id)
        },
        {
          text: title
        }
      ]
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukNotificationBanner({
        type: "success",
        text: flash
      }) if flash.length }}
    </div>
  </div>

  <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p class="govuk-!-margin-bottom-6"><a class="govuk-link" href="/main/appeals/{{appeal.id}}/rule-6-parties/new">Add Rule 6 party</a></p>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% if parties.length %}
         <div class="app-list">
          {% for item in parties %}
            <div class="app-list__item">
              {% if item.organisationName %}
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                  <a class="govuk-link--no-visited-state" href="/main/appeals/{{appeal.id}}/rule-6-parties/{{item.id}}">
                    {{item.organisationName}}
                  </a>
                </h2>
                <p class="govuk-!-margin-bottom-0 govuk-!-font-size-16">{{item.firstName}} {{item.lastName}}</p>
              {% else %}
                <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a class="govuk-link--no-visited-state" href="/main/appeals/{{appeal.id}}/rule-6-parties/{{item.id}}">
                    {{item.firstName}} {{item.lastName}}
                  </a>
                </h2>
              {% endif %}

              {{ govukTag({
                text: item.status,
                classes: "app-list__tag " + (item.status | rule6StatusColour)
              }) }}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% include "includes/pagination.njk" %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new App.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}