{% extends "layouts/PINS-Header-Nav.html" %}

{% set pageName="Personal list" %}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


	{{ govukInput({
	  label: {
	    text: "Search national list",
	    classes: "govuk-label--l",
	    isPageHeading: false
	  },
	  classes: "",
	  hint: {
	    text: "Enter appeal ID or postcode"
	  },
	  id: "account-number",
	  name: "account-number",
	  inputmode: "numeric",
	  spellcheck: false
	}) }}

	{{ govukButton({
	  text: "Search",
	  href: "personal-list-mix-tab-search-res#all-cases"
	}) }}
	
	
	<p class="govuk-!-font-size-16">Search results for: <strong>2110166</strong></p>
		
	<p class="govuk-!-margin-bottom-8 govuk-!-font-size-16"><a href="personal-list-mix-tabs">Clear search results</a></p>
	

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	  
	  
	<table class="govuk-table">
		<thead class="govuk-table__head">
		<tr class="govuk-table__row">
		  <th scope="col" class="govuk-table__header">Appeal ID</th>
		  <th scope="col" class="govuk-table__header">Site address</th>
		  <th scope="col" class="govuk-table__header">Local planning authority</th>
		  <th scope="col" class="govuk-table__header">Appeal type</th>
		  <th scope="col" class="govuk-table__header">Status</th>
		</tr>
		</thead>
		<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
		  <th scope="row" class="govuk-table__header"><a href="case.html">2110166</a></th>
		  <td class="govuk-table__cell">Address line 1, Address line 2, Town or city, Postcode</td>
		  <td class="govuk-table__cell">Council name</td>
		  <td class="govuk-table__cell">Appeal type</td>
		  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Ready to start</strong></td>
		</tr>
		</tbody>
	</table>

	
	

	 




  </div>
</div>

{% endblock %}
