<!-- patterns -->
<ul class="govuk-list govuk-list-bullet">
  <li>
    <a href="/patterns/address/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Address
    </a>
  </li>
  <li>
    <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Case heading
    </a>
  </li>
  <li>
    <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Case status
    </a>
  </li>
  <li>
    <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Banner (important)
    </a>
  </li>
  <li>
    <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Banner (success)
    </a>
  </li>
  <li>
    <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Meta data
    </a>
  </li>
  <li>
    <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Personal list
    </a>
  </li>
  <li>
    <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
      Upload multiple files
    </a>
  </li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- custom macros -->
<ul class="govuk-list govuk-list-bullet">
  <li>
    <a href="/patterns/code-block" class="govuk-link--no-visited-state govuk-link--no-underline">
      ‘codeBlock’ macro (create copyable html)
    </a>
  </li>
</ul>
