{% extends "layouts/PINS-admin.html" %}

{% set title = "Design patterns" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <ul class="govuk-list govuk-list-bullet">
      <li>
        <a href="/patterns/address/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Address
        </a>
      </li>
      <li>
        <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Case heading
        </a>
      </li>
      <li>
        <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Case status
        </a>
      </li>
      <li>
        <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Banner (important)
        </a>
      </li>
      <li>
        <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Banner (success)
        </a>
      </li>
      <li>
        <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Meta data
        </a>
      </li>
      <li>
        <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Personal list
        </a>
      </li>
      <li>
        <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Upload multiple files
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <ul class="govuk-list govuk-list-bullet">
      <li>
        <a href="/patterns/check-answers" class="govuk-link--no-visited-state govuk-link--no-underline">
          Check answers
        </a>
      </li>
      <li>
        <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
          Check answers (with sections)
        </a>
      </li>
    </ul>

  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-body">Patterns are best practice design solutions for specific user-focused tasks and page types.</p>

    <p class="govuk-body">All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>

    <p class="govuk-body">Patterns often use one or more <a href="https://design-system.service.gov.uk/components/">components from the GOV.UK Design System</a> and explain how to adapt them to the context.</p>

  </div>
</div>

{% endblock %}
