{% extends "layouts/PINS-admin.html" %}

{% set pageName="Patterns" %}

{% set back = false %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
 
    <ul class="govuk-list govuk-list-bullet">
      <li><a href="patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">Personal list</a></li>
    </ul>

    </div>

<div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l">
    Design patterns
  </h1>

  <p class="govuk-body">Patterns are best practice design solutions for specific user-focused tasks and page types.</p>

<p class="govuk-body">All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>

<p class="govuk-body">Patterns often use one or more <a href="https://design-system.service.gov.uk/components/">components from the GOV.UK Design System</a> and explain how to adapt them to the context.</p>
 
  </div>
  
  
</div>



  

{% endblock %}
