{% extends "layouts/PINS.html" %}

{% set pageName="Typography explorations" %}

{% block content %}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Headings with captions</h1>

            <span class="govuk-caption-xl">pins-caption-xl</span> 
            <h1 class="govuk-heading-xl">pins-heading-xl</h1>

            <span class="govuk-caption-l">pins-caption-l</span> 
            <h2 class="govuk-heading-l">pins-heading-l</h2>

            <span class="govuk-caption-m">pins-caption-m</span> 
            <h3 class="govuk-heading-m">pins-heading-m</h3>
             
            <h4 class="govuk-heading-s">pins-heading-s</h4>


            <h1 class="govuk-heading-l govuk-!-margin-top-9">Paragraphs</h1>
            
            <p class="govuk-body">pins-body</p>
            
            <h1 class="govuk-heading-m">Lead paragraph</h1>
            <p class="govuk-body-l">pins-body-l</p>

            <h1 class="govuk-heading-m">Body small</h1>
            <p class="govuk-body-">pins-body-s</p>




            <p class="govuk-body govuk-!-font-size-80">pins-!-font-size-80</p>
            <p class="govuk-body govuk-!-font-size-48">pins-!-font-size-48</p>
            <p class="govuk-body govuk-!-font-size-36">pins-!-font-size-36</p>
            <p class="govuk-body govuk-!-font-size-27">pins-!-font-size-27</p>
            <p class="govuk-body govuk-!-font-size-24">pins-!-font-size-24</p>
            <p class="govuk-body govuk-!-font-size-19">pins-!-font-size-19</p>
            <p class="govuk-body govuk-!-font-size-16">pins-!-font-size-16</p>



        </div>
    </div>


{% endblock %}
