{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Planning obligation documents" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "planning-obligation-review"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukNotificationBanner({
        type: "success",
        text: flash
      }) if flash.length}}

      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

    </div>

    <div class="govuk-grid-column-full">

      {{ govukButton({
        text: "Add document",
        href: "upload-document",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukTable({

        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Submitted"
          },
          {
            text: "Redaction status"
          },
          {
            text: "Action",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>appeal-2110166-section106-agreement_part1.pdf</a>"
            },
            {
              html: 2 | daysAgo
            },
            {
              html:  (data ['lpa-document-redaction']or 'Unredacted')
            },
            {
              html: "<a href='manage-document' class='govuk-link'>View and edit</a>",
              format: "numeric"
            }
          ],
          [
            {
              html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>appeal-2110166-section106-agreement_part2.pdf</a>"
            },
            {
              html: 2 | daysAgo
            },
            {
              html:  (data ['lpa-document-redaction']or 'Unredacted')
            },
            {
              html: "<a href='manage-document' class='govuk-link'>View and edit</a>",
              format: "numeric"
            }
          ]
        ]
      }) }}

    </div>
  </div>
{% endblock %}
