{% extends "layouts/bo.html" %}

{% set title = "Check details and add timetable due dates" %}
{% set pageName = title %}
{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Statement of common ground due"
            },
            value: {
              html: data.addTimetableDates.statementOfCommonGroundDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/main/cases/:appealId/add-timetable-dates" | replace(':appealId', application.id),
                  text: "Change",
                  visuallyHiddenText: "Statement of common ground due"
                }
              ]
            }
          },
          {
            key: {
              text: "Proof of evidence and witnesses due date"
            },
            value: {
              html: data.addTimetableDates.proofOfEvidenceAndWitnessesDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/main/cases/:appealId/add-timetable-dates/proof-of-evidence-and-witnesses-due-date" | replace(':appealId', application.id),
                  text: "Change",
                  visuallyHiddenText: "Proof of evidence and witnesses due date"
                }
              ]
            }
          },
          {
            key: {
              text: "Planning obligation due date"
            },
            value: {
              html: data.addTimetableDates.planningObligationDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: "/main/cases/:appealId/add-timetable-dates/planning-obligation-due-date" | replace(':appealId', application.id),
                  text: "Change",
                  visuallyHiddenText: "Planning obligation due date"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Add timetable due dates"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
