
{{ govukSummaryList({
  card: {
    title: {
      text: "Constraints, designations and other issues"
    }
  },
  rows: [
    {
      key: {
        html: 'Is enforcement the correct type of appeal?'
      },
      value: {
        html: 'Yes'
      },
      actions: {
        items: [
          {
            href: 'constraints/enforcement-type?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the development change a listed building?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/change-listed-building?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the development affect the setting of listed buildings?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/affect-listed-setting?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Would the development affect a scheduled monument?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/scheduled-monument?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the site in, or next to a conservation area?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/conservation-area?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Would the development affect a protected species?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/protected-species?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the appeal site in a green belt?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/green-belt?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the site in a national landscape?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/national-landscape?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the development in, near or likely to affect any designated sites?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/designated-sites?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does a Tree Preservation Order (TPO) apply to any part of the site?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/tree-preservation-order?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the development relate to anyone claiming to be a Gypsy or Traveller?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/gypsy-or-traveller?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Would a public right of way need to be removed or diverted?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/public-right-of-way?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the enforcement notice relate to building, engineering, mining or other operations?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/enforcement-operations?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'What is the area of the appeal site?'
      },
      value: {
        html: '64m²'
      },
      actions: {
        items: [
          {
            href: 'constraints/site-area?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the area of the alleged breach the same as the site area?'
      },
      value: {
        html: 'Yes'
      },
      actions: {
        items: [
          {
            href: 'constraints/breach-area?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the alleged breach create any floor space?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/floor-space?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the enforcement notice include a change of use of land to dispose refuse or waste materials?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/change-use-refuse?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the appeal site within 250m of a waste landfill site?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/landfill-proximity?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the alleged development involve importing waste materials?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/importing-waste?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the appeal site within 400m of an area of underground or surface mineral interest?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/mineral-interest?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the enforcement notice include the change of use of land to dispose of remaining materials after mineral extraction?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/change-use-mineral?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the enforcement notice include a change of use of land to store minerals in the open?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/store-minerals?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the enforcement notice include the erection of a building or buildings?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/erection-building?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the building on agricultural land and will it be used for agricultural purposes?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/agricultural-building?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the enforcement notice for a single private dwelling house?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/private-dwelling?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the appeal site within 67 metres of a trunk road?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/trunk-road?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Is the appeal site on Crown land?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/crown-land?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Did you serve a stop notice?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/stop-notice?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Did you remove any permitted development rights for the appeal site?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/remove-permitted-rights?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Did you restrict any development rights using a planning condition?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/restrict-rights?cya=true',
            html: 'Change'
          }
        ]
      }
    },
    {
      key: {
        html: 'Does the alleged development involve work to meet the needs of a disabled person?'
      },
      value: {
        html: 'No'
      },
      actions: {
        items: [
          {
            href: 'constraints/disabled-person?cya=true',
            html: 'Change'
          }
        ]
      }
    }

  ]
}) }}
