{% extends "layouts/PINS-admin.html" %}

{% set title = "Meta data" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Important banner
          </a>
        </li>
        <li>
          <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Success banner
          </a>
        </li>
        <li>
          <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case heading
          </a>
        </li>
        <li>
          <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case status
          </a>
        </li>
        <li>
          <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">
            Meta data
          </a>
        </li>
        <li>
          <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Personal list
          </a>
        </li>
        <li>
          <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Upload multiple files
          </a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
        {{ title }}
      </h1>
      <p>
        <strong class="govuk-tag govuk-!-margin-bottom-5">experimental</strong>
      </p>
      <p class="govuk-body-l">
        Contextual information for the appeal.
      </p>

      {% set exampleHtml %}
        {{ metaData (
          site = "22a The Peach Trees, Peckham, SE15 9HA",
          lpa = "Southwark Council"
        ) }}
      {% endset -%}
      {% set codeHtml %}


      <pre class="code-snippet"><code>{% raw -%}{% from "/patterns/meta-data/default.njk" import metaData %}

{{ metaData (
  site = "22a The Peach Trees, Peckham, SE15 9HA",
  lpa = "Southwark Council"
) }}
{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        This is shown at the top of the case details view and other case views and lists contextual information for the user about the view.
      </p>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p>
        You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> macro.
      </p>

      <p>
        Add parameters to the component to display contextual information.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList ({
        rows: [
          {
            key: {
              text: "site"
            },
            value: {
              text: "The appeal site address"
            }
          },
          {
            key: {
              text: "lpa"
            },
            value: {
              text: "The local planning authority"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
