{% from "govuk/macros/attributes.njk" import govukAttributes %}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{%- from "govuk/components/input/macro.njk" import govukInput %}
{%- from "govuk/components/hint/macro.njk" import govukHint %}
{%- from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% set describedBy = params.fieldset.describedBy if params.fieldset.describedBy else "" %}
  
{#- Capture the HTML so we can optionally nest it in a fieldset -#}
{% set innerHtml %}
  {% if params.hint %}
    {% set hintId = params.id + "-hint" %}
    {% set describedBy = describedBy + " " + hintId if describedBy else hintId %}
    {{ govukHint({
      id: hintId,
      classes: params.hint.classes,
      attributes: params.hint.attributes,
      html: params.hint.html,
      text: params.hint.text
    }) | trim | indent(2) }}
  {% endif %}

  {% if params.errorMessage %}
    {% set errorId = params.id + "-error" %}
    {% set describedBy = describedBy + " " + errorId if describedBy else errorId %}
    {{ govukErrorMessage({
      id: errorId,
      classes: params.errorMessage.classes,
      attributes: params.errorMessage.attributes,
      html: params.errorMessage.html,
      text: params.errorMessage.text,
      visuallyHiddenText: params.errorMessage.visuallyHiddenText
    }) | trim | indent(2) }}
  {% endif %}

  <div class="govuk-date-input">
    <div class="govuk-date-input__item govuk-!-margin-right-2">
      {{ govukInput({
        id: params.hour.id or params.hour.name,
        name: params.hour.name,
        label: {
          text: params.hour.label or 'Hour'
        },
        classes: "govuk-input--width-2 " + (params.hour.classes if params.hour.classes),
        value: params.hour.value
      }) }}
    </div>
    <div class="govuk-date-input__item govuk-!-font-size-19 govuk-!-padding-0 govuk-!-margin-right-2">
    :
    </div>
    <div class="govuk-date-input__item">
      {{ govukInput({
        id: params.minute.id or params.minute.name,
        name: params.minute.name,
        label: {
          text: params.minute.label or 'Minute'
        },
        classes: "govuk-input--width-2 " + (params.minute.classes if params.minute.classes),
        value: params.minute.value
      }) }}
    </div>
  </div>        
{% endset -%}

<div class="govuk-form-group {%- if params.errorMessage %} govuk-form-group--error{% endif %} {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}" {{- govukAttributes(params.formGroup.attributes) }}>
  {{ govukFieldset({
    describedBy: describedBy,
    classes: params.fieldset.classes,
    role: 'group',
    attributes: params.fieldset.attributes,
    legend: params.fieldset.legend,
    html: innerHtml | trim
  }) | trim | indent(2) }}
</div>
