{% extends "layouts/PINS-Header-Nav.html" %}

{% set pageName="Change appeal type" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2110166</span>
    <form action="change-appeal-resubmit" method="post">

    {{ govukRadios({
      name: "appealType",
      fieldset: {
        legend: {
          text: "What type should this appeal be?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "a planning appeal",
          text: "Planning appeal"
        },
        {
          value: "an enforcement notice appeal",
          text: "Enforcement notice appeal"
        },
        {
          value: "a planning listed building and conservation area appeal",
          text: "Planning listed building and conservation area appeal"
        },
        {
          value: "a discontinuance notice appeal",
          text: "Discontinuance notice appeal"
        },
        {
          value: "a community infrastructure levy",
          text: "Community infrastructure levy"
        },
        {
          value: "a planing obligation appeal",
          text: "Planning obligation appeal"
        },
        {
          value: "an affordable housing obligation appeal",
          text: "Affordable housing obligation appeal"
        },
        {
          value: "a call in application",
          text: "Call-in application"
        },
        {
          value: "a lawful development certificate appeal",
          text: "Lawful development certificate appeal"
        },
        {
          value: "a commercial appeal",
          text: "Commercial appeal (CAS)"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
</div>


{% endblock %}
