{% extends "layouts/PINS.html" %}

{% set pageName="Audit - History of changes" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to all prototypes",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      History of changes
    </h1>

    <section class="govuk-!-margin-bottom-6">

    	<h2 class="govuk-heading-m">Version 1

    		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

    		<!-- Status tag options

    		{{govukTag({
              text: "New",
              classes: "govuk-!-margin-left-2 govuk-tag--green"
            })}}

            {{govukTag({
              text: "In progress",
              classes: "govuk-!-margin-left-2 govuk-tag--yellow"
            })}}

            {{govukTag({
              text: "Ready for review",
              classes: "govuk-!-margin-left-2 govuk-tag--blue"
            })}}

            {{govukTag({
              text: "Ready for research",
              classes: "govuk-!-margin-left-2 govuk-tag--green"
            })}}

            {{govukTag({
              text: "Researched",
              classes: " govuk-!-margin-left-2 govuk-tag--green"
            })}}

            -->
      </h2>

      <p class="govuk-body">As we temporarily (MVP) allow case officers to edit the properties of appeals, LPA questionnaires, statements and other forms on behalf of the authors, it’s important for PINS to keep an audit of the changes to increase transparency and traceability.</p>

      <p>
        <a href="https://trello.com/c/EPok8X8z/61-access-and-review-a-history-of-changes-to-the-case-documentation-audit">Trello ticket</a>
      </p>

    	{{ govukButton({
    	  text: "View prototype",
    	  href: "version1/case",
    	  isStartButton: true
    	}) }}

    </section>

  </div>

{% endblock %}
