{% extends "layouts/PINS-Simple.html" %}

{% set pageName="Audit - History of changes" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to all prototypes",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      Case history / activity log
    </h1>


    <h2 class="govuk-heading-m">Version 1</h2>

    <p class="govuk-body">As we temporarily (MVP) allow case officers to edit the properties of appeals, LPA questionnaires, statements and other forms on behalf of the authors, it’s important for PINS to keep an audit of the changes to increase transparency and traceability.</p>

    {{ govukButton({
      text: "View prototype",
      href: "version1/history",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Version 2</h2>

    {{ govukButton({
      text: "View prototype",
      href: "version2/history",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Version 3</h2>

    {{ govukButton({
      text: "View prototype",
      href: "version3/history",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Version 4</h2>

    {{ govukButton({
      text: "View prototype",
      href: "version4/history",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">Version 5</h2>

    {{ govukButton({
      text: "View prototype",
      href: "version5",
      isStartButton: true
    }) }}




  </div>

{% endblock %}
