{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% set prototypeLinks = [
  {
    href: '?requested-addresses=true',
    text: 'Requested addresses'
  } if not data['requested-addresses'],
  {
    href: '?requested-addresses=',
    text: 'No addresses requested'
  } if data['requested-addresses']

] %}

{% block content %}

  {% include "/elements/includes/case-details.html" %}

{% endblock %}
