{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<span class="govuk-caption-l">Appeal 1223443</span>


      <form method="post">

        {{ govukCheckboxes({
          name: 'incomplete',
          values: data['incomplete'],
          fieldset: {
            legend: {
              text: "Why is the appeal incomplete?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Appeal name does not match the application form",
              text: "Appeal name does not match the application form"
              
            },
            {
              value: "Enforcement notice missing",
              text: "Enforcement notice missing"
            },
            {
              value: "Appellant does not have a legal interest in the land",
              text: "Appellant does not have a legal interest in the land"
            },
            {
                value: "Missing documents",
                text: "Missing documents"
            },
            {
                value: "Grounds and facts do not match",
                text: "Grounds and facts do not match"
            },
            {
                value: "No ground (a)",
                text: "No ground (a)"
            },
            {
                value: "Waiting for the appellant to submit an application and pay the fee",
                text: "Waiting for the appellant to submit an application and pay the fee"
            },
            {
                value: "Other",
                text: "Other"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
