{% extends "layouts/bo.html" %}

{% set title = "Inquiry address" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{_case.id}} - start timetable</span>
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}
          {{ govukInput({
            id: "address-line-1",
            name: "startCase[inquiryAddress][line1]",
            label: {
              text: "Address line 1"
            },
            value: data.startCase.inquiryAddress.line1,
            autocomplete: "address-line1"
          }) }}

          {{ govukInput({
            id: "address-line-2",
            name: "startCase[inquiryAddress][line2]",
            label: {
              text: "Address line 2 (optional)"
            },
            value: data.startCase.inquiryAddress.line2,
            autocomplete: "address-line2"
          }) }}

          {{ govukInput({
            id: "address-town",
            name: "startCase[inquiryAddress][town]",
            label: {
              text: "Town or city"
            },
            value: data.startCase.inquiryAddress.town,
            autocomplete: "address-level2",
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            id: "address-county",
            name: "startCase[inquiryAddress][county]",
            label: {
              text: "County (optional)"
            },
            value: data.startCase.inquiryAddress.county,
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            id: "address-postcode",
            name: "startCase[inquiryAddress][postcode]",
            label: {
              text: "Postcode"
            },
            value: data.startCase.inquiryAddress.postcode,
            autocomplete: "postal-code",
            classes: "govuk-input--width-10"
          }) }}

        {% endcall %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
