{% extends "layouts/bo.html" %}

{% set title = "Inquiry date and time" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{application.id}} - start case</span>
        <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: "Date",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[inquiryDate][day]",
              label: "Day",
              value: data.startCase.inquiryDate.day or application.inquiry.date.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[inquiryDate][month]",
              label: "Month",
              value: data.startCase.inquiryDate.month or application.inquiry.date.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[inquiryDate][year]",
              label: "Year",
              value: data.startCase.inquiryDate.year or application.inquiry.date.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukInput({
          id: "startCase[inquiryTime]",
          name: "startCase[inquiryTime]",
          label: {
            text: "Time",
            isPageHeading: true,
            classes: 'govuk-label--m'
          },
          hint: {
            text: "For example, 9am or 2:30pm - enter 12pm for midday"
          },
          value: data.startCase.inquiryTime or '10am',
          classes: "govuk-input--width-4"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
