{% extends "layouts/bo.html" %}

{% set title = "Timetable due dates" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{application.id}} - start case</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <form method="post">
        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'LPA questionnaire due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[LPAQuestionnaireDueDate][day]",
              label: "Day",
              value: data.startCase.LPAQuestionnaireDueDate.day or application.LPAQuestionnaireDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[LPAQuestionnaireDueDate][month]",
              label: "Month",
              value: data.startCase.LPAQuestionnaireDueDate.month or application.LPAQuestionnaireDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[LPAQuestionnaireDueDate][year]",
              label: "Year",
              value: data.startCase.LPAQuestionnaireDueDate.year or application.LPAQuestionnaireDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statements due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[statementsDueDate][day]",
              label: "Day",
              value: data.startCase.statementsDueDate.day or application.statementsDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementsDueDate][month]",
              label: "Month",
              value: data.startCase.statementsDueDate.month or application.statementsDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementsDueDate][year]",
              label: "Year",
              value: data.startCase.statementsDueDate.year or application.statementsDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Interested party comments due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[interestedPartyCommentsDueDate][day]",
              label: "Day",
              value: data.startCase.interestedPartyCommentsDueDate.day or application.interestedPartyCommentsDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[interestedPartyCommentsDueDate][month]",
              label: "Month",
              value: data.startCase.interestedPartyCommentsDueDate.month or application.interestedPartyCommentsDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[interestedPartyCommentsDueDate][year]",
              label: "Year",
              value: data.startCase.interestedPartyCommentsDueDate.year or application.interestedPartyCommentsDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statement of common ground due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[statementOfCommonGroundDueDate][day]",
              label: "Day",
              value: data.startCase.statementOfCommonGroundDueDate.day or application.statementOfCommonGroundDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementOfCommonGroundDueDate][month]",
              label: "Month",
              value: data.startCase.statementOfCommonGroundDueDate.month or application.statementOfCommonGroundDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementOfCommonGroundDueDate][year]",
              label: "Year",
              value: data.startCase.statementOfCommonGroundDueDate.year or application.statementOfCommonGroundDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Proof of evidence and witnesses due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][day]",
              label: "Day",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.day or application.proofOfEvidenceAndWitnessesDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][month]",
              label: "Month",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.month or application.proofOfEvidenceAndWitnessesDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][year]",
              label: "Year",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.year or application.proofOfEvidenceAndWitnessesDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Planning obligation due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[planningObligationDueDate][day]",
              label: "Day",
              value: data.startCase.planningObligationDueDate.day or application.planningObligationDueDate | isoDateToDateObject('day'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[planningObligationDueDate][month]",
              label: "Month",
              value: data.startCase.planningObligationDueDate.month or application.planningObligationDueDate | isoDateToDateObject('month'),
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[planningObligationDueDate][year]",
              label: "Year",
              value: data.startCase.planningObligationDueDate.year or application.planningObligationDueDate | isoDateToDateObject('year'),
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
