{% extends "layouts/bo.html" %}

{% set title = "Timetable due dates" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{_case.id}} - start case</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <form method="post">
        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'LPA questionnaire due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[LPAQuestionnaireDueDate][day]",
              label: "Day",
              value: data.startCase.LPAQuestionnaireDueDate.day or _case.LPAQuestionnaireDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[LPAQuestionnaireDueDate][month]",
              label: "Month",
              value: data.startCase.LPAQuestionnaireDueDate.month or _case.LPAQuestionnaireDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[LPAQuestionnaireDueDate][year]",
              label: "Year",
              value: data.startCase.LPAQuestionnaireDueDate.year or _case.LPAQuestionnaireDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statements due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[statementsDueDate][day]",
              label: "Day",
              value: data.startCase.statementsDueDate.day or _case.statementsDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementsDueDate][month]",
              label: "Month",
              value: data.startCase.statementsDueDate.month or _case.statementsDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementsDueDate][year]",
              label: "Year",
              value: data.startCase.statementsDueDate.year or _case.statementsDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Interested party comments due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[interestedPartyCommentsDueDate][day]",
              label: "Day",
              value: data.startCase.interestedPartyCommentsDueDate.day or _case.interestedPartyCommentsDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[interestedPartyCommentsDueDate][month]",
              label: "Month",
              value: data.startCase.interestedPartyCommentsDueDate.month or _case.interestedPartyCommentsDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[interestedPartyCommentsDueDate][year]",
              label: "Year",
              value: data.startCase.interestedPartyCommentsDueDate.year or _case.interestedPartyCommentsDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statement of common ground due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[statementOfCommonGroundDueDate][day]",
              label: "Day",
              value: data.startCase.statementOfCommonGroundDueDate.day or _case.statementOfCommonGroundDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementOfCommonGroundDueDate][month]",
              label: "Month",
              value: data.startCase.statementOfCommonGroundDueDate.month or _case.statementOfCommonGroundDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[statementOfCommonGroundDueDate][year]",
              label: "Year",
              value: data.startCase.statementOfCommonGroundDueDate.year or _case.statementOfCommonGroundDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Proof of evidence and witnesses due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][day]",
              label: "Day",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.day or _case.proofOfEvidenceAndWitnessesDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][month]",
              label: "Month",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.month or _case.proofOfEvidenceAndWitnessesDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[proofOfEvidenceAndWitnessesDueDate][year]",
              label: "Year",
              value: data.startCase.proofOfEvidenceAndWitnessesDueDate.year or _case.proofOfEvidenceAndWitnessesDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Planning obligation due',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "startCase[planningObligationDueDate][day]",
              label: "Day",
              value: data.startCase.planningObligationDueDate.day or _case.planningObligationDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[planningObligationDueDate][month]",
              label: "Month",
              value: data.startCase.planningObligationDueDate.month or _case.planningObligationDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "startCase[planningObligationDueDate][year]",
              label: "Year",
              value: data.startCase.planningObligationDueDate.year or _case.planningObligationDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
