{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	<span class="govuk-caption-l">Appeal 2110166</span>
      <form action="index" method="post">

          {{ govukRadios({
            name: "which-appeal-is-the-parent",
            fieldset: {
              legend: {
                text: "What is the relationship of the appeal you're linking to?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Parent",
                text: "Parent"
              },
              {
                value: "Child",
                text:  "Child"
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    </div>
  </div>


{% endblock %}
