{% extends "layouts/PINS.html" %}

{% set pageName="Project name" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      Personal list
    </h1>

    <section class="govuk-!-margin-bottom-6">


	<h2 class="govuk-heading-m">Version 1

		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

		<!-- Status tag options

		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}

        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}

        -->


	</h2>

	<p class="govuk-body">I want to view my personal list so that I can see all the cases that are assigned to me</p>

	{{ govukButton({
	  text: "View prototype",
	  href: "v1/",
	  isStartButton: true
	}) }}

    </section>

  </div>

{% endblock %}
