

<span class="govuk-caption-xl">
  {{appAddress({address: application.site.address, delimiter: ','})}}
   {# - {{application.lpa.name }} #}
</span>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Appeal {{application.id}} {{ govukTag({
    text: application.status,
    classes: 'govuk-!-margin-bottom-6 ' + application.status | appealStatusColour
  }) }}</h1>


{# <p>Billie says potentch put tag next to h1</p> #}


{# <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      classes: 'app-summary-list--compact govuk-!-margin-bottom-6 govuk-!-font-size-16 govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Site address"
          },
          value: {
            text: application.site.address.line1
          }
        },
        {
          key: {
            text: "Type"
          },
          value: {
            text: application.type
          }
        },
        {
          key: {
            text: "Site description"
          },
          value: {
            text: 'Roof extension involving hip to gable, rear dormer window with juliette and 3no. front facing rooflights'
          }
        }
      ]
    }) }}

  </div>
</div> #}
