{% extends "layouts/PINS-post-mvp.html" %}

{% set title = 'Review statement' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block backLink %}
  {{ govukBackLink({
    html: 'Back',
    href: 'rule-6-statements?acceptedStatement=&redactedStatement=&statement-withdrawn=&manual-r6-statement=&statement-rejected=&extra-document=&address-added=&address-changed='
  }) }}
{% endblock %}

{% set prototypeLinks = [
  {
    href: '?add-ip-address-check=Yes',
    text: 'Address provided'
  } if data['add-ip-address-check'] != 'Yes',
  {
    href: '?add-ip-address-check=',
    text: 'No address provided'
  } if data['add-ip-address-check'] == 'Yes'
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">

      <div class="pins-panel">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rule 6 party
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
              {% if data['manual-r6-statement'] %}
                Sam Fisher
              {% else %}
                Saint Rita’s Community Association
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['manual-r6-statement'] %}
                sammy@fishers.com
              {% else %}
                st-ritas-community-association@live.com
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['add-ip-address-check'] == 'Yes' %}
                {{ data['manual-r6-address-line-1'] or '7 Bipple Lane' }}<br>
                {% if data ['manual-r6-address-line-2'] %}
                  {{ data['manual-r6-address-line-2'] or 'Donnie Close' }}<br>
                {% endif %}
                {{ data['manual-r6-address-town'] or 'Brickleford'}}<br>
                {% if data['manual-r6-address-county'] %}
                  {{ data['manual-r6-address-county'] or 'Brickfordshire' }}<br>
                {% endif %}
                {{ data['manual-r6-address-postcode'] or 'BF93 2NN' }}
              {% else %}
                11 Market Pl<br>London<br>SE16 3UQ
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href='change-address?address-for=review&address-added&address-changed=' class='govuk-link govuk-link--no-visited-state'>
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['manual-r6-statement'] %}
                {{ 2 | daysAgo }}
              {% else %}
                {{ 3 | daysAgo }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          {% if data['statement-type'] != 'doc' %}

            {% if data['manual-r6-statement'] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Statement
                </dt>
                <dd class="govuk-summary-list__value">
                  Having reviewed the proposal we would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. David Newton at number 6 The Grove also agrees.
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="manage-statement">
                    Manage<span class="govuk-visually-hidden"> 2114328-IP-statement.doc</span>
                  </a> -->
                </dd>
              </div>
            {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Statement
                </dt>
                <dd class="govuk-summary-list__value">
                  Having reviewed the proposal we would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. David Newton at number 6 The Grove also agrees.
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            {% endif %}

          {% else %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Statement
              </dt>
              <dd class="govuk-summary-list__value">
                Added as document
              </dd>
            </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting documents
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="" class="govuk-link">
                St.Ritas_Community_Association_statement_for_appeal_4012345.doc
              </a>
            </dd>
            <dd class="govuk-summary-list__actions">

                <a href='extra-documents?address-added=&address-changed=' class='govuk-link govuk-link--no-visited-state'>
                  Manage<span class="govuk-visually-hidden"> supporting docs</span></a><span style="color: #999;"> | </span>
                <a href='upload-extra-supporting-document?statement-attachment=review&address-added=&address-changed=' class='govuk-link govuk-link--no-visited-state'>
                  Add<span class="govuk-visually-hidden"> supporting docs</span>
                </a>
            </dd>
          </div>
        </dl>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <section class="govuk-!-margin-bottom-9">
        <!-- site visit requested -->
        {{ govukCheckboxes({
          name: "siteVisit",
          fieldset: {
            legend: {
              text: "Site visit requested",
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "siteVisitRequest",
              text: "The statement includes a site visit request"
            }
          ]
        }) }}
      </section>

      <form method="post">

        {{ govukRadios({
          name: "review-outcome",
          fieldset: {
            legend: {
              text: "Review decision",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
               value: "Accept statement",
               text: "Accept statement"
             },
            {

               value: "Redact and accept statement",
               text: "Redact and accept statement"
             },
             {
               value: "Reject statement",
               text: "Reject statement"
             }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
