{% extends "layouts/bo.html" %}

{% set title = "Timetable due dates" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{_case.id}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <form method="post">
        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'LPA questionnaire due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[LPAQuestionnaireDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.LPAQuestionnaireDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[LPAQuestionnaireDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.LPAQuestionnaireDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[LPAQuestionnaireDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.LPAQuestionnaireDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statements due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[statementsDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.statementsDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[statementsDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.statementsDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[statementsDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.statementsDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Interested party comments due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[interestedPartyCommentsDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.interestedPartyCommentsDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[interestedPartyCommentsDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.interestedPartyCommentsDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[interestedPartyCommentsDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.interestedPartyCommentsDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Statement of common ground due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[statementOfCommonGroundDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.statementOfCommonGroundDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[statementOfCommonGroundDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.statementOfCommonGroundDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[statementOfCommonGroundDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.statementOfCommonGroundDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Proof of evidence and witnesses due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[proofOfEvidenceAndWitnessesDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.proofOfEvidenceAndWitnessesDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[proofOfEvidenceAndWitnessesDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.proofOfEvidenceAndWitnessesDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[proofOfEvidenceAndWitnessesDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.proofOfEvidenceAndWitnessesDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "whatever",
          fieldset: {
            legend: {
              text: 'Planning obligation due (optional)',
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "editTimetableDueDates[planningObligationDueDate][day]",
              label: "Day",
              value: data.editTimetableDueDates.planningObligationDueDate.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[planningObligationDueDate][month]",
              label: "Month",
              value: data.editTimetableDueDates.planningObligationDueDate.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "editTimetableDueDates[planningObligationDueDate][year]",
              label: "Year",
              value: data.editTimetableDueDates.planningObligationDueDate.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {% if _case.LPAQuestionnaireDueDate or _case.statementsDueDate or _case.interestedPartyCommentsDueDate or _case.statementOfCommonGroundDueDate or applicaiton.proofOfEvidenceAndWitnessesDueDate or _case.planningObligationDueDate %}
          {{ govukButton({
            text: 'Update timetable due dates'
          }) }}
        {% else %}

          <input type="hidden" name='noneSet' value="yep">

          {{ govukButton({
            text: 'Add timetable due dates'
          }) }}
        {% endif %}
      </form>

    </div>
  </div>
{% endblock %}
