{% extends "layouts/PINS.html" %}

{% set pageName="Quick change pages" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to prototypes",
    href: 'manage-documents'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Appeal a planning decision
    </span>
    <h1 class="govuk-heading-l">
      Quick change pages
    </h1>

    <section class="govuk-!-margin-bottom-6">


      <h2 class="govuk-heading-m">Version 2

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        <!-- Status tag options

        {{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}

        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}

        -->
      </h2>

      <p class="govuk-body">
        Changes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          alignment of single file upload
        </li>
        <li>
          removing inset components for exisiting files
        </li>
      </ul>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v2/boolean?greenBelt=No" class="govuk-link">
            Boolean
          </a>
        </li>
        <li>
          <a href="v2/boolean-and-string?linkedAppealCheck=Yes&appealReference=0123456" class="govuk-link">
            Boolean and string
          </a>
        </li>
        <li>
          <a href="v2/multiple-strings?firstName=Jan&lastName=Bodge" class="govuk-link">
            Multiple strings
          </a>
        </li>
        <li>
          <a href="v2/date?date-day=12&date-month=7&date-year=23" class="govuk-link">
            Date
          </a>
        </li>
        <li>
          <a href="v2/text-input?text=A company" class="govuk-link">
            Text input
          </a>
        </li>
        <li>
          <a href="v2/multiline-text-input?multiline-text=Because%20we%20are%20a%20rule%206%20party%20with%20varying%20opinions%20and%20despite%20several%20meetings%20we%20cannot%20come%20to%20an%20agreement%20on%20appropriate%20conditions." class="govuk-link">
            Multiline text area input
          </a>
        </li>
        <li>
          <a href="v2/document-upload?document=Planning-officers-report.doc" class="govuk-link">
            A document
          </a>
        </li>
        <li>
          <a href="v2/multiple-document-upload?file1=Turley-Road-site-plans.doc&file2=Turley-Road-mining-report.doc&file3=Turley-Road-proposed-changes.pdf" class="govuk-link">
            Multiple documents
          </a>
        </li>
      </ul>

    </section>

    <section class="govuk-!-margin-bottom-6">


      <h2 class="govuk-heading-m">Version 1

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        <!-- Status tag options

        {{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}

        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}

        -->
      </h2>

      <p class="govuk-body">
        Case Officers can edit user submitted data.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="v1/boolean?greenBelt=No" class="govuk-link">
            Boolean
          </a>
        </li>
        <li>
          <a href="v1/boolean-and-string?linkedAppealCheck=Yes&appealReference=0123456" class="govuk-link">
            Boolean and string
          </a>
        </li>
        <li>
          <a href="v1/multiple-strings?firstName=Jan&lastName=Bodge" class="govuk-link">
            Multiple strings
          </a>
        </li>
        <li>
          <a href="v1/date?date-day=12&date-month=7&date-year=23" class="govuk-link">
            Date
          </a>
        </li>
        <li>
          <a href="v1/text-input?text=A company" class="govuk-link">
            Text input
          </a>
        </li>
        <li>
          <a href="v1/multiline-text-input?multiline-text=Because%20we%20are%20a%20rule%206%20party%20with%20varying%20opinions%20and%20despite%20several%20meetings%20we%20cannot%20come%20to%20an%20agreement%20on%20appropriate%20conditions." class="govuk-link">
            Multiline text area input
          </a>
        </li>
        <li>
          <a href="v1/document-upload?document=Planning-officers-report.doc" class="govuk-link">
            A document
          </a>
        </li>
        <li>
          <a href="v1/multiple-document-upload?file1=Turley-Road-site-plans.doc&file2=Turley-Road-mining-report.doc&file3=Turley-Road-proposed-changes.pdf" class="govuk-link">
            Multiple documents
          </a>
        </li>
      </ul>

    </section>

  </div>
</div>
{% endblock %}
