{% extends "layouts/PINS.html" %}

{% set title = "Might the inspector need access to the appellant’s land or property?" %}

{% block questions %}

  {{ govukRadios({
    idPrefix: 'site-entry',
    name: 'site-entry',
    classes: '',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('site-entry','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('site-entry','No')
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}{% endblock %}
