{% extends "layouts/PINS-admin.html" %}

{% set title = 'Success banner' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Important banner
          </a>
        </li>
        <li>
          <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">
            Success banner
          </a>
        </li>
        <li>
          <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case heading
          </a>
        </li>
        <li>
          <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case status
          </a>
        </li>
        <li>
          <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Meta data
          </a>
        </li>
        <li>
          <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Personal list
          </a>
        </li>
        <li>
          <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Upload multiple files
          </a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
        {{ title }}
      </h1>

      <p>
        {{govukTag({
          text: "GDS core pattern",
          classes: "govuk-tag--green"
        })}}
      </p>

      <p class="govuk-body-l">
        Highlighting a recently completed action.
      </p>

      <p class="govuk-body">
        Success banners are shown when an action is complete. They disappear when the user navigates away from the page showing them. Success banners appeal above <a href="/patterns/important-banners/" class="govuk-link">Important banners</a>.
      </p>

      <p class="govuk-body">
        GDS component guidance for <a href="https://design-system.service.gov.uk/components/notification-banner/#reacting-to-something-the-user-has-done" class="govuk-link govuk-link--no-visited-state">success banners</a>.
      </p>

      {% set exampleHtml %}
        {{ successBanner (
          bannerHeading = "LPA statement complete")
        }}
        {{ importantBanner (
          bannerHeadingStart = "IP comments ready for ",
          bannerLink = "review")
        }}
      {% endset -%}
      {% set codeHtml %}

      <pre class="code-snippet"><code>{% raw -%}{{ successBanner (
  bannerHeading = "LPA statement complete",
  bannerLink = "review")
}}
{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        The banners should be used to confirm completed in-service actions. There should only be a single success banner shown.
      </p>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p>
        You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> macro.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList ({
        rows: [
          {
            key: {
              text: "bannerHeading"
            },
            value: {
              text: "Banner heading text"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
