.pins-summary-list__row--last {
	border-bottom: none;
	border-bottom: 0;
}

.pins-govuk-table__row--last td,
.pins-govuk-table__row--last th {
	border-bottom: none;
}

.pins-summary-list--bottomless {
	border-bottom: 0;
}


//
// .pins-table-divider {
// 	margin-top:0;
// 	margin-bottom: 1rem;
// 	color: #b1b4b6;
// 	border-width: 1px;
// }

// .govuk-summary-list__row:last-child,
//   .govuk-summary-list__row:last-child > * {
//     border-bottom: 0;
//   }
// }
