{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Do you want to update the statement due date?" %}
{% set pageName = title %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2110166</span>
    <form action="" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios",
        name: "changedName",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Current due date is 18 July 2023"
        },
        items: [
          {
            value: "yes~update-due-date-yes",
            text: "Yes"
          },
          {
            value: "no~check-your-answers-incomplete",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

{% endblock %}
