{% extends "layouts/PINS.html" %}

{% set title = 'Is the appeal in a green belt?' %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to questionnaire",
    href: '#0'
  }) }}
{% endblock %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'greenBelt',
    name: 'greenBelt',
    fieldset: {
      legend: {
        html: "<span class='govuk-caption-l'>Appeal 2110166</span>"+title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('greenBelt','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('greenBelt','No')
      }
    ]
  }) }}
{% endblock %}
