{% extends "layouts/bo.html" %}

{% set title = "Check details and update assigned case team" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.addHearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% set caseTeam %}
        {{newCaseTeam.name}}<br>
        {{newCaseTeam.emailAddress}}
      {% endset %}


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Case team"
            },
            value: {
              html: caseTeam
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/case-team/new" | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Case team"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Update assigned case team"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
