{% extends "layouts/PINS.html" %}

{% set pageName="Appellant Case" %}

{% block content %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
  href: 'manage-documents'
}) }}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	  
	<span class="govuk-caption-l">Document details</span>
	<h1 class="govuk-heading-l">tree-preservation-order-A.pdf</h1>
	
	{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

	   
	
	{% from "govuk/components/button/macro.njk" import govukButton %}

	{{ govukButton({
	  text: "Upload a new version",
	  href: "upload-document"
	}) }}
		
    	  	
  	
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

	<h2 class="govuk-heading-m govuk-!-margin-top-6">Document details</h2>
	
	
	
	{% from "govuk/components/tabs/macro.njk" import govukTabs %}
	{% from "govuk/components/table/macro.njk" import govukTable %}
	
	{% set pastDayHtml %}
	<h2 class="govuk-heading-l">Document properties</h2>
	{{ govukTable({
		firstCellIsHeader: true,
	  rows: [
	    [
	      {
	        text: "File name"
	      },
	      {
	        text: "tree-preservation-order-A.pdf"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ],
	    [
	      {
	        text: "Description"
	      },
	      {
	        text: "Constraints, designations and other issues"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ],
	    [
	      {
	        text: "From"
	      },
	      {
	        text: "Bradford Council"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ],
	    [
	      {
	        text: "Agent (optional)"
	      },
	      {
	        text: ""
	      },
	      {
	        html: ""
	      }
	    ],
	    [
	      {
	        text: "Case stage"
	      },
	      {
	        text: "LPA Questionnaire"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ],
	    [
	      {
	        text: "Date received"
	      },
	      {
	        text: "1 Feb 2023"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ],
	    [
	      {
	        text: "Redaction"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='#'>Change</a>"
	      }
	    ]
	  ]
	}) }}
	{% endset -%}
	
	{% set pastWeekHtml %}
	<h2 class="govuk-heading-l">Document history</h2>

	{{ govukTable({
	  caption: "Uploaded documents",
	  captionClasses: "govuk-table__caption--m",
	  firstCellIsHeader: false,
	  classes : " govuk-!-font-size-16",
	  head: [
	    {
	      text: "Document information"
	    },
	    {
	      text: "Version"
	    },
	    {
	      text: "Activity"
	    },
	    {
	      text: "Redaction"
	    },
	    {
	      text: "Action"
	    }
	  ],
	  rows: [
	    [
	      {
	        html: "<p class='govuk-!-font-size-16'><a href='manage-documents/document-details.html'>tree-preservation-order-A.pdf</a></p><p class='govuk-body govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "4"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, Jane Watson"
	      },
	      {
	        text: "Redacted"
	      },
	      {
	        html: "<a href='#'>Remove</a>"
	      }
	    ],
	    [
	      {
	        html: "<p class='govuk-!-font-size-16'><a href='manage-documents/document-details.html'>tree-preservation-order-A.pdf</a></p><p class='govuk-body govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "3"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='#'>Remove</a>"
	      }
	    ],
	    [
	      { 
	        html: "<p class=' govuk-!-font-size-16'><a href='document-details.html'>tree-preservation-order-A.pdf</a></p><p class='govuk-body  govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "2"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='#'>Remove</a>"
	      }
	    ],
	    [
	      { 
	        html: "<p class=' govuk-!-font-size-16'><a href='document-details.html'>tree-preservation-order-A.pdf</a></p><p class='govuk-body  govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "1"
	      },
	      {
	        html: "<strong>Uploaded:</strong> 09:48, 22 Mar 2023, Jane Watson"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<a href='#'>Remove</a>"
	      }
	    ]
	  ]
	}) }}
	{% endset -%}
	
	
	
	{{ govukTabs({
	  items: [
	    {
	      label: "Document properties",
	      id: "past-day",
	      panel: {
	        html: pastDayHtml
	      }
	    },
	    {
	      label: "Document history",
	      id: "past-week",
	      panel: {
	        html: pastWeekHtml
	      }
	    }
	  ]
	}) }}


	</div>
</div>



{% endblock %}
