{% extends "layouts/PINS.html" %}

{% set pageName="Manage documents" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: 'lpa-questionnaire'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

	<span class="govuk-caption-l">Manage documents</span>
	<h1 class="govuk-heading-l">Tree Preservation Order uploads</h1>

  </div>
</div>


<div class="govuk-grid-row  govuk-!-margin-top-9">
  <div class="govuk-grid-column-full">

	{% from "govuk/components/table/macro.njk" import govukTable %}

	{{ govukTable({
	  caption: "Uploaded documents",
	  captionClasses: "govuk-table__caption--m",
	  firstCellIsHeader: false,
	  head: [
	    {
	      text: "Document information"
	    },
	    {
	      text: "Date received"
	    },
	    {
	      text: "Redaction"
	    },
	    {
	      text: "Actions"
	    }
	  ],
	  rows: [
	    [
	      {
	        html: "<p><a href='/public/downloads/tree-preservation-order-A.pdf'>tree-preservation-order-A.pdf</a></p><p class='govuk-body govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "dd/mm/yyyy"
	      },
	      {
	        text: "Redacted"
	      },
	      {
	        html: "<p><a href='document-details.html'>Change</a></p>"
	      }
	    ],
	    [
	      {
	        html: "<p><a href='/public/downloads/tree-preservation-order-A.pdf'>tree-preservation-order-B.pdf</a></p><p class='govuk-body govuk-!-font-size-16'>From: Joe Bloggs<br>File type and size : PDF, 97KB</p>"
	      },
	      {
	        text: "dd/mm/yyyy"
	      },
	      {
	        text: "Unredacted"
	      },
	      {
	        html: "<p><a href='document-details.html'>Change</a></p>"
	      }
	    ]

	  ]
	}) }}



  </div>
</div>


{% endblock %}
