{% extends "layouts/PINS-Simple.html" %}

{% set title = "Set up a case" %}
{% set pageName="Case details" %}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Prototype helper</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body-l">
        A way to start a case so it’s configured to a particular planning type, procedure, case stage with the option to select document statuses.
      </p>

      {{ govukButton({
      	href: "/projects/case-management/v1/case-setup--planning-type",
        text: "Set up a case view",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>

{% endblock %}
