{% extends "layouts/manage-appeal-older-header-with-feedback.html" %}

{% set title = 'Confirm you want to share ‘'+(docname or '0123456 Costs application.doc')+'’ with the main parties' %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set docname = '0123456 Costs Application' %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 0123456 - Manage documents</span>
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Invite responses"
            },
            value: {
              html: data['invite-responses'] or 'Yes'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "invite responses"
                }
              ]
            }
          }
        ]
      }) }}

      {% set emailHtml %}
      <div class="app-email-preview">
        <div class="app-email-preview__subject">
          <p class="govuk-body">
            Subject: We have received an application for costs against appeal 0123456.
          </p>
        </div>

        <div class="app-email-preview__body">

          <h2 class="govuk-heading-m">
            Appeal details
          </h2>

          <p class="govuk-body">
            We have received an application for an award of appeal costs against appeal 0123456.
          </p>

          {% if data['invite-responses'] != 'No' %}
            <p class="govuk-body">
              Send an email to <a href="#" class="govuk-link">caseofficers@planninginspectorate.gov.uk</a> by {{ 7 | daysInFuture }} if you to respond to this application.
            </p>
          {% endif %}

          <div class="govuk-inset-text">
            Appeal reference number: 7001224<br>
            Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
            Planning application reference: 22/00118/FULL<br>
            Submitted date: {{ 50 | daysAgo }}
          </div>

          <p class="govuk-body">
            Planning Inspectorate<br>
            caseofficers@planninginspectorate.gov.uk
          </p>

        </div>
      </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to LPA",
        html: emailHtml
      }) }}

      <form method="post">

        {{ govukButton({
          text: "Confirm and share document"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
