{% if appealIs != 'Enforcement'  %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "1. Appellant details"
    }
  },
  rows: [
    {
      key: {
        text: "Was the application made in your name?"
      },
      value: {
        html: "Yes"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "application made in your name"
            }
          ]
        }
    },
    {
      key: {
        text: "Name"
      },
      value: {
        html: "Jane Doe"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: "077245551111"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "phone number"
            }
          ]
        }
    }

  ]
}) }}

{% endif %}


{% if data['case-stage'] == 'validation' and data['appealIs'] == 'enforcement' %}

{{ govukSummaryList({
  card: {
    title: {
      text: "1. Contact details"
    }
  },
  rows: [

      {
        key: { html: 'Who is appealing against the enforcement notice?' },
        value:
          { html: 'A person' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'What is the name of the individual appealing against the enforcement notice?' },
        value:
          { html: 'Jan Fisher' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'You are one of the appellants' },
        value:
          { html: 'Yes' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'What is your phone number?' },
        value:
          { html: '07968475233' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      }

      ]
  }) }}
      
{% endif %}

