{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if appealIs != 'Enforcement'  %}

{{ govukSummaryList({
  card: {
    title: {
      text: "2. Site details"
    }
  },
  rows: [
    {
      key: {
        text: "Site address"
      },
      value: {
        html: "21 Dombey Street, London WC1N 3PD"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "What is the area of the appeal site?"
      },
      value: {
        html: "22m²"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "site area"
            }
          ]
        }
    },
    {
      key: {
        text: "Is the appeal site in a green belt?"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "green belt"
            }
          ]
        }
    },
    {
      key: {
        text: "Does the appellant own all of the land involved in the appeal?"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "site ownership"
            }
          ]
        }
    },
    {
      key: {
        text: "Site partially owned"
      },
      value: {
        html: "Yes"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "All owners known"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "Attempted to identify owners"
      },
      value: {
        html: "Yes"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "Advertised appeal"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "Will an inspector need to access your land or property?"
      },
      value: {
        html: "No"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    },
    {
      key: {
        text: "Are there any health and safety issues on the appeal site?"
      },
      value: {
        html: "Yes<br>Hardhat requirement"
      },
      actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Another individual"
            }
          ]
        }
    }

  ]
}) }}

{% endif %}



{% if appealIs == 'Enforcement' %}

{{ govukSummaryList({
  card: {
    title: {
      text: "2. The land"
    }
  },
  rows: [

      {
        key: { html: 'What is the address of the appeal site?' },
        value:
          { html: '3 Aubrey Road<br>Bedminster<br>Bristol<br>BS3 3EX' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'What is your contact address?' },
        value:
          { html: '3 Aubrey Road<br>Bedminster<br>Bristol<br>BS3 3EX' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'What is your interest in the land?' },
        value:
          { html: 'Owner' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'Will an inspector need to access your land or property?' },
        value:
          { html: 'No' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      },

      {
        key: { html: 'Are there any health and safety issues on the appeal site?' },
        value:
          { html: 'No' },
        actions: {
          items: [
            { href: '#', html: 'Change' }
          ]
        }
      }

      ]
  }) }}
      
{% endif %}

