{% if appeal.status == 'Withdrawn' %}
  {% set withdrawalActions = [{
    href: "/main/appeals/:appealId/withdrawal" | replace(':appealId', appeal.id),
    text: "View",
    visuallyHiddenText: "appeal withdrawal"
  }]%}
{% else %}
  {% set withdrawalActions = [{
    href: "/main/appeals/:appealId/withdrawal/new" | replace(':appealId', appeal.id),
    text: "Withdraw",
    visuallyHiddenText: "appeal withdrawal"
  }] %}
{% endif %}

<div class="app-panel">
  <h2 class="govuk-heading-l">Case management</h2>

  {{ govukSummaryList({
    classes: 'app-summary-list--wider-actions',
    rows: [
      {
        key: {
          text: "Cross-team correspondence"
        },
        value: {
          html: '12 documents'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "cross-team correspondence"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "cross-team correspondence"
            }
          ]
        }
      },
      {
        key: {
          text: "Inspector correspondence"
        },
        value: {
          text: "3 documents"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "inspector correspondence"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "inspector correspondence"
            }
          ]
        }
      },
      {
        key: {
          text: "Activity log"
        },
        value: {
          text: "5 events"
        },
        actions: {
          items: [
            {
              href: "/main/appeals/:appealId/activity" | replace(':appealId', appeal.id),
              text: "View",
              visuallyHiddenText: "Activity log"
            }
          ]
        }
      },
      {
        key: {
          text: "Appeal withdrawal"
        },
        value: {
          text: "Not withdrawn" if appeal.status != 'Withdrawn' else 'Withdrawn'
        },
        actions: {
          items: withdrawalActions
        }
      } if 1==2
    ]
  }) }}
</div>