<div class="app-panel">
  <h2 class="govuk-heading-l">Case management</h2>
  {{ govukSummaryList({
    classes: 'app-summary-list--wider-actions',
    rows: [
      {
        key: {
          text: "Cross-team correspondence"
        },
        value: {
          html: '12 documents'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "cross-team correspondence"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "cross-team correspondence"
            }
          ]
        }
      } if not appeal.isChildAppeal,
      {
        key: {
          text: "Inspector correspondence"
        },
        value: {
          text: "3 documents"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "inspector correspondence"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "inspector correspondence"
            }
          ]
        }
      } if not appeal.isChildAppeal,
      {
        key: {
          text: "Case history"
        },
        value: {
          text: "5 events"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "View",
              visuallyHiddenText: "case history"
            }
          ]
        }
      },
      {
        key: {
          text: "Appeal withdrawal"
        },
        value: {
          text: "1 document"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add",
              visuallyHiddenText: "appeal withdrawal"
            },
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "appeal withdrawal"
            }
          ]
        }
      }
    ]
  }) }}
</div>