<div class="app-panel">
  <h2 class="govuk-heading-l">Contacts</h2>

  {% set appellant %}
    {{appeal.appellant.firstName}} {{appeal.appellant.lastName}}<br>
    {{appeal.appellant.emailAddress}}<br>
    {{appeal.appellant.phone}}
  {% endset %}

  {% if appeal.agent %}
    {% set agent %}
      {{appeal.agent.firstName}} {{appeal.agent.lastName}}<br>
      {{appeal.agent.emailAddress}}<br>
      {{appeal.agent.phone}}
    {% endset %}
    {% set agentActions = [{
      href: '/main/appeals/:caseId/edit-agent' | replace(':caseId', appeal.id),
      text: "Change",
      visuallyHiddenText: "Agent details"
    }] %}
  {% else %}
    {% set agent %}
      No agent
    {% endset %}
    {% set agentActions = [{
      href: '/main/appeals/:caseId/add-agent' | replace(':caseId', appeal.id),
      text: "Add",
      visuallyHiddenText: "Agent details"
    }] %}
  {% endif %}

  {{ govukSummaryList({
    classes: 'app-summary-list--wider-actions',
    rows: [
      {
        key: {
          text: "Appellant"
        },
        value: {
          html: appellant
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Appellant"
            }
          ]
        }
      },
      {
        key: {
          text: "Agent"
        },
        value: {
          html: agent
        },
        actions: {
          items: agentActions
        }
      },
      {
        key: {
          text: "LPA"
        },
        value: {
          html: appeal.lpa.name +  '<br>' + appeal.lpa.emailAddress
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "LPA"
            }
          ]
        }
      }
    ]
  }) }}

</div>
{#
<div class="app-panel" style="display: block">
  <h2 class="govuk-heading-l">Contacts</h2>

  {{ govukSummaryList({
    classes: 'app-summary-list--wider-actions',
    rows: [
      {
        key: {
          text: "Appellant"
        },
        value: {
          html: "Fiona Shell"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "View",
              visuallyHiddenText: "Appellant"
            }
          ]
        }
      },
      {
        key: {
          text: "Agent"
        },
        value: {
          html: "Naomi Johnson"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "View",
              visuallyHiddenText: "Agent"
            }
          ]
        }
      },
      {
        key: {
          text: "LPA"
        },
        value: {
          html: "Tim Cooper"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "View",
              visuallyHiddenText: "LPA"
            }
          ]
        }
      }
    ]
  }) }}

</div>

<div class="app-panel" style="display: block">
  <h2 class="govuk-heading-l">Appellant</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "First name"
        },
        value: {
          text: "Ryan"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "First name"
            }
          ]
        }
      },
      {
        key: {
          text: "Last name"
        },
        value: {
          text: "Marshall"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Last name"
            }
          ]
        }
      },
      {
        key: {
          text: "Organisation name"
        },
        value: {
          text: "Boom Ltd"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: "ryan@example.com"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      },
      {
        key: {
          text: "Phone number"
        },
        value: {
          text: "Not provided"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      }
    ]
  }) }}
</div>

<div class="app-panel" style="display: block">
  <h2 class="govuk-heading-l">Agent</h2>

  <p class="govuk-body"><a href="#" class="govuk-link">Remove agent</a></p>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "First name"
        },
        value: {
          text: "Ryan"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "First name"
            }
          ]
        }
      },
      {
        key: {
          text: "Last name"
        },
        value: {
          text: "Marshall"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Last name"
            }
          ]
        }
      },
      {
        key: {
          text: "Organisation name"
        },
        value: {
          text: "Boom Ltd"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: "ryan@example.com"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      },
      {
        key: {
          text: "Phone number"
        },
        value: {
          text: "Not provided"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Organisation name"
            }
          ]
        }
      }
    ]
  }) }}
</div>

<div class="app-panel" style="display: block">
  <h2 class="govuk-heading-l">LPA</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          html: "Barnet Borough Council<br>appeals@barnet-borough.gov.uk"
        }
      }
    ]
  }) }}
</div> #}