<div class="app-panel">
  <h2 class="govuk-heading-l">Decision</h2>

  {% if appeal.decision %}
    {% set decisionActions = [
      {
        href: "/main/appeals/:appealId/decision" | replace(':appealId', appeal.id),
        text: "View",
        visuallyHiddenText: "decision"
      }
    ] %}
  {% else %}
    {% set decisionActions = [
      {
        href: "/main/appeals/:appealId/decision/new" | replace(':appealId', appeal.id),
        text: "Issue",
        visuallyHiddenText: "decision"
      }
    ] %}
  {% endif %}

  {% if appeal.appellantCostsDecision %}
    {% set appellantCostsDecisionActions = [
      {
        href: "/main/appeals/:appealId/decision" | replace(':appealId', appeal.id),
        text: "View",
        visuallyHiddenText: "x"
      }
    ] %}
  {% else %}
    {% set appellantCostsDecisionActions = [
      {
        href: "/main/appeals/:appealId/decision/x" | replace(':appealId', appeal.id),
        text: "Issue",
        visuallyHiddenText: "x"
      }
    ] %}
  {% endif %}

  {% if appeal.lpaCostsDecision %}
    {% set lpaCostsDecisionActions = [
      {
        href: "/main/appeals/:appealId/decision" | replace(':appealId', appeal.id),
        text: "View",
        visuallyHiddenText: "x"
      }
    ] %}
  {% else %}
    {% set lpaCostsDecisionActions = [
      {
        href: "/main/appeals/:appealId/decision/x" | replace(':appealId', appeal.id),
        text: "Issue",
        visuallyHiddenText: "x"
      }
    ] %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Decision"
        },
        value: {
          html: 'Issued' if appeal.decision else 'Not issued yet'
        },
        actions: {
          items: decisionActions
        }
      },
      {
        key: {
          text: "Appellant cost decision"
        },
        value: {
          html: 'Issued' if appeal.appellantCostsDecision else 'Not issued yet'
        },
        actions: {
          items: appellantCostsDecisionActions
        }
      },
      {
        key: {
          text: "LPA cost decision"
        },
        value: {
          html: 'Issued' if appeal.lpaCostsDecision else 'Not issued yet'
        },
        actions: {
          items: lpaCostsDecisionActions
        }
      }
    ]
  }) }}

</div>