
<div class="app-panel">
  <h2 class="govuk-heading-l">Hearing</h2>
  <div class="govuk-button-group">
    {% if appeal.hearing %}
      <a class="govuk-link" href="/main/appeals/{{appeal.id}}/cancel-hearing">Cancel hearing</a>
    {% else %}
      {{ govukButton({
        text: 'Set up hearing',
        classes: 'govuk-button--secondar',
        href: '/main/appeals/:appealId/add-hearing' | replace(':appealId', appeal.id)
      }) }}
    {% endif %}
  </div>

  {% set address %}
    {{appAddress({ address: appeal.hearing.address })}}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date"
        },
        value: {
          html: appeal.hearing.date | govukDate
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Date"
            }
          ]
        }
      } if appeal.hearing.date,
      {
        key: {
          text: "Time"
        },
        value: {
          html: appeal.hearing.time
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Time"
            }
          ]
        }
      } if appeal.hearing.time,
      {
        key: {
          text: "Do you know the address of where the hearing will take place?"
        },
        value: {
          html: appeal.hearing.hasAddress
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing/has-address' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "whether you know the Address"
            }
          ]
        }
      } if appeal.hearing.hasAddress,
      {
        key: {
          text: "Address"
        },
        value: {
          html: address
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing/address' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Address"
            }
          ]
        }
      } if appeal.hearing.hasAddress == 'Yes'
    ]
  }) if appeal.hearing }}

  <h3 class="govuk-heading-m">Hearing estimates</h3>

  {% if not appeal.hearingEstimates %}
    <p><a class="govuk-link" href="/main/appeals/{{appeal.id}}/add-hearing-estimates">Add hearing estimates</a></p>
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Estimated preparation time"
        },
        value: {
          html: appeal.hearingEstimates.estimatedPreparationTime | days
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing-estimates' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Estimated preparation time"
            }
          ]
        }
      } if appeal.hearingEstimates.estimatedPreparationTime,
      {
        key: {
          text: "Estimated sitting time"
        },
        value: {
          html: appeal.hearingEstimates.estimatedHearingTime | days
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing-estimates' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Estimated sitting time"
            }
          ]
        }
      } if appeal.hearingEstimates.estimatedHearingTime,
      {
        key: {
          text: "Estimated reporting time"
        },
        value: {
          html: appeal.hearingEstimates.estimatedReportingTime | days
        },
        actions: {
          items: [
            {
              href: '/main/appeals/:appealId/edit-hearing-estimates' | replace(':appealId', appeal.id),
              text: "Change",
              visuallyHiddenText: "Estimated reporting time"
            }
          ]
        }
      } if appeal.hearingEstimates.estimatedReportingTime
    ]
  }) if appeal.hearingEstimates }}

</div>