<div class="app-panel">
        <h2 class="govuk-heading-l">Site</h2>


        {% set addresses %}
        <p>Yes</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>172 York Road<br>
                Bristol<br>
                BS3 4AL</li>
              <li>170, York Road<br>
                Bristol<br>
                BS3 4AL</li>
            </ul>
        {% endset %}



         {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Visit type"
        },
        value: {
          text: "Unaccompanied"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Visit type"
            }
          ]
        }
      },
      {
        key: {
          text: "Date"
        },
        value: {
          text: "19 December 2025"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Date"
            }
          ]
        }
      },
      {
        key: {
          text: "Start time"
        },
        value: {
          text: "10am"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "Start time"
            }
          ]
        }
      },
      {
        key: {
          text: "End time"
        },
        value: {
          text: "11:30am"
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "End time"
            }
          ]
        }
      },
      {
        key: {
          text: "Interested party and neighbour addresses"
        },
        value: {
          html: addresses
        },
        actions: {
          items: [
            {
              href: "Item URL",
              text: "Change",
              visuallyHiddenText: "End time"
            }
          ]
        }
      }
    ]
  }) }}


      </div>