<div class="app-panel">
  <h2 class="govuk-heading-l">Team</h2>


	{% if appeal.caseOfficer %}
		{% set caseOfficerAction = '/main/appeals/:appealId/case-officer/edit' | replace(':appealId', appeal.id) %}
		{% set caseOfficerText = 'Change' %}
	{% else %}
		{% set caseOfficerAction = '/main/appeals/:appealId/case-officer/new' | replace(':appealId', appeal.id) %}
		{% set caseOfficerText = 'Assign' %}
	{% endif %}


	{{ govukSummaryList({
		rows: [
			{
				key: {
					text: "Case officer"
				},
				value: {
					text: appeal.caseOfficer or 'Not assigned'
				},
				actions: {
					items: [
						{
							href: caseOfficerAction,
							text: caseOfficerText,
							visuallyHiddenText: "Case officer"
						}
					]
				}
			},
			{
				key: {
					text: "Inspector"
				},
				value: {
					text: 'Allan Poe'
				},
				actions: {
					items: [
						{
							href: "Item URL",
							text: "Change",
							visuallyHiddenText: "inspector"
						}
					]
				}
			}
		]
	}) }}
</div>