<div class="app-panel">
  <h2 class="govuk-heading-l">Team</h2>

	{% if appeal.caseTeam %}
		{% set caseTeam %}
			{{appeal.caseTeam.name}}<br>
			{{appeal.caseTeam.emailAddress}}
		{% endset %}
	{% else %}
		{% set caseTeam %}
			Not assigned
		{% endset %}
	{% endif %}

	{% if appeal.caseTeam %}
		{% set caseTeamAction = '/main/appeals/:appealId/case-team/edit' | replace(':appealId', appeal.id) %}
		{% set caseTeamText = 'Change' %}
	{% else %}
		{% set caseTeamAction = '/main/appeals/:appealId/case-team/new' | replace(':appealId', appeal.id) %}
		{% set caseTeamText = 'Assign' %}
	{% endif %}

	{% if appeal.caseOfficer %}
		{% set caseOfficer %}
			{{appeal.caseOfficer.name}}<br>
			{{appeal.caseOfficer.emailAddress}}
		{% endset %}
	{% else %}
		{% set caseOfficer %}
			Not assigned
		{% endset %}
	{% endif %}


	{% if appeal.caseOfficer %}
		{% set caseOfficerAction = '/main/appeals/:appealId/case-officer/edit' | replace(':appealId', appeal.id) %}
		{% set caseOfficerText = 'Change' %}
	{% else %}
		{% set caseOfficerAction = '/main/appeals/:appealId/case-officer/new' | replace(':appealId', appeal.id) %}
		{% set caseOfficerText = 'Assign' %}
	{% endif %}

	{{ govukSummaryList({
		rows: [
			{
				key: {
					text: "Case team"
				},
				value: {
					html: caseTeam
				},
				actions: {
					items: [
						{
							href: caseTeamAction,
							text: caseTeamText,
							visuallyHiddenText: "Case team"
						}
					]
				}
			},
			{
				key: {
					text: "Case officer"
				},
				value: {
					html: caseOfficer
				},
				actions: {
					items: [
						{
							href: caseOfficerAction,
							text: caseOfficerText,
							visuallyHiddenText: "Case officer"
						}
					]
				}
			},
			{
				key: {
					text: "Inspector"
				},
				value: {
					html: 'Allan Poe<br>whatever@example.com'
				},
				actions: {
					items: [
						{
							href: "Item URL",
							text: "Change",
							visuallyHiddenText: "inspector"
						}
					]
				}
			}
		]
	}) }}
</div>