


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

<div class="ui-checkbox-accordion ui-checkbox-accordion--modal-on-tablet" data-translations="{&quot;applyFilters&quot;:&quot;Apply filters&quot;,&quot;clearFilters&quot;:&quot;Clear filters&quot;,&quot;hideAllSections&quot;:&quot;Hide all sections&quot;,&quot;showAllSections&quot;:&quot;Show all sections&quot;,&quot;selectAllFilters&quot;:&quot;Select all filters&quot;,&quot;returnToResults&quot;:&quot;Return to results&quot;}" id="documents-page-filters">
    <div class="ui-checkbox-accordion__outer-container">
        <div class="ui-checkbox-accordion__inner-container">
            <div class="ui-checkbox-accordion__modal-header">
                <div class="ui-checkbox-accordion__modal-header-content-start">
                    <h3 class="ui-checkbox-accordion__modal-title">
                        Filter
                    </h3>

                    <span class="ui-checkbox-accordion__modal-subtitle">4 documents</span>
                </div>

                <div>
                    <button class="ui-checkbox-accordion__modal-close-btn" type="button">
                        Return to results
                    </button>
                </div>
            </div>

            <div class="ui-checkbox-accordion__header">
                <h3 class="ui-checkbox-accordion__title">
                    Filter
                </h3>
            </div>

            <div class="ui-checkbox-accordion__sections">
                <button type="button" class="ui-checkbox-accordion__switch" id="show-hide-all-filters">Show all sections</button>

                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Pre-application (9)
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--checkbox" id="ui-checkbox-accordion__checkboxes-section--1"><button type="button" class="ui-checkbox-accordion__checkboxes-section-switch">Select all filters</button>
                            
                                




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend">

<span class="govuk-visually-hidden">Pre-application (9) filter options</span>

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">










<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-1" name="stage-1" type="checkbox" value="Environmental Impact Assessment Scoping" checked="">
<label class="govuk-label govuk-checkboxes__label" for="stage-1">
  Environmental Impact Assessment Scoping (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-1-2" name="stage-1" type="checkbox" value="Notice of Proposed application (s46)" checked="">
<label class="govuk-label govuk-checkboxes__label" for="stage-1-2">
  Notice of Proposed application (s46) (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-1-3" name="stage-1" type="checkbox" value="Other Documents">
<label class="govuk-label govuk-checkboxes__label" for="stage-1-3">
  Other Documents (4)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-1-4" name="stage-1" type="checkbox" value="Section 35 Update Notification Letter">
<label class="govuk-label govuk-checkboxes__label" for="stage-1-4">
  Section 35 Update Notification Letter (1)
</label>

</div>





</div>

</fieldset>

</div>

                            

                            
                        </div>
                    </details>

                    
                        <hr class="ui-checkbox-accordion__section-break">
                    
                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Developer's application (131)
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--checkbox" id="ui-checkbox-accordion__checkboxes-section--2"><button type="button" class="ui-checkbox-accordion__checkboxes-section-switch">Select all filters</button>
                            
                                




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend">

<span class="govuk-visually-hidden">Developer's application (131) filter options</span>

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">










<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application" name="category-Developer's Application" type="checkbox" value="Application Form">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application">
  Application Form (6)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-2" name="category-Developer's Application" type="checkbox" value="Compulsory Acquisition Information">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-2">
  Compulsory Acquisition Information (4)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-3" name="category-Developer's Application" type="checkbox" value="Draft Development Consent Orders">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-3">
  Draft Development Consent Orders (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-4" name="category-Developer's Application" type="checkbox" value="Environmental Statement">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-4">
  Environmental Statement (71)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-5" name="category-Developer's Application" type="checkbox" value="Other Documents">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-5">
  Other Documents (21)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-6" name="category-Developer's Application" type="checkbox" value="Plans">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-6">
  Plans (11)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="category-developers-application-7" name="category-Developer's Application" type="checkbox" value="Reports">
<label class="govuk-label govuk-checkboxes__label" for="category-developers-application-7">
  Reports (16)
</label>

</div>





</div>

</fieldset>

</div>

                            

                            
                        </div>
                    </details>

                    
                        <hr class="ui-checkbox-accordion__section-break">
                    
                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Acceptance (140)
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--checkbox" id="ui-checkbox-accordion__checkboxes-section--3"><button type="button" class="ui-checkbox-accordion__checkboxes-section-switch">Select all filters</button>
                            
                                




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend">

<span class="govuk-visually-hidden">Acceptance (140) filter options</span>

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">










<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2" name="stage-2" type="checkbox" value="Acceptance checklist (s55)">
<label class="govuk-label govuk-checkboxes__label" for="stage-2">
  Acceptance checklist (s55) (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-2" name="stage-2" type="checkbox" value="Acceptance Letter">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-2">
  Acceptance Letter (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-3" name="stage-2" type="checkbox" value="Adequacy of Consultation Representation">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-3">
  Adequacy of Consultation Representation (6)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-4" name="stage-2" type="checkbox" value="Application Form">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-4">
  Application Form (6)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-5" name="stage-2" type="checkbox" value="Compulsory Acquisition Information">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-5">
  Compulsory Acquisition Information (4)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-6" name="stage-2" type="checkbox" value="Draft Development Consent Orders">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-6">
  Draft Development Consent Orders (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-7" name="stage-2" type="checkbox" value="Environmental Statement">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-7">
  Environmental Statement (71)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-8" name="stage-2" type="checkbox" value="Other Documents">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-8">
  Other Documents (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-9" name="stage-2" type="checkbox" value="Other Documents">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-9">
  Other Documents (21)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-10" name="stage-2" type="checkbox" value="Plans">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-10">
  Plans (11)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-2-11" name="stage-2" type="checkbox" value="Reports">
<label class="govuk-label govuk-checkboxes__label" for="stage-2-11">
  Reports (16)
</label>

</div>





</div>

</fieldset>

</div>

                            

                            
                        </div>
                    </details>

                    
                        <hr class="ui-checkbox-accordion__section-break">
                    
                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Pre-examination (102)
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--checkbox" id="ui-checkbox-accordion__checkboxes-section--4"><button type="button" class="ui-checkbox-accordion__checkboxes-section-switch">Select all filters</button>
                            
                                




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend">

<span class="govuk-visually-hidden">Pre-examination (102) filter options</span>

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">










<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3" name="stage-3" type="checkbox" value="Additional Submissions">
<label class="govuk-label govuk-checkboxes__label" for="stage-3">
  Additional Submissions (56)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-2" name="stage-3" type="checkbox" value="Additional Submissions - Accepted at the Discretion of the ExA">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-2">
  Additional Submissions - Accepted at the Discretion of the ExA (16)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-3" name="stage-3" type="checkbox" value="Certificate and Notices">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-3">
  Certificate and Notices (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-4" name="stage-3" type="checkbox" value="Certificates and Notices">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-4">
  Certificates and Notices (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-5" name="stage-3" type="checkbox" value="Compulsory Acquisition Hearing 1">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-5">
  Compulsory Acquisition Hearing 1 (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-6" name="stage-3" type="checkbox" value="Issue Specific Hearing 1">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-6">
  Issue Specific Hearing 1 (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-7" name="stage-3" type="checkbox" value="Procedural Deadline A">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-7">
  Procedural Deadline A (18)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-8" name="stage-3" type="checkbox" value="Procedural Decisions">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-8">
  Procedural Decisions (4)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-9" name="stage-3" type="checkbox" value="s56 notification (s56)">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-9">
  s56 notification (s56) (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-10" name="stage-3" type="checkbox" value="Transboundary">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-10">
  Transboundary (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-3-11" name="stage-3" type="checkbox" value="Unaccompanied Site Inspection">
<label class="govuk-label govuk-checkboxes__label" for="stage-3-11">
  Unaccompanied Site Inspection (1)
</label>

</div>





</div>

</fieldset>

</div>

                            

                            
                        </div>
                    </details>

                    
                        <hr class="ui-checkbox-accordion__section-break">
                    
                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Examination (429)
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--checkbox" id="ui-checkbox-accordion__checkboxes-section--5"><button type="button" class="ui-checkbox-accordion__checkboxes-section-switch">Select all filters</button>
                            
                                




<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

<legend class="govuk-fieldset__legend">

<span class="govuk-visually-hidden">Examination (429) filter options</span>

</legend>


<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">










<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4" name="stage-4" type="checkbox" value="Accompanied Site Inspection Itinerary">
<label class="govuk-label govuk-checkboxes__label" for="stage-4">
  Accompanied Site Inspection Itinerary (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-2" name="stage-4" type="checkbox" value="Additional Submissions - Accepted at the Discretion of the ExA">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-2">
  Additional Submissions - Accepted at the Discretion of the ExA (27)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-3" name="stage-4" type="checkbox" value="Applicants’ response to the Examining Authority's rule 17 letters dated 22 January">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-3">
  Applicants’ response to the Examining Authority's rule 17 letters dated 22 January (6)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-4" name="stage-4" type="checkbox" value="Compulsory Acquisition Hearing 1">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-4">
  Compulsory Acquisition Hearing 1 (4)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-5" name="stage-4" type="checkbox" value="Compulsory Acquisition Hearing 2">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-5">
  Compulsory Acquisition Hearing 2 (9)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-6" name="stage-4" type="checkbox" value="Deadline 1">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-6">
  Deadline 1 (73)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-7" name="stage-4" type="checkbox" value="Deadline 2">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-7">
  Deadline 2 (33)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-8" name="stage-4" type="checkbox" value="Deadline 3">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-8">
  Deadline 3 (51)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-9" name="stage-4" type="checkbox" value="Deadline 4">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-9">
  Deadline 4 (48)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-10" name="stage-4" type="checkbox" value="Deadline 5">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-10">
  Deadline 5 (55)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-11" name="stage-4" type="checkbox" value="Deadline 6">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-11">
  Deadline 6 (54)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-12" name="stage-4" type="checkbox" value="Deadline 7">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-12">
  Deadline 7 (34)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-13" name="stage-4" type="checkbox" value="Examination Library">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-13">
  Examination Library (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-14" name="stage-4" type="checkbox" value="Examining Authority's First Written Questions">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-14">
  Examining Authority's First Written Questions (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-15" name="stage-4" type="checkbox" value="Examining Authority's Second Written Questions">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-15">
  Examining Authority's Second Written Questions (1)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-16" name="stage-4" type="checkbox" value="Issue Specific Hearing 1">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-16">
  Issue Specific Hearing 1 (8)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-17" name="stage-4" type="checkbox" value="Issue Specific Hearing 2">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-17">
  Issue Specific Hearing 2 (7)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-18" name="stage-4" type="checkbox" value="Open Floor Hearing">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-18">
  Open Floor Hearing (2)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-19" name="stage-4" type="checkbox" value="Preliminary Meeting">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-19">
  Preliminary Meeting (3)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-20" name="stage-4" type="checkbox" value="Procedural Decisions">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-20">
  Procedural Decisions (10)
</label>

</div>












<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="stage-4-21" name="stage-4" type="checkbox" value="Report on the Implications for European Sites (RIES)">
<label class="govuk-label govuk-checkboxes__label" for="stage-4-21">
  Report on the Implications for European Sites (RIES) (1)
</label>

</div>





</div>

</fieldset>

</div>

                            

                            
                        </div>
                    </details>

                    
                        <hr class="ui-checkbox-accordion__section-break">
                    
                
                    
                    
                    <details class="ui-checkbox-accordion__section">
                        <summary class="ui-checkbox-accordion__section-switch">
                            <svg class="ui-checkbox-accordion__section-switch-indicator" height="10" width="18">
                                <path d="m.377 2.134 7.713 7.5a1.31 1.31 0 0 0 1.818 0l7.714-7.5a1.224 1.224 0 0 0 0-1.767 1.312 1.312 0 0 0-1.818 0L9 6.983 2.194.367a1.31 1.31 0 0 0-1.818 0 1.225 1.225 0 0 0 0 1.767h.001Z" fill="#000"></path>
                            </svg>

                            <span class="ui-checkbox-accordion__section-switch-title">
                                <span class="govuk-visually-hidden">Select to</span>
                                <span class="ui-checkbox-accordion__section-state-text govuk-visually-hidden"></span>
                                <span class="govuk-visually-hidden">the</span>
                                Date published
                                <span class="govuk-visually-hidden">filter options</span>
                            </span>
                        </summary>

                        <div class="ui-checkbox-accordion__checkboxes-section ui-checkbox-accordion__checkboxes-section--date" id="ui-checkbox-accordion__checkboxes-section--6">
                            

                            
                                
                                    





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" role="group">

<legend class="govuk-fieldset__legend">

From

</legend>


<div class="govuk-date-input" id="docments-page-date-from-form-group">


<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-from-form-group-day">
    Day
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="docments-page-date-from-form-group-day" name="date-from-day" type="text" value="" inputmode="numeric">

</div>
</div>

<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-from-form-group-month">
    Month
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="docments-page-date-from-form-group-month" name="date-from-month" type="text" value="" inputmode="numeric">

</div>
</div>

<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-from-form-group-year">
    Year
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="docments-page-date-from-form-group-year" name="date-from-year" type="text" value="" inputmode="numeric">

</div>
</div>


</div>

</fieldset>

</div>

                                
                                    





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" role="group">

<legend class="govuk-fieldset__legend">

To

</legend>


<div class="govuk-date-input" id="docments-page-date-to-form-group">


<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-to-form-group-day">
    Day
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="docments-page-date-to-form-group-day" name="date-to-day" type="text" value="" inputmode="numeric">

</div>
</div>

<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-to-form-group-month">
    Month
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="docments-page-date-to-form-group-month" name="date-to-month" type="text" value="" inputmode="numeric">

</div>
</div>

<div class="govuk-date-input__item">
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label" for="docments-page-date-to-form-group-year">
    Year
  </label>


  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="docments-page-date-to-form-group-year" name="date-to-year" type="text" value="" inputmode="numeric">

</div>
</div>


</div>

</fieldset>

</div>

                                
                            
                        </div>
                    </details>

                    
                
            </div>

            






<button type="Submit" class="govuk-button ui-checkbox-accordion__submit" data-module="govuk-button" enterkeyhint="search" data-cy="apply-filter-button">
Apply filters
</button>

        </div>
    </div>
</div>

</div>
</div>

<style>
--govuk-frontend-version: "5.6.0";
--govuk-frontend-breakpoint-mobile: 20rem;
--govuk-frontend-breakpoint-tablet: 40.0625rem;
--govuk-frontend-breakpoint-desktop: 48.0625rem;
text-size-adjust: 100%;
font-family: Arial,Helvetica,sans-serif;
box-sizing: border-box;
</style>