{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}

  <!-- notification banner -->
  {% include "/projects/case-details/v4/notification-banner.html" %}

  <!-- case details heading -->
  {% include "/projects/case-details/v4/case-header.html" %}

  <!-- case details horizontal navigation -->
  {% set active = 'questionnaire' %}
  {% include "/projects/case-details/v4/navigation.html" %}

  <h1 class="govuk-heading-l">
    Questionnaire
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "/projects/case-details/v4/case-details--questionnaire.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "/projects/case-details/v4/case-details--questionnaire-review.html" %}
    </div>
  </div>

{% endblock %}
