{% extends "layouts/bo.html" %}

{% set title = 'LPA proof of evidence and witnesses' %}

{% set pageName = title %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0',
      items: [
        {
          text: appeal.id,
          href: "/main/appeals/:appealId" | replace(':appealId', appeal.id)
        },
        {
          text: title
        }
      ]
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukNotificationBanner({
        type: "success",
        text: flash
      }) if flash.length }}

      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

       {% set evidenceAndSummary %}
          {% if appeal.lpaProofOfEvidenceAndWitnesses.evidenceAndSummary %}

            {% if appeal.lpaProofOfEvidenceAndWitnesses.evidenceAndSummary.length > 1 %}
              <ol class="govuk-list govuk-list--number">
                {% for document in appeal.lpaProofOfEvidenceAndWitnesses.evidenceAndSummary %}
                  <li>
                    <a href="#">{{document.name}}</a>
                  </li>
                {% endfor %}
              </ol>
            {% else %}
              <a href="#">{{appeal.lpaProofOfEvidenceAndWitnesses.evidenceAndSummary[0].name}}</a>
            {% endif %}
          {% else %}
            No documents
          {% endif %}
        {% endset %}

      {% set witnessesAndSummary %}
        {% if appeal.lpaProofOfEvidenceAndWitnesses.witnessesAndSummary %}

          {% if appeal.lpaProofOfEvidenceAndWitnesses.witnessesAndSummary.length > 1 %}
            <ol class="govuk-list govuk-list--number">
              {% for document in appeal.lpaProofOfEvidenceAndWitnesses.witnessesAndSummary %}
                <li>
                  <a href="#">{{document.name}}</a>
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <a href="#">{{appeal.lpaProofOfEvidenceAndWitnesses.witnessesAndSummary[0].name}}</a>
          {% endif %}
        {% else %}
          No documents
        {% endif %}
      {% endset %}

      {% set reasonsHtml %}
        <ul class="govuk-list govuk-list--bullet">
          {% for item in appeal.lpaProofOfEvidenceAndWitnesses.incompleteReason %}
            <li>
              {{item}}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: 'Proof of evidence and summary'
            },
            value: {
              html: evidenceAndSummary
            },
            actions: {
              items: [
                {
                  href: '#',
                  text: "Change",
                  visuallyHiddenText: "Proof of evidence and witnesses"
                }
              ]
            }
          },
          {
            key: {
              text: 'Witnesses and their evidence'
            },
            value: {
              html: witnessesAndSummary
            },
            actions: {
              items: [
                {
                  href: '#',
                  text: "Change",
                  visuallyHiddenText: "Proof of evidence and witnesses"
                }
              ]
            }
          },
          {
            key: {
              text: 'Why is the LPA proof of evidence and witnesses incomplete?'
            },
            value: {
              html: reasonsHtml
            }
          } if appeal.lpaProofOfEvidenceAndWitnesses.status == 'Incomplete' and 1==2
        ]
      }) }}

      {% if appeal.lpaProofOfEvidenceAndWitnesses.status == 'Ready to review' %}
        <form method="post">
          {{ govukRadios({
            name: "reviewProofOfEvidenceAndWitnesses[decision]",
            fieldset: {
              legend: {
                text: "Review",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Accept",
                text: "Accept"
              },
              {
                value: "Mark as incomplete",
                text: "Mark as incomplete"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      {% endif %}


    </div>
  </div>
{% endblock %}
