{% extends "layouts/PINS.html" %}

{% set pageName="Case details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    	<span class="govuk-caption-l">Appeal 2110166</span>
      <form action="link-appeal-parent" method="post">
    	{{ govukInput({
        label: {
          text: "What is the appeal ID?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "This is the seven digit unique reference"
        },
        id: "appeal-id",
        name: "appeal-id"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    </div>
  </div>


{% endblock %}
