{% extends "layouts/PINS.html" %}

{% set pageName="Decision date" %}

{% set title = "What was the decision date?" %}

{% block questions %}

  {% include "/includes/appeal-content/lpa-has-appeal-meta.html" %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukDateInput({
    id: "passport-issued",
    namePrefix: "passport-issued",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      html: "For example, 13 9 2023"
    }
  }) }}

{% endblock %}
