{% extends "layouts/bo.html" %}

{% set title = "Decision for child appeal :appealId" | replace(':appealId', appealId) %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %} - issue decision</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% set insetHtml %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                html: "Appellant"
              },
              value: {
                html: ':firstName :lastName' | replace(':firstName', childAppeal.appellant.firstName) | replace(':lastName', childAppeal.appellant.lastName)
              }
            },
            {
              key: {
                html: "Site address"
              },
              value: {
                html: appAddress({ address: childAppeal.site.address })
              }
            },
            {
              key: {
                html: "Appeal type"
              },
              value: {
                html: childAppeal.type
              }
            }
          ]
        }) }}
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}

      <form method="post">
        
        {{ govukRadios({
          name: "issueDecision[decision][:appealId]" | replace(':appealId', appealId),
          fieldset: {
            legend: {
              text: 'Decision',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          value: data.issueDecision.decision[appealId],
          items: [
            {
              value: "Allowed",
              text: "Allowed"
            },
            {
              value: "Dismissed",
              text: "Dismissed"
            },
            {
              value: "Split decision",
              text: "Split decision"
            },
            {
              value: "Invalid",
              text: "Invalid"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
