{% extends "layouts/bo.html" %}

{% set title = "Decision letter" | replace(':appealId', appealId) %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %} - issue decision</span>
        <h1 class="govuk-heading-l">{{title}}</h1>

        <p>The file must be a PDF and smaller than 25MB.</p>

        {% set uploadHtml %}
          {{ govukFileUpload({
            id: 'upload',
            name: 'upload',
            classes: 'moj-multi-file-upload__input',
            label: {
              text: 'Upload decision letter',
              classes: 'govuk-label--m'
            }
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary moj-multi-file-upload__button'
          })}}
        {% endset %}

        {{ mojMultiFileUpload({
          uploadHtml: uploadHtml
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
