{% extends "layouts/bo.html" %}

{% set title = "Confirm that you want to cancel the site visit"  %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>We’ll send an email to the appellant and LPA to tell them the site visit has been cancelled.</p>

      <form method="post">
        {{ govukButton({
          text: "Cancel site visit"
        }) }}

        <p><a href="/main/appeals/{{appeal.id}}">Keep site visit</a></p>
      </form>
    </div>
  </div>
{% endblock %}
