{% extends "layouts/bo.html" %}

{% set title = "Check details and set up hearing" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.addHearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              html: ''
            },
            actions: {
              items: [
                {
                  href: "/main/appeals/:appealId/add-hearing" | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Date"
                }
              ]
            }
          }
        ]
      }) }}

      <p>We’ll send an email to the appellant and LPA to tell them about the hearing.</p>

      <form method="post">
        {{ govukButton({
          text: "Set up hearing"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
