{% extends "layouts/bo.html" %}

{% set title = "Check details and issue decision" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  {% set address %}
    {{appAddress({ address: data.addHearing.address })}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal {{appeal.id}} {% if appeal.isLeadAppeal %}(lead){% endif %}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if appeal.isLeadAppeal %}

      {% else %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Decision"
              },
              value: {
                html: data.issueDecision.decision
              },
              actions: {
                items: [
                  {
                    href: "/main/appeals/:appealId/add-decision" | replace(':appealId', appeal.id),
                    text: "Change",
                    visuallyHiddenText: "Date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Decision letter"
              },
              value: {
                html: '<a href="#">decision-letter.pdf</a>'
              },
              actions: {
                items: [
                  {
                    href: "/main/appeals/:appealId/decision-letter" | replace(':appealId', appeal.id),
                    text: "Change",
                    visuallyHiddenText: "Date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Appellant costs decision letter"
              },
              value: {
                html: '<a href="#">appellant-costs-decision-letter.pdf</a>'
              },
              actions: {
                items: [
                  {
                    href: "/main/appeals/:appealId/appellant-costs-decision-letter" | replace(':appealId', appeal.id),
                    text: "Change",
                    visuallyHiddenText: "Date"
                  }
                ]
              }
            },
            {
              key: {
                text: "LPA costs decision letter"
              },
              value: {
                html: '<a href="#">lpa-costs-decision-letter.pdf</a>'
              },
              actions: {
                items: [
                  {
                    href: "/main/appeals/:appealId/lpa-costs-decision-letter" | replace(':appealId', appeal.id),
                    text: "Change",
                    visuallyHiddenText: "LPA costs decision letter"
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <p>We’ll send an email to the appellant and LPA to tell them about the decision.</p>

      <form method="post">
        {{ govukButton({
          text: "Issue decision"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
