{% extends "layouts/PINS-Simple.html" %}

{% set title = "Check details and add affected listed building" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 2114328</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Affected listed building
            </dt>
            <dd class="govuk-summary-list__value">
              <p><a href="#">1234567</a></p>
              <p>Grade II listed building 155<br>York Road<br>Bedminster<br> Bristol<br> BS3 3AL</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="delete">
                Change<span class="govuk-visually-hidden"> {{file.filename}}</span>
              </a>
            </dd>
          </div>
        </dl>

      <form method="post">
        {{ govukButton({
          text: "Add affected listed building"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
