{% extends "layouts/PINS-post-mvp.html" %}

{% set pageName="Decision date" %}

{% set title = "Share LPA statement and supporting documents" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <span class="govuk-caption-l">
    Appeal 2110917
  </span>
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>
  

  {{ govukInsetText({
    html: "Confirming will share these with the relevant parties "
  }) }}  

<form action="lpa-statement-confirm" method="post" class="govuk-!-margin-top-2">

 

	{{ govukButton({
		text: 'Confirm'
	}) }}

</form>

  </div>
  </div>

{% endblock %}
