{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Why are you rejecting the new evidence?" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2110166</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <form method="post" class="govuk-!-margin-top-6">

			  {% set addReason %}

          <div data-module="moj-add-another">

  				{% call govukFieldset({
  				  classes: 'moj-add-another__item',
  				  legend: {
  					text: 'What reason?',
  					classes: 'moj-add-another__title ',
  					isPageHeading: false
  				  }
  				}) %}

  				{{ govukInput({
  				  id: "what-reason",
  				  name: "what-reason",
  				  classes: "govuk-!-margin-bottom-3"
  				}) }}

        {% endcall %}

          <div class="moj-button-action">
            {{ govukButton({
          	text: 'Add another',
          	classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-3'
            }) }}
          </div>

        </div>

        {% endset -%}

          <p class="govuk-hint">Select all that apply</p>

          {{ govukCheckboxes({
            name: "reason-incomplete",
            items: [
              {
                value: "Libellous comments",
                text: "Libellous comments"
              } ,
            {
              value: "Sensitive information",
              text: "Sensitive information"
            } ,
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: addReason
              }
            }]
          })
        }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
