{% extends "layouts/PINS-post-mvp.html" %}

{% set pageName="Personal list" %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      Comment from Ian Smith
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Interested party
        </dt>
        <dd class="govuk-summary-list__value">
          Ian Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          ian.smith@gmail.com
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          6 The Grove<br>
          Glasgow<br>
          GS5 7TH
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          26 Nov 2023
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comment
        </dt>
        <dd class="govuk-summary-list__value">
          Having reviewed the proposal I would like to raise strong objections based on the scale of the proposed buildings so close to a residential area. Residents have not been consulted on this and our views of the greenbelt adjacent to the estate will be ruined if this goes ahead. All of us here at number 6 The Grove agree.
        </dd>
      </div>
    </dl>
  </div>

</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="govuk-!-margin-bottom-9">
      <!-- site visit requested -->
      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "Site visit requested",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "siteVisitRequest",
            text: "A site visit has been requested"
          }
        ]
      }) }}
    </section>

    <!-- accept or reject the comment -->
    <form action="" method="post" class="govuk-!-margin-top-7" id="review-comment">

    <!-- this form is branching using https://github.com/abbott567/radio-button-redirect for simpler routing-->

      {{ govukRadios({
        name: "commentReview",
        fieldset: {
          legend: {
            text: "Do you accept the comment?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
         {
            value: "redactionNeeded~comment-redact",
            text: "Yes"
          },
         {
            value: "valid~ip-comments-done",
            text: "Yes, after it has been redacted"
          },
            {
              divider: "or"
            },
          {
            value: "invalid~invalid-reason",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
