{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Do you have redacted version of this document?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Appeal 2114328</span>

      <form method="post">

        {{ govukRadios({
          name: "redaction-status",
          fieldset: {
           legend: {
             text: title,
             isPageHeading: true,
             classes: "govuk-fieldset__legend--l"
           }
          },
          hint: {
            text: "If ‘Yes’ you will need to upload the original and redacted versions."
          },
          items: [
           {
             value: "Yes",
             text: "Yes"
           },
           {
             value: "No",
             text: "No"
           }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
