{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Supporting documents" %}
{% set pageName = title %}

{% set back = true %}

{% set prototypeLinks = [
  {
    href: '?anotherdocument=',
    text: 'Single document'
  } if data['anotherdocument'] == 'yes' else {
    href: '?anotherdocument=yes',
    text: 'A second document'
  }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {{ govukSummaryList({
      classes: 'appeal-details govuk-!-margin-bottom-6 govuk-!-margin-top-0',
      rows: [

        {
          key: {
            text: 'Document 1'
          },
          value: {
            html: "<a href='#' class='govuk-link'>
              "+ (data ['upload-extra-document'] or 'appeal-2114328-added-document.doc') + "
            </a>"
          },
          actions: {
            items: [
              {
                href: "extra-document-redaction-status",
                classes: "govuk-link govuk-link--no-visited-state",
                text: "Remove",
                visuallyHiddenText: 'document 1'
              }
            ]
          }
        },
        {
          key: {
            text: 'Document 1 (redacted version)'
          },
          value: {
            html: "<a href='#' class='govuk-link'>
              "+ (data ['upload-extra-document'] or 'appeal-2114328-added-document-(redacted).doc') + "
            </a>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                classes: "govuk-link govuk-link--no-visited-state",
                visuallyHiddenText: 'redacted document 1'
              }
            ]
          }
        },

        {
          key: {
            text: 'Document 2'
          },
          value: {
            html: "<a href='#' class='govuk-link'>
              "+ (data ['upload-extra-document'] or 'appeal-2114328-added-document-2.doc') + "
            </a>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                classes: "govuk-link govuk-link--no-visited-state",
                visuallyHiddenText: 'document 2'
              }
            ]
          }
        } if data['anotherdocument'] == 'yes',
        {
          key: {
            text: 'Document 2 (redacted version)'
          },
          value: {
            html: "<a href='#' class='govuk-link'>
              "+ (data ['upload-extra-document'] or 'appeal-2114328-added-document-2-(redacted).doc') + "
            </a>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Remove",
                classes: "govuk-link govuk-link--no-visited-state",
                visuallyHiddenText: 'redacted document 2'
              }
            ]
          }
        } if data['anotherdocument'] == 'yes'

      ]
    }) }}

  </div>

  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      {{ govukRadios({
        idPrefix: 'other-document',
        name: 'other-document',
        fieldset: {
          legend: {
            html: 'Upload another document?',
            classes: 'govuk-fieldset__legend--m',
            isPageHeading: false
          }
        },
        items: [
          {
            html: 'Yes',
            value: 'Yes'
          },
          {
            html: 'No',
            value: 'No'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
