{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Did the interested party provide an address?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal 2114328</span>
	  <form action="add-ip-address" method="post">

      {{ govukRadios({
        name: "IP-address-check",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes~/projects/ip-comments/v5/add-ip-address.html",
            text: "Yes"
          },
          {
            value: "No~/projects/ip-comments/v5/add-ip-attachment.html",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
