{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Interested party comments" %}
{% set pageName = title %}

{% set back = true %}

{% set prototypeLinks = [
  {
    href: '?no-comments=yes',
    text: 'No comments to review'
  } if data['no-comments'] != 'yes',
  {
    href: '?no-comments=',
    text: 'Comments to review'
  } if data['no-comments'] == 'yes',
  {
    href: '?comments-shared=yes',
    text: 'Comments shared'
  } if data['comments-shared'] != 'yes',
  {
    href: '?comments-shared=',
    text: 'Comments window is open'
  } if data['comments-shared'] == 'yes',
  {
    href: '?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=&comment-rejected=&extra-document=',
    text: 'Clear banners'
  }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Notification banners -->

    {% if data ['redactedComment'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from Ian Smith redacted and accepted
          </p>
        </div>
      </div>
    {% elseif data ['acceptedComment'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from Ian Smith accepted
            </p>
        </div>
      </div>
  	{% elseif data ['manual-ip-comment'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from {{ data ['manual-ip-first-name']}} {{ data ['manual-ip-last-name']}} added
          </p>
        </div>
      </div>
    {% elseif data ['comment-rejected'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from {{ data ['manual-ip-first-name'] or 'Ian'}} {{ data ['manual-ip-last-name'] or 'Smith'}} rejected
          </p>
          <p class="govuk-body">
            The IP has not been informed. No email address was provided.
          </p>
        </div>
      </div>
    {% elseif data ['comment-withdrawn'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from {{ data ['manual-ip-first-name'] or 'Ian'}} {{ data ['manual-ip-last-name'] or 'Smith'}} withdrawn
          </p>
        </div>
      </div>
    {% elseif data ['extra-document'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Supporting document uploaded for {{ data ['manual-ip-first-name'] or 'Ian'}} {{ data ['manual-ip-last-name'] or 'Smith'}}
          </p>
        </div>
      </div>
  	{% endif %}

    <!-- Page heading -->
    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    {% if data['comments-shared'] != 'yes' %}
    <p class="govuk-body govuk-!-margin-bottom-6">
      <a href="add-ip-email" class="govuk-link">
        Add IP comment
      </a>
    </p>
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% set reviewHtml %}
        {% include "includes/ip-comments/waiting-comments.html" %}
      {% endset %}

      {% set validHtml %}
        {% include "includes/ip-comments/valid-comments.html" %}
      {% endset %}

      {% set rejectedHtml %}
        {% include "includes/ip-comments/rejected-comments.html" %}
      {% endset %}

      {{ govukTabs({
        items: [
          {
            label: "Awaiting review",
            id: "review-tab",
            panel: {
              html: reviewHtml
            }
          } if data['comments-shared'] != 'yes',
          {
            label: "Accepted",
            id: "valid-tab",
            panel: {
              html: validHtml
            }
          },
          {
            label: "Rejected",
            id: "rejected-tab",
            panel: {
              html: rejectedHtml
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a href="withdrawn-comments">
          Withdrawn IP comments
        </a>
      </p>

    </div>
  </div>

{% endblock %}
