{% extends "layouts/PINS-post-mvp.html" %}

{% set pageName="Personal list" %}

{% set back = true %}

{% set prototypeLinks = [
  {
    href: '?no-comments=yes',
    text: 'No comments to review'
  } if data['no-comments'] != 'yes',
  {
    href: '?no-comments=',
    text: 'Comments to review'
  } if data['no-comments'] == 'yes',
  {
    href: '?comments-shared=yes',
    text: 'Comments shared'
  } if data['comments-shared'] != 'yes',
  {
    href: '?comments-shared=',
    text: 'Comments window is open'
  } if data['comments-shared'] == 'yes',
  {
    href: '?redactedComment=&commentReview=&comment-withdrawn=&manual-ip-comment=',
    text: 'Clear banners'
  }
] %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Notification banners -->

    {% if data ['redactedComment'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from Ian Smith redacted
          </p>
        </div>
      </div>
    {% elseif data ['commentReview'] === 'valid' %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from Ian Smith accepted
          </p>
        </div>
      </div>
  	{% elseif data ['manual-ip-comment'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from {{ data ['manual-ip-first-name']}} {{ data ['manual-ip-last-name']}} added
          </p>
        </div>
      </div>
    {% elseif data ['comment-withdrawn'] %}
      <div class="govuk-notification-banner  govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Comment from {{ data ['manual-ip-first-name'] or 'Ian'}} {{ data ['manual-ip-last-name'] or 'Smith'}} has been withdrawn
          </p>
        </div>
      </div>
  	{% endif %}

    <!-- Page heading -->
    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      Interested party comments
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      {% set reviewHtml %}
        {% include "includes/ip-comments/waiting-comments.html" %}
      {% endset %}

      {% set validHtml %}
        {% include "includes/ip-comments/valid-comments.html" %}
      {% endset %}

      {% set rejectedHtml %}
        {% include "includes/ip-comments/rejected-comments.html" %}
      {% endset %}

      {{ govukTabs({
        items: [
          {
            label: "Awaiting review",
            id: "review-tab",
            panel: {
              html: reviewHtml
            }
          } if data['comments-shared'] != 'yes',
          {
            label: "Accepted",
            id: "valid-tab",
            panel: {
              html: validHtml
            }
          },
          {
            label: "Rejected",
            id: "rejected-tab",
            panel: {
              html: rejectedHtml
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
