{% extends "layouts/PINS-post-mvp.html" %}

{% set title = "Upload unredacted document" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Redaction status is {{ data['redaction-status'] }} -->

    <span class="govuk-caption-l">Appeal 2114328</span>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <form method="post">

      <section class="govuk-!-margin-top-6">
        {{ govukFileUpload({
          id: "upload-extra-document",
          name: "upload-extra-document",
          label: {
            text: "Upload a file",
            classes: "govuk-visually-hidden"
          },
          hint: {
            text: 'Files must be a DOC, DOCX, PDF, TIF, JPG or PNG and be smaller than 15MB'
          }
        }) }}
      </section>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>





{% endblock %}
