/Volumes/Macintosh%20HD/Users/garycarr/Documents/BO%20Appeals/app/views/projects/journey/v1/LPA-has-questionnaire/v1/task-list.html{% extends "layouts/PINS.html" %}

{% set pageName="Complete" %}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Appeal valid",
        html: "Appeal ID<br><strong>2110166</strong>"
      }) }}

      <p class="govuk-body">The timetable is now created and published.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We’ve sent the start letter email to the Appellant and LPA.
      </p>
      <p class="govuk-body">
        The case has been published on the Appeals Casework Portal.
      </p>

      <p class="govuk-body">
        <a href="../../v1/LPA-has-questionnaire/case" class="govuk-link">Go to case details</a>
      </p>
    </div>
  </div>

{% endblock %}
