{% extends "layouts/PINS-admin.html" %}

{% set pageName="Home" %}

{% set back = false %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    </div>

<div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-xl">
    Archive
  </h1>

    <h2 class="govuk-heading-m">Archived</h2>

    <ul class="govuk-list">
      <li> 
        <a class="govuk-link" href="projects/redaction/"><span style="text-decoration: line-through">Redaction</span></a>
      </li>
      <li>
        <a class="govuk-link" href="projects/audit/">Audit - History of changes </a>
      </li>
	    <li>
        <a class="govuk-link" href="projects/LPA-has-questionnaire/">LPA HAS questionnaire</a>
      </li>
      <li>
        <a class="govuk-link" href="projects/quick-change-pages/">Quick change links</a>
      </li>
	    <li>
        <a class="govuk-link" href="projects/appellant-case/">Appellant case review</a>
      </li>

      
    </ul>

	  
	  <h2 class="govuk-heading-m">End to end demo</h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="projects/journey">Manage a Householder appeal from start to issuing a decision</a>
      </li>
    </ul>
	  
  </div>
  
  
</div>



  

{% endblock %}
