{% extends "layouts/PINS-admin-post-mvp.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}
{% set pageId = 'caseDetails' %}

{% set back = false %}

{% block header %}
	{% include "includes/PINS-header-admin.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <ul class="govuk-list govuk-list-bullet">
      <li><a href="#common" class="govuk-link--no-visited-state govuk-link--no-underline">Case details</a></li>
      <!-- <li><a href="#dev" class="govuk-link--no-visited-state govuk-link--no-underline">Ready for development</a></li> -->
    </ul>
  </div>

  

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ govukButton({
        text: "Master case details page",
        href: "projects/start-full-case/v5/case-details-v2"
      }) }}

     

      <!-- written representations elements -->
      <section id="written-reps">



        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Link to prototype"
            },  
            {
              text: "Notes"
            }
          ],
          rows: [
          [
              {
                html: "<a href='enhancements/keyword-search/keyword-search'>Keyword search</a> "
              },
              {
                html: "<a href='https://pins-ds.atlassian.net/browse/A2-4584?atlOrigin=eyJpIjoiOWI1NzA5MDAwOTdmNDljY2ExYzgyYWM4NDE4NWM4NWIiLCJwIjoiaiJ9'>A2-4584</a> "
              },
              {
                html: "<a href='https://app.mural.co/t/allpins6990/m/allpins6990/1755167208449/7f91005f18becfd34d812561af7e2b65c69d6119'>Mural workings</a> "
              }
            ]
          ]
        }) }}

      </section>

     

      

    

  	  <!-- <h2 class="govuk-heading-m" id="dev">
        Ready for development
      </h2>

      <p>
        Features that have been refined and are ready to be developed. These prototypes should not change unless a fix is needed or the requirments change.
      </p>

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Tickets"
          },
          {
            text: "Related docs"
          }
        ],
        rows: [

        ]
      }) }} -->

    </div>
  </div>

{% endblock %}
