{% extends "layouts/PINS-admin-post-mvp.html" %}

{% set title = "Case management" %}
{% set pageName = title + ' - Planning Inspectorate'%}
{% set pageId = 'caseManagement' %}

{% set back = false %}

{% block header %}
	{% include "includes/PINS-header-admin.html" %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-one-quarter">
	    <ul class="govuk-list govuk-list-bullet">
	      <li><a href="#common" class="govuk-link--no-visited-state govuk-link--no-underline">Case management</a></li>
	      <!-- <li><a href="#dev" class="govuk-link--no-visited-state govuk-link--no-underline">Ready for development</a></li> -->
	    </ul>
	  </div>

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

			{{ govukButton({
      	href: "/projects/case-management/v1/case-setup--planning-type",
        text: "Set up a case view",
        classes: "govuk-button--secondary"
      }) }}

      <section>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name",
              classes: "govuk-!-width-one-half"
            },
            {
              text: "Jira ticket"
            },
            {
              text: "Notes"
            }
          ],
          rows: [
            [
              {
                html: "<a href='enhancements/keyword-search/bo-home'>Advanced search</a>"
              },
              {
                html: "<a href='https://pins-ds.atlassian.net/browse/A2-4584?atlOrigin=eyJpIjoiOWI1NzA5MDAwOTdmNDljY2ExYzgyYWM4NDE4NWM4NWIiLCJwIjoiaiJ9'>A2-4584</a>"
              },
              {
                html: "<a href='https://app.mural.co/t/allpins6990/m/allpins6990/1755167208449/7f91005f18becfd34d812561af7e2b65c69d6119'>Mural workings</a>"
              }
            ],
            [
              {
                html: "<a href='main/appeals/site-visit/reminder/case-details'>Site visit reminder date</a>"
              },
              {
                html: "<a href='https://pins-ds.atlassian.net/browse/A2-3327?atlOrigin=eyJpIjoiNWIyMDk2NDhkZTUxNGQzMzgwNTZjMjllYjQ4OGVmYmMiLCJwIjoiaiJ9'>A2-3327</a>"
              },
              {
                html: "<a href='https://app.mural.co/t/allpins6990/m/allpins6990/1755167208449/7f91005f18becfd34d812561af7e2b65c69d6119'>Mural workings</a>"
              }
            ],
            [
              {
                html: "<a href='https://pins-app-prototype-appeals-back-office.azurewebsites.net/elements/includes/start-full-case/v5/case-details-v2'>Case record management and transparency</a>"
              },
              {
                html: "<a href='https://pins-ds.atlassian.net/browse/A2-4758'>A2-4758</a>"
              },
              {
                html: "Unused - see notes in ticket"
              }
            ],
            [
              {
                html: 'Change validation status:
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="main/appeals/change-status/appellant-case--valid.html">Valid appeal</a>
                  </li>
                  <li>
                    <a href="main/appeals/change-status/appellant-case--invalid.html">Invalid</a>
                  </li>
                  <li>
                    <a href="main/appeals/change-status/appellant-case--incomplete.html">Incomplete appeal</a>
                  </li>
                </ul>'
              },
              {
                html: '<a href="https://pins-ds.atlassian.net/browse/A2-758?atlOrigin=eyJpIjoiOTYxYjZlNzQ4N2MxNGYxNDhkZmFiNjczMDUxOTE1NjciLCJwIjoiaiJ9">A2-758</a>'
              },
              {
                html: '<a href="https://app.mural.co/t/allpins6990/m/allpins6990/1755167208449/7f91005f18becfd34d812561af7e2b65c69d6119">Mural workings</a>'
              }
            ]
          ]
        }) }}

      </section>

    </div>
  </div>

{% endblock %}
