{% extends "layouts/PINS-admin.html" %}

{% set pageName="Home" %}

{% set back = false %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
 
    <ul class="govuk-list govuk-list-bullet">
      <li><a href="" class="govuk-link--no-visited-state govuk-link--no-underline">National list</a></li>
      <li><a href="" class="govuk-link--no-visited-state govuk-link--no-underline">Personal list</a></li>
      <li><a href="" class="govuk-link--no-visited-state govuk-link--no-underline">Uploading a file</a></li>
    </ul>

    </div>

<div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l">
    Common components
  </h1>

  <p class="govuk-body">When prototyping new journeys, we frequently use common components. The latest versions of these are here.</p>

    <h2 class="govuk-heading-m">National list</h2>

    <h2 class="govuk-heading-m">Personal list</h2>

	  <h2 class="govuk-heading-m">Uploading a file</h2>
    <p>Uploading a file uses the GOV.UK Design System file upload component, with additional content from us around file types.</p>

    
  </div>
  
  
</div>



  

{% endblock %}
