{% extends "layouts/PINS.html" %}

{% set pageName="Home" %}


{% block beforeContent %}

<div class="pins-masthead govuk-!-padding-top-9 govuk-!-padding-bottom-4">
	<div class="govuk-width-container govuk-width-container">
		<h1 class="govuk-heading-l">Back office services</h1>
	</div>
</div>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Appeals</h2>

    <ul class="govuk-list">
	  <li>
        <a class="govuk-link" href="projects/personal-list/">National list</a>
      </li>
    </ul>

  </div>
</div>


<div style="background: #f3f2f1; padding: 2rem; margin-top: 4em">
	<p>Prototype note</p><a href='/'>Link back to list of prototypes</a>
</div>

{% endblock %}
