{% extends "layouts/PINS-admin-post-mvp.html" %}

{% set title = "Enforcement and listed building enforcement" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set pageId = 'enf' %}

{% set back = false %}

{% block header %}
	{% include "includes/PINS-header-admin.html" %}
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <!-- enforcement -->
      <section id="enforcement">

        <h2 class="govuk-heading-m">
          Enforcement
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name",
              classes: "govuk-!-width-one-half"
            }
          ],
          rows: [
            [
              {
                html: "<a href='/projects/validate-enforcement/index'>Enforcement appeal validation</a>"
              }
            ],
            [
            {
              html: "<a href='/projects/validate-elb/index'>Enforcement listed building appeal validation</a>"
            }
          ],
						[
              {
                html: "<a href='/projects/enf-questionnaire/task-list'>LPA questionnaire</a>"
              }
            ],
            [
            	{
              	html: "<a href='/projects/appellant-statement/'>Review appellant statement</a>"
            	}
          	],
            [
            {
              html: "<a href='/main/appeals/decision/enforcement/case-details?case-stage=determination&appealIs=Enforcement'>Issue decision</a>"
            }
          ]
          ]
        }) }}

      </section>

			<!-- listed building enforcement -->
      <!-- <section id="enforcement--listed-building">

        <h2 class="govuk-heading-m">
          Listed building enforcement
        </h2>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name"
            }
          ],
          rows: [
            [
              {
                html: "<a href='#'>TBA</a>"
              }
            ],
						[
              {
                html: "<a href='#'>TBA</a>"
              }
            ],
            [
            	{
              	html: "<a href='#'>TBA</a>"
            	}
          	]
          ]
        }) }}

      </section> -->

    </div>

	</div>
{% endblock %}
