{% extends "layouts/bo.html" %}

{% set title = 'Manage planning appeals' %}
{% set pageId = 'main' %}
{% set back = false %}

{% block header %}
	{% include "includes/PINS-header-admin.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Main prototype</h1>

  {{ govukButton({
    text: "Start prototype",
    href: '/main/your-cases',
    isStartButton: true
  }) }}

  <h2 class="govuk-heading-m">Case list</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Your cases (new layout and filter panel, needs a bit more love, not doing for now)
    </li>
    <li>
      All cases (new layout and filter panel, needs a bit more love, not doing for now)
    </li>
  </ul>

  <h2 class="govuk-heading-m">Case details</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Closely much matches production but handles new features as below)
    </li>
  </ul>

  <h2 class="govuk-heading-m">Start case</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Full planning appeals
    </li>
  </ul>

  <h2 class="govuk-heading-m">Appeal procedure</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Add
    </li>
    <li>
      Update
    </li>
  </ul>

  <h2 class="govuk-heading-m">Agent</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
    <li>Remove</li>
  </ul>

  <h2 class="govuk-heading-m">Hearing</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Set up</li>
    <li>Update</li>
    <li>Cancel</li>
  </ul>

  <h2 class="govuk-heading-m">Hearing estimates</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
  </ul>

  <h2 class="govuk-heading-m">Inquiry</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Set up</li>
    <li>Update</li>
    <li>Cancel</li>
  </ul>

  <h2 class="govuk-heading-m">Inquiry estimates</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
  </ul>

  <h2 class="govuk-heading-m">Rule 6 parties</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Approve</li>
    <li>Reject</li>
    <li>Withdraw</li>
  </ul>

  <h2 class="govuk-heading-m">Rule 6 statements</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Accept</li>
    <li>Redact and accep</li>
    <li>Reject</li>
  </ul>

  <h2 class="govuk-heading-m">Set up inquiry timetable</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Add statement of common ground due date, proof of evidence and witnesses due date and planning obligation due date at the same time
    </li>
    <li>
      Statement of common ground due date: add and update (Inquiries only)
    </li>
    <li>
      Proof of evidence and witnesses due date: add and update (Inquiries only)
    </li>
    <li>
      Planning obligation due date: add and update (Inquiries only)
    </li>
    <li>
      Share inquiry timetable (if you add these dates after starting a case)
    </li>
  </ul>

  <h2 class="govuk-heading-m">Timetable display</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Timetable display: Householder appeal, full planning appeal (all 3 procedures)
    </li>
  </ul>

{% endblock %}
