{% extends "layouts/bo.html" %}

{% set title = 'Manage planning appeals' %}
{% set pageId = 'main' %}
{% set back = false %}

{% block header %}
	{% include "includes/PINS-header-admin.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Main prototype</h1>

  {{ govukButton({
    text: "Start prototype",
    href: '/main/your-appeals',
    isStartButton: true
  }) }}

  {# <h2 class="govuk-heading-m">Appeals</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Combined list</li>
    <li>Default filter to your appeals</li>
    <li>Adapts based on user type (case officer and inspector)</li>
    <li>New layout</li>
    <li>New filters</li>
    <li>Sorting controls</li>
  </ul> #}

  <h2 class="govuk-heading-m">Your appeals</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>New layout</li>
    <li>New filters</li>
    <li>Sorting controls</li>
  </ul>

  <h2 class="govuk-heading-m">All appeals</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>New layout</li>
    <li>New filters</li>
    <li>Sort</li>
  </ul>

  <h2 class="govuk-heading-m">Appeal details</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Closely matches production but handles new features
    </li>
  </ul>

  <h2 class="govuk-heading-m">Linked appeals</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Add
    </li>
    <li>
      Remove
    </li>
    <li>
      Update lead appeal
    </li>
    <li>
      Issue decision
    </li>
    <li>
      Hide information on child appeal
    </li>
    <li>
      Filters
    </li>
  </ul>

  <h2 class="govuk-heading-m">Start appeal</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Householder appeal
    </li>
    <li>
      Planning appeal
    </li>
  </ul>

  <h2 class="govuk-heading-m">Appeal procedure</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Update
    </li>
  </ul>

  <h2 class="govuk-heading-m">Agent</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
    <li>Remove</li>
  </ul>

  <h2 class="govuk-heading-m">Interested party comments</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>New layout and filters</li>
    <li>Add</li>
    <li>Accept</li>
    <li>Accept and redact</li>
    <li>Reject</li>
    <li>Withdraw</li>
  </ul>

  <h2 class="govuk-heading-m">Hearing</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Set up</li>
    <li>Update</li>
    <li>Cancel</li>
  </ul>

  <h2 class="govuk-heading-m">Hearing estimates</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
  </ul>

  <h2 class="govuk-heading-m">Inquiry</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Set up</li>
    <li>Update</li>
    <li>Cancel</li>
  </ul>

  <h2 class="govuk-heading-m">Inquiry estimates</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Update</li>
  </ul>

  <h2 class="govuk-heading-m">Rule 6 parties</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Add</li>
    <li>Approve</li>
    <li>Reject</li>
    <li>Withdraw</li>
  </ul>

  <h2 class="govuk-heading-m">Rule 6 statements</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>Accept</li>
    <li>Redact and accept</li>
    <li>Reject</li>
  </ul>

  <h2 class="govuk-heading-m">Timetable</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Displays timetable based on type and procedure
    </li>
    <li>
      Due dates can be updated together
    </li>
    <li>
      Hearing and inquiry is shown and can be updated from the timetable
    </li>
    <li>
      Planning obligation due is shown where applicable
    </li>
  </ul>

  <h2 class="govuk-heading-m">New flows and design enhancements</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="enhancements/start-hearing.html">Capture start date and time in the start hearing flow</a> (<a href="https://pins-ds.atlassian.net.mcas.ms/jira/software/c/projects/A2/boards/255?selectedIssue=A2-4220">see related Jira ticket here</a>)
    </li>
  </ul>

{% endblock %}
