{% extends "layouts/PINS.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
	  

    <h1 class="govuk-heading-xl">
      {{ serviceName }} Back Office
    </h1>
    
    
    <span class="govuk-caption-m">Dev sprint 5</span>
    <h2 class="govuk-heading-l">Design sprint 1</h2>
    
    
    <p><a href="sprint-1/appellant-case/">Appellant case review</a></br>
    <a href="sprint-1/file-upload/">File upload</a></p>
    
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    
  </div>
</div>

{% endblock %}
