{% extends "layouts/bo.html" %}

{% set title = 'Check details and mark appeal as incomplete' %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: 'javascript:history.back()' }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <span class="govuk-caption-l">Appeal 1223443</span>
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% set reason          = data['incomplete'] %}
    {% set missingDocs     = data['missingDocuments'] %}
    {% set groundsSelected = data['grounds'] %}
    {% set dueDate         = data['dueDate'] or "21 November 2025" %}

    {# ----------------------- Missing documents HTML ----------------------- #}
    {% set missingDocsHtml %}
      {% if missingDocs %}
        <ul class="govuk-list govuk-list--bullet">
          {% for doc in missingDocs %}
          <li>{{ doc }}: more info</li>
          {% endfor %}
        </ul>
      {% else %}
        Planning obligation: never added
      {% endif %}
    {% endset %}

    {# ----------------------- Incomplete reason list ----------------------- #}
    {% set incompleteList %}
      {% if reason and reason.length %}
        <ul class="govuk-list govuk-list--bullet">
          {% for item in reason %}
            {% if item == "Other" %}
              <li>{{ item }}: {{ data['otherReason'] }}</li>
            {% else %}
              <li>{{ item }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        Waiting for the appellant to pay the fee
      {% endif %}
    {% endset %}

    {# ----------------------- Grounds list ----------------------- #}
    {% set groundsHtml %}
    {% if groundsSelected %}
      <ul class="govuk-list govuk-list--bullet">
        {% for ground in groundsSelected %}
          {% set letter = ground | replace("Ground (", "") | replace(")", "") | upper %}
          {% set key = "reason" + letter %}
          {% if data[key] %}
            <li>{{ ground }}: {{ data[key] }}</li>
          {% else %}
            <li>{{ ground }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      Ground (b): my reason
    {% endif %}
  {% endset %}  

    {# ----------------------- Other info ----------------------- #}
    {% set otherInfo = "No" %}
    {% if data['otherInformation'] == "Yes" %}
      {% if data['otherInformationText'] %}
        {% set otherInfo = "Yes: " + data['otherInformationText'] %}
      {% else %}
        {% set otherInfo = "Yes" %}
      {% endif %}
    {% endif %}

    {# ----------------------- Summary List Rows ----------------------- #}

    {% set rows = [
      {
        key: { text: "Review decision" },
        value: { html: data['reviewDecision'] or "Incomplete" },
        actions: { items: [{ href: "enforcement-appeal", text: "Change" }] }
      },
      {
        key: { text: "Is the enforcement notice invalid?" },
        value: { html: data['enfNotice'] or "No" },
        actions: { items: [{ href: "enf-notice-invalid", text: "Change" }] }
      },
      {
        key: { text: "Why is the appeal incomplete?" },
        value: { html: incompleteList },
        actions: { items: [{ href: "appeal-incomplete-reason", text: "Change" }] }
      },
      {
        key: { text: "Which documents are incomplete?" },
        value: { html: missingDocsHtml },
        actions: { items: [{ href: "missing-docs", text: "Change" }] }
      },
      {
        key: { text: "Appeal due date" },
        value: { text: "25 November 2025" },
        actions: { items: [{ href: "appeal-due-date", text: "Change" }] }
      },
      {
        key: { text: "Grounds and facts do not match" },
        value: { html: groundsHtml },
        actions: { items: [{ href: "grounds", text: "Change" }] }
      },
      {
        key: { text: "Do you want to add any other information?" },
        value: { text: otherInfo },
        actions: { items: [{ href: "other-information-incomplete-venf", text: "Change" }] }
      }
    ] %}

    {{ govukSummaryList({ rows: rows }) }}

    {# ---------------- EMAIL PREVIEW ---------------- #}

    {% set appellantEmail %}
      <div class="app-email-preview">
        <div class="app-email-preview__subject">
          Subject: We need more information: 1223443
        </div>

        <div class="app-email-preview__body">
          <p class="govuk-body">We have received your appeal and we need more information.</p>

          <h2 class="govuk-heading-m">Appeal details</h2>
          <div class="govuk-inset-text">
            Appeal reference number: 1223443<br>
            Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
            Enforcement notice reference: LPA12345678
          </div>

          <h2 class="govuk-heading-m">Missing information</h2>
          
          <h3 class="govuk-heading-s">Missing documents</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Grounds of appeal supporting documents: more info goes here
            </li>
            <li>
              Planning obligation: more info goes here
            </li>
          </ul>

          <h3 class="govuk-heading-s">Grounds and facts do not match</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              ground (b): reason goes here
            </li>
            <li>
              ground (b): reason goes here
            </li>
          </ul>

          <h3 class="govuk-heading-s">No application or fee</h3>

          <p class="govuk-body">You need to submit an application to Barnet Council and pay the correct fee, then email your receipt to <a href="mailto:caseofficers@planninginspectorate.gov.uk">caseofficers@planninginspectorate.gov.uk</a>.</p>
          
          <h3 class="govuk-heading-s">Other</h3>
          <p class="govuk-body">Other reasons here</p>

          <h2 class="govuk-heading-m">Other information</h2>
          <p class="govuk-body">Other info goes here</p>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">You need to send the missing information by 30 November 2025.</p>

          <p class="govuk-body">Planning Inspectorate</p>
          <p class="govuk-body">
            <a href="mailto:caseofficers@planninginspectorate.gov.uk">caseofficers@planninginspectorate.gov.uk</a>
          </p>
        </div>
      </div>
    {% endset %}

    {{ govukDetails({ summaryText: "Preview email to appellant", html: appellantEmail }) }}

    <p class="govuk-body">
      We will mark the appeal as incomplete and send an email to the relevant parties.
    </p>

    <form method="post">
      {{ govukButton({ text: "Mark appeal as incomplete" }) }}
    </form>

  </div>
</div>
{% endblock %}


