{% extends "layouts/PINS.html" %}

{% set pageName="Does the appeal have other grounds?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<span class="govuk-caption-xl">Appeal 2110166</span>


       <form method="post" validate>

        {{ govukRadios({
          name: "otherGrounds",
          value: data.otherGrounds,
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

	  </form>
    </div>
  </div>

{% endblock %}