{% extends "layouts/PINS.html" %}

{% set pageName="Ground (a) fee receipt due date" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<span class="govuk-caption-xl">Appeal 1223443</span>


       <form method="post" validate>

       {{ govukDateInput({
        id: "date",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 31 3 2025"
        },
        items: [
          {
            name: "date",
            label: "Day",
            value: data.day,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Month",
            value: data.month,
            classes: "govuk-input--width-2"
          },
          {
            name: "date",
            label: "Year",
            value: data.year,
            classes: "govuk-input--width-4"
          }
        ]
       }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

	  </form>


    </div>
  </div>

{% endblock %}