{% extends "layouts/bo-2026.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- notifications -->
    {# No notifications for this stage #}
    {{ govukNotificationBanner({
      type: "success",
      classes: "govuk-!-margin-bottom-6",
      text: flash
    }) if flash.length }}

    {% call govukNotificationBanner() %}
      <p class="govuk-notification-banner__heading">
        Ready for decision
      </p>
      <p class="govuk-body">
        <a class="govuk-notification-banner__link" href="#">issue decision</a>
      </p>
    {% endcall %}      

    <!--	<span class="govuk-caption-l">Appeal 2110166</span> -->
    <span class="govuk-caption-xl">Appeal 2114328</span>
  	<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{ title }}
    </h1>

    {{govukTag({
      text: "Case open",
      classes: "govuk-tag--yellow"
    })}}

  </div>

  <div class="govuk-grid-column-full">

    <style>
      .appeal-details .govuk-summary-list__key,
      .appeal-details .govuk-summary-list__value,
      .appeal-details .govuk-summary-list__actions {
        padding-top: .5rem;
        padding-bottom: 0;
      }
    </style>

    <dl class="govuk-summary-list appeal-details govuk-summary-list--no-border govuk-!-margin-top-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Case officer
        </dt>
        <dd class="govuk-summary-list__value">
          Not assigned
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href='#'>
            Assign <span class="govuk-visually-hidden">case officer</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Appeal site
        </dt>
        <dd class="govuk-summary-list__value">
          No site address
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href='#'>
            Add<span class="govuk-visually-hidden"> appeal site</span>
          </a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Local planning authority
        </dt>
        <dd class="govuk-summary-list__value">
          No local planning authority
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href='#'>
            Add<span class="govuk-visually-hidden"> local planning authority</span>
          </a>
        </dd>
      </div>

    </dl>

  
  </div>

  <!-- download and case notes -->
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      <a href="#" class="govuk-link">
        Download case
      </a>
    </p>

    {% set casenotes %}

      <form method="post">

        {{ govukTextarea({
          name: "casenotedetail",
          id: "casenotedetail",
          label: {
            text: 'Case notes',
            classes: "govuk-visually-hidden",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary govuk-!-margin-bottom-1",
          text: "Add case note"
        }) }}

      </form>

    {% endset %}

    {{ govukDetails({
      summaryText: "0 case notes",
      html: casenotes
    }) }}

  </div>

  <div class="govuk-grid-column-full">

    <!-- case sections -->
    <section class="govuk-!-margin-top-6">
{#





  ------------------------------------------------------------
  OVERVIEW
  ------------------------------------------------------------





#}

<ul>
  
  
  
  <!-- <li>Processing state (decision issued only)</li> -->
  
  
  <!-- <li>Decision outcome - which outcomes?</li> -->
  
  
</ul>


      <h2 class="govuk-heading-l">
        Overview
      </h2>

      {{ govukSummaryList({
      classes: "pins-summary-list--bottomless",
      rows: [
        {
          key: {
            text: "Application reference"
          },
          value: {
            text: "No application reference"
          },
          actions: {
            items: [
              {
                href: "",
                text: "Add"
              }
            ]
          }
        },
        {
          key: {
            text: "Appeal type"
          },
          value: {
            html: data['case-type'] or 'Tree preservation order'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change"
              }
            ]
          }
        },
        {
          key: {
            text: "Appeal procedure"
          },
          value: {
            text: "No procedure"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add"
              }
            ]
          }
        },
        {
          key: {
            text: "Allocation level"
          },
          value: {
            text: "No allocation"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add"
              }
            ]
          }
        },
        {
        key: {
          text: "Related appeals"
        },
        value: {
          text: "No related appeals"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Add"
            }
          ]
          }
        },
        {
          key: {
            text: "Is there a net gain or loss of residential units?"
          },
          value: {
            text: "Not provided"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add"
              }
            ]
          }
        },
        {
          key: {
            text: "Decision"
          },
          value: {
            text: "Not issues"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Issue decision"
              }
            ]
          }
        }
      ]
    }) }}
      
      

{#





     
 ------------------------------------------------------------
  SITE
  ------------------------------------------------------------







#}


      {% if data['procedure'] == 'Written representations' %}

        <h2 class="govuk-heading-l">
          Site visit
        </h2>

        {% if data['site-visit'] == true %}



        {% else %}

          <!-- <p class="govuk-body">
            <a href="#" class="govuk-link">
              Record missed site visit
            </a>
          </p> -->

          <p class="govuk-body">
            <button class="govuk-button" data-module="govuk-button">
              Set up site visit
            </button>
          </p>

          {# hiding these manual set up rows

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Event date"
                },
                value: {
                  text: "No event date"
                },
                actions: {
                  items: [
                    {
                      href: "site-visit.html",
                      text: "Add",
                      visuallyHiddenText: "event date"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Event time"
                },
                value: {
                  text: "No event time"
                },
                actions: {
                  items: [
                    {
                      href: "site-visit.html",
                      text: "Add",
                      visuallyHiddenText: "event time"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Event type"
                },
                value: {
                  text: "No event type"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Add",
                      visuallyHiddenText: "event type"
                    }
                  ]
                }
              }
            ]
          }) }}

          Hiding these manual set up rows
          #}
          
        {% endif %}

        <h3 class="govuk-heading-m">
          Site visit requests
        </h3>
      
        {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Interested party and neighbour addresses"
                },
                value: {
                  text: "No addresses"
                },
                actions: {
                  items: [
                    {
                      href: "site-visit.html",
                      text: "Add",
                      visuallyHiddenText: "event date"
                    }
                  ]
                }
              }
            ]
          }) }}

        {% elseif data['procedure'] == 'Hearing' %}


          {% if data['hearing'] == true %}

            <h2 class="govuk-heading-l">
              Hearing
            </h2>

            {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Date"
                    },
                    value: {
                      text: "No date"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "event date"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Time"
                    },
                    value: {
                      text: "No time"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "event time"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Do you know the estimated number of days needed to carry out the hearing?"
                    },
                    value: {
                      text: "Not provided"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "estimated number of days needed to carry out the hearing"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Do you know the address of where the hearing will take place?"
                    },
                    value: {
                      text: "Not provided"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Add",
                          visuallyHiddenText: "whether you know the address of where the hearing will take place"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Address"
                    },
                    value: {
                      text: "No address"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Add",
                          visuallyHiddenText: "event address"
                        }
                      ]
                    }
                  }
                ]
              }) }}

            {% else %}

              <h2 class="govuk-heading-l">
                Hearing
              </h2>

              <button class="govuk-button" data-module="govuk-button">
                Set up hearing
              </button>  
              
            {% endif %}

            <h3 class="govuk-heading-m">
              Hearing estimates
            </h3>

            <p class="govuk-body">
              <a href="#" class="govuk-link">
                Add hearing estimates
              </a>
            </p>

        {% elseif data['procedure'] == 'Inquiry' %}

          <h2 class="govuk-heading-l">
            Inquiry
          </h2>

          {% if data['inquiry'] == true %}

            {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Date"
                    },
                    value: {
                      text: "No date"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "event date"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Time"
                    },
                    value: {
                      text: "No time"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "event time"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Do you know the estimated number of days needed to carry out the inquiry?"
                    },
                    value: {
                      text: "Not provided"
                    },
                    actions: {
                      items: [
                        {
                          href: "site-visit.html",
                          text: "Add",
                          visuallyHiddenText: "estimated number of days needed to carry out the inquiry"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Do you know the address of where the inquiry will take place?"
                    },
                    value: {
                      text: "Not provided"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Add",
                          visuallyHiddenText: "whether you know the address of where the hearing will take place"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Address"
                    },
                    value: {
                      text: "No address"
                    },
                    actions: {
                      items: [
                        {
                          href: "#",
                          text: "Add",
                          visuallyHiddenText: "event address"
                        }
                      ]
                    }
                  }
                ]
              }) }}

            {% else %}

              <button class="govuk-button" data-module="govuk-button">
                Set up inquiry
              </button>  
            
            {% endif %}


            <h3 class="govuk-heading-m">
              Inquiry estimates
            </h3>

            <p class="govuk-body">
              <a href="#" class="govuk-link">
                Add inquiry estimates
              </a>
            </p>

        {% else %}


          <h2 class="govuk-heading-l">
            Event details
          </h2>

          <p class="govuk-body">
            <a href="#" class="govuk-link">
              Add a procedure</a> to show event details
          </p>

        {% endif %}

      
{#





  ------------------------------------------------------------
  TIMETABLE
  ------------------------------------------------------------




  
#}
      <h2 class="govuk-heading-l">
        Timetable
      </h2>
  
      {{ govukTable({
        captionClasses: "govuk-table__caption--m pins-summary-list--bottomless",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Created date",
              classes: "govuk-!-width-one-third"
            },
            {
              html: 12 | daysAgo
            },
            {
              html: "<a href='#'>Change<span class='govuk-visually-hidden'> received date</span></a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "Valid date",
              classes: "govuk-!-width-one-third"
            },
            {
              text: "No valid date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "Start date"
            },
            {
              html: "No start date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "LPA questionnaire due"
            },
            {
              html: "No questionnaire due date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "LPA statement due"
            },
            {
              html: "No statement due date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "Interested party comments due"
            },
            {
              html: "No statement due date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "Final comments due"
            },
            {
              html: "No final comments due date"
            },
            {
              html: "<a href='#'>Add</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "Decision date",
              classes: "govuk-!-width-one-third"
            },
            {
              text: "Not decided"
            },
            {
              html: "",
              format: "numeric"
            }
          ]
        ]
      }) }}


{#





 


  ------------------------------------------------------------
  DOCUMENTATION
  ------------------------------------------------------------




  
#}
{#
      <h2 class="govuk-heading-l">
        Documentation
      </h2>

      <!-- documentation table -->
      <table class="govuk-table">

        <!-- table head -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Documentation</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">Action</th>
          </tr>
        </thead>

        <!-- table body -->
        <tbody class="govuk-table__body">
          <!-- valid appeal submission -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Appeal</th>
            <td class="govuk-table__cell">Valid</td>
            <td class="govuk-table__cell">{{ 20 | daysAgo }}</td>
            <td class="govuk-table__cell govuk-!-text-align-right">
              <a href="/projects/written-representations-part-1/v2/appellant-case" class="govuk-link">
                View<span class="govuk-visually-hidden"> appellant case</span>
              </a>
            </td>
          </tr> 
          <!-- complete LPA questionnaire -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Local planning authority questionnaire</th>
            <td class="govuk-table__cell">Valid</td>
            <td class="govuk-table__cell">{{ 10 | daysAgo }}</td>
            <td class="govuk-table__cell govuk-!-text-align-right">
              <a href="/projects/written-representations-part-1/v2/questionnaire/task-list" data-cy="review-appellant-case" class="govuk-link">
                View<span class="govuk-visually-hidden"> questionnaire</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
#}
{#





  ------------------------------------------------------------
  COSTS
  ------------------------------------------------------------




  
#}
      <h2 class="govuk-heading-l">
        Costs
      </h2>

      {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        rows: [
          [
            {
              text: "Appellant application",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ],
                    [
            {
              text: "Appellant withdrawal",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ],
                    [
            {
              text: "Appellant correspondence",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "LPA application",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ],
                    [
            {
              text: "LPA withdrawal",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ],
          [
            {
              text: "LPA correspondence",
              classes: "govuk-!-width-one-third"
            },
            {
              text: 'No documents available'
            },
            {
              html: "<a href='#'>Change</a>",
              format: "numeric"
            }
          ]
          
        ]
      }) }}

{#





  ------------------------------------------------------------
  CONTACTS
  ------------------------------------------------------------




  
#}

      <h2 class="govuk-heading-l">
        Contacts
      </h2>
  
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Appellant"
            },
            value: {
              html: "No appellant"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "Add",
                  visuallyHiddenText: "appellant"
                }
              ]
            }
          },
          {
            key: {
              text: "Agent"
            },
            value: {
              text: "No agent"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "Add",
                  visuallyHiddenText: "agent"
                }
              ]
            }
          },
          {
            key: {
              text: "LPA"
            },
            value: {
              html: "No local planning authority"
            },
            actions: {
              items: [
                {
                  href: "#",
                  html: "Add",
                  visuallyHiddenText: "local planning authority"
                }
              ]
            }
          }
        ]
      }) }}




{#





  ------------------------------------------------------------
  TEAM
  ------------------------------------------------------------




  
#}      
      <h2 class="govuk-heading-l">
        Team
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Case team"
            },
            value: {
              html: "No case team"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Assign",
                  visuallyHiddenText: "case team"
                }
              ]
            }
          },
          {
            key: {
              text: "Case officer"
            },
            value: {
              html: "Not assigned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Assign",
                  visuallyHiddenText: "case officer"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspector"
            },
            value: {
              html: "Not assigned"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Assign",
                  visuallyHiddenText: "inspector"
                }
              ]
            }
          }
        ]
      }) }}

{#





  ------------------------------------------------------------
  CASE MANAGEMENT
  ------------------------------------------------------------




  
#}
      <h2 class="govuk-heading-l">
        Case management
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Cross-team correspondence"
            },
            value: {
              text: "No documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "cross-team correspondence"
                }
              ]
            }
          },
          {
            key: {
              text: "Inspector correspondence"
            },
            value: {
              text: "No documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "cross-team correspondence"
                }
              ]
            }
          },
          {
            key: {
              text: "Main party correspondence"
            },
            value: {
              text: "No documents"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "cross-team correspondence"
                }
              ]
            }
          },
          {
            key: {
              text: "Case history"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View",
                  visuallyHiddenText: "cross-team correspondence"
                }
              ]
            }
          }
        ]
      }) }}
{#





  ------------------------------------------------------------
  CANCEL APPEAL
  ------------------------------------------------------------




  
#}

    <div id="case-details-cancel-section">
      <h3 class="govuk-heading-m">
        Cancel case
      </h3>
    <div>
    
    <p class="govuk-body">
      <a class="govuk-link" href="#">
        Cancel case
      </a>
    </p>

    <!-- end of case sections -->
    </section>
  </div>
{% endblock %}
