{% extends "layouts/bo-2026.html" %}

{% set title = "Case details" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set prototypeLinks =
  [
    {
      href: '?status=open',
      text: 'Case is open'
    } if data['status'] == 'ready',
    {
      href: '?status=ready',
      text: 'Go back to case ready to start'
    } if data['status'] == 'open'
  ]
%}

{% set back = false %}

{% block content %}

  <div class="govuk-grid-row">
    
    <!-- case header -->
    <div class="govuk-grid-column-two-thirds">

      <!-- notifications -->
      {% include "/projects/create-shell-case/v1/case--notifications.html" %}      
  
      <!-- heading and status -->
      <section>
        <span class="govuk-caption-xl">Appeal 2114328</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
          {{ title }}
        </h1>   

        {% if data['status'] == 'ready' %}
          {{ govukTag({
            text: "Ready to start",
            classes: "govuk-tag--green"
          }) }}

        {% else %}
          {{ govukTag({
            text: "Case open",
            classes: "govuk-tag--yellow"
          }) }}
        {% endif %}
      </section>

    </div>

    <div class="govuk-grid-column-full">
      
      {% include "/projects/create-shell-case/v1/case--metadata.html" %}
    
    </div>

    <!-- download and case notes -->
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        <a href="#" class="govuk-link">
          Download case
        </a>
      </p>

      {% set casenotes %}

        <form method="post">

          {{ govukTextarea({
            name: "casenotedetail",
            id: "casenotedetail",
            label: {
              text: 'Case notes',
              classes: "govuk-visually-hidden",
              isPageHeading: true
            }
          }) }}

          {{ govukButton({
            classes: "govuk-button--secondary govuk-!-margin-bottom-1",
            text: "Add case note"
          }) }}

        </form>

      {% endset %}

      {{ govukDetails({
        summaryText: "0 case notes",
        html: casenotes
      }) }}

    </div>

    <!-- case sections -->
    <div class="govuk-grid-column-full">
      <section class="govuk-!-margin-top-6">

        {% include "/projects/create-shell-case/v1/case--overview.html" %}
        
        {% include "/projects/create-shell-case/v1/case--timetable.html" %}

        {% include "/projects/create-shell-case/v1/case--site.html" %}    

        {% include "/projects/create-shell-case/v1/case--documentation.html" %}

        {% include "/projects/create-shell-case/v1/case--costs.html" %}

        {% include "/projects/create-shell-case/v1/case--contacts.html" %}

        {% include "/projects/create-shell-case/v1/case--team.html" %}

        {% include "/projects/create-shell-case/v1/case--management.html" %}

        <div id="case-details-cancel-section">
          <h3 class="govuk-heading-m">
            Cancel case
          </h3>
        <div>
      
        <p class="govuk-body">
          <a class="govuk-link" href="#">
            Cancel case
          </a>
        </p>

      </section>
    </div>

  </div>

{% endblock %}