{% extends "layouts/bo.html" %}

{% set title = 'Check details and reject the request for Rule 6 status'  %}
{% set pageName = title %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: 'javascript:history.back()'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{party.firstName}} {{party.lastName}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Reason for rejecting the request for Rule 6 status"
            },
            value: {
              html: data.rejectRule6Party.reason
            },
            actions: {
              items: [
                {
                  href: '/main/cases/:caseId/rule-6-parties/:partyId/reject' | replace(':caseId', _case.id) | replace(':partyId', party.id),
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          }
        ]
      }) }}

      {{party | log}}

      <p>We’ll send an email to the Rule 6 party to explain why you’ve withdrawn their request for Rule 6 status.</p>

      <form method="post">
        {{ govukButton({
          text: "Reject request for Rule 6 status"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
