{% extends "layouts/PINS-Simple.html" %}

{% set title = "Sam Fisher" %}
{% set pageName = title %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0',
      items: [
        {
          text: "Appeal 12345",
          href: "/projects/start-full-case/v4/case-details"
        },
        {
          text: "Rule 6 applications",
          href: "/projects/start-full-case/v4/rule-6-applications"
        },
        {
          text: title
        }
      ]
    }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Approve"
        }) }}
        {{ govukButton({
          text: "Reject",
          classes: 'govuk-button--secondary'
        }) }}
        {{ govukButton({
          text: "Withdraw",
          classes: 'govuk-button--secondary'
        }) }}
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "sam@organisation.com"
            },
            actions: {
              items: [
                {
                  href: "edit",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sam Fisher"
            },
            actions: {
              items: [
                {
                  href: "edit/name",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              text: "Does the Rule 6 party represent an organisation?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "edit/organisation",
                  text: "Change",
                  visuallyHiddenText: "if the Rule 6 party represents an organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation"
            },
            value: {
              text: "Saint Rita’s Community Association"
            },
            actions: {
              items: [
                {
                  href: "edit/organisation",
                  text: "Change",
                  visuallyHiddenText: "Organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "07714564789"
            },
            actions: {
              items: [
                {
                  href: "edit/phone",
                  text: "Change",
                  visuallyHiddenText: "Phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Application form"
            },
            value: {
              html: '<a href="#">Application form (PDF, 12MB)</a>'
            },
            actions: {
              items: [
                {
                  href: "edit/phone",
                  text: "Change",
                  visuallyHiddenText: "Application form"
                }
              ]
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
