{% extends "layouts/bo.html" %}

{% set title = "Check details and start case" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}


{% set emailHtml %}
<div class="app-email-preview">
  <div class="app-email-preview__subject">
    Subject: Subject goes here
  </div>
  <div class="app-email-preview__body">
    <p class="govuk-body">
      We have corrected the appeal decision letter.
    </p>

    <h2 class="govuk-heading-m">
      Appeal details
    </h2>

    <div class="govuk-inset-text">
      Appeal reference number: 7001224<br>
      Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
      Planning application reference: 22/00118/FULL
    </div>

    <h2 class="govuk-heading-m">
      Why we corrected the appeal decision letter
    </h2>

    <p class="govuk-body">
      We corrected the decision letter because:
    </p>

    <p class="govuk-body">
      (Reason for updating the decision letter)
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Sign into our service</a> to view the decision letter dated {{ 1 | daysAgo }}
    </p>

    <h2 class="govuk-heading-m">
      The Planning Inspectorate’s role
    </h2>

    <p class="govuk-body">
      The Planning Inspectorate cannot change or revoke the decision. Only the high court can change this decision.
    </p>

    <h2 class="govuk-heading-m">
      Feedback
    </h2>

    <p class="govuk-body">
      We welcome your feedback on our appeals service. Tell us on this short <a href="#" class="govuk-link">feedback form</a>.
    </p>

    <p class="govuk-body">
      The Planning Inspectorate<br>
      caseofficers@planninginspectorate.gov.uk
    </p>

  </div>
</div>
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Appeal 6021709</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      {% set address %}
      {{ data.startCase.hearingAddress.line1 }}<br>
      {% if data.startCase.hearingAddress.line2 %}{{ data.startCase.hearingAddress.line2 }}<br>{% endif %}
      {{ data.startCase.hearingAddress.town }}<br>
      {% if data.startCase.hearingAddress.county %}{{ data.startCase.hearingAddress.county }}<br>{% endif %}
      {{ data.startCase.hearingAddress.postcode }}
    {% endset %}
    
    {# Format the hearing date if entered #}
    {% if data.startCase.hearingDate.day and data.startCase.hearingDate.month and data.startCase.hearingDate.year %}
      {% set hearingDate = data.startCase.hearingDate | isoDateFromDateInput | govukDate %}
    {% else %}
      {% set hearingDate = "" %}
    {% endif %}
    
    {# Build the rows dynamically #}
    {% set rows = [
      {
        key: { text: "Appeal procedure" },
        value: { text: "Hearing" },
        actions: {
          items: [
            { href: "start-hearing", text: "Change", visuallyHiddenText: "appeal procedure" }
          ]
        }
      },
      {
        key: { text: "Hearing date" },
        value: { html: hearingDate },
        actions: {
          items: [
            { href: "hearing-date", text: "Change", visuallyHiddenText: "hearing date" }
          ]
        }
      },
      {
        key: { text: "Hearing time" },
        value: { text: "10:00am" },
        actions: {
          items: [
            { href: "hearing-date", text: "Change", visuallyHiddenText: "hearing time" }
          ]
        }
      },
      {
        key: { text: "Do you know the address of where the hearing will take place?" },
        value: { text: data.startCase.hasHearingAddress },
        actions: {
          items: [
            { href: "has-address", text: "Change", visuallyHiddenText: "hearing address question" }
          ]
        }
      }
    ] %}
    
    {# Only add Hearing address row if answer was Yes #}
    {% if data.startCase.hasHearingAddress == "Yes" %}
      {% set rows = rows.concat([
        {
          key: { text: "Hearing address" },
          value: { html: address },
          actions: {
            items: [
              { href: "hearing-address", text: "Change", visuallyHiddenText: "hearing address" }
            ]
          }
        }
      ]) %}
    {% endif %}
    
    {{ govukSummaryList({ rows: rows }) }}
    
    <p>We’ll start the timetable now and send emails to the relevant parties.</p>
    
    {{ govukDetails({
      classes: 'govuk-!-margin-top-5 govuk-!-margin-bottom-1',
      summaryText: "Preview email to LPA",
      html: emailHtml
    }) }}
    
    {{ govukDetails({
      classes: 'govuk-!-margin-top-5 govuk-!-margin-bottom-1',
      summaryText: "Preview email to appellant",
      html: emailHtml
    }) }}
    
    <div class="govuk-!-padding-bottom-6"></div>
    
    <form method="post">
      {{ govukButton({
        text: "Start case"
      }) }}
    </form>

    </div>
  </div>
{% endblock %}
