<!-- complete IP comments -->

{% if data['ipcomments'] == 'not-received' %}

  <!-- interested party comments were not received -->

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Interested party comments</th>
    <td class="govuk-table__cell">Not received</td>
    <td class="govuk-table__cell">{{ 0 | daysInFuture}}</td>
    <td class="govuk-table__cell govuk-!-text-align-right">
      <!-- <a href="appellant-case" data-cy="review-appellant-case" class="govuk-link">
        Add<span class="govuk-visually-hidden"> interested party comments</span>
      </a> -->
    </td>
  </tr>

{% else %}

  <!-- interested party comments are received -->
  <!-- interested party comments is accepted -->

  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Interested party comments</th>
    <td class="govuk-table__cell">Shared</td>
    <td class="govuk-table__cell">{{ 0 | daysInFuture}}</td>
    <td class="govuk-table__cell govuk-!-text-align-right">
      <a href="appellant-case" data-cy="review-appellant-case" class="govuk-link">
        View<span class="govuk-visually-hidden"> interested party comments</span>
      </a>
    </td>
  </tr>

{% endif %}
