{% extends "layouts/PINS-Simple.html" %}

{% set pageName="Recover appeal" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to prototypes",
    href: '/'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Recover appeal
    </h1>

    <section class="govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-m">MVP 2

		{{govukTag({
      text: "Yet to start",
      classes: "govuk-!-margin-left-2 govuk-tag--grey"
    })}}


	<h2 class="govuk-heading-m">MVP 1

		{{govukTag({
      text: "In progress",
      classes: "govuk-!-margin-left-2 govuk-tag--yellow"
    })}}

		<!-- Status tag options

		{{govukTag({
          text: "New",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "In progress",
          classes: "govuk-!-margin-left-2 govuk-tag--yellow"
        })}}

        {{govukTag({
          text: "Ready for review",
          classes: "govuk-!-margin-left-2 govuk-tag--blue"
        })}}

        {{govukTag({
          text: "Ready for research",
          classes: "govuk-!-margin-left-2 govuk-tag--green"
        })}}

        {{govukTag({
          text: "Researched",
          classes: " govuk-!-margin-left-2 govuk-tag--green"
        })}}

        -->


	</h2>

	<p class="govuk-body">
        Jira: <a href="https://pins-ds.atlassian.net/browse/A2-8688" class="govuk-link">A2-8688</a>

      <ul class="govuk-list govuk-list--bullet">
        <li>COs can recover an appeal</li>
        <li>Appeal will be tagged as 'recovered'</li>
        <li>A new section appears on the case details page related to Recover appeal</li>
      </ul>
    </p>

	{{ govukButton({
	  text: "View prototype",
	  href: "case-details",
	  isStartButton: true
	}) }}

    </section>

  </div>

{% endblock %}
