{% macro caseHeading(caseHeading, caseTag) %}

<span class="govuk-caption-l">Appeal 211667</span>
<h1 class="govuk-heading-l">Case details</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "/patterns/case-status/default.njk" import caseStatus %}

{% if caseHeading === "default" %}

  {{ caseStatus (caseStatus = caseTag) }}

  {% include "/includes/appeal-content/lpa-has-appeal-meta.html" %}

  {# {{ govukSummaryList ({
    classes: "govuk-summary-list--no-border",
    rows: [
      {
        key: {
          text: "Appeal site"
        },
        value: {
          text: "21 The Pavement, Wandsworth, SW4 0HY"
        }
      },
      {
        key: {
          text: "Local planning authority (LPA)"
        },
        value: {
          text: "Bradford Council"
        }
      }
    ]
  }) }} #}

{% elseif caseHeading === "complete" %}

  {{ caseStatus (caseStatus = "complete")}}
  <div class="govuk-inset-text">
    <p>Appeal completed: 6 February 2024</p>
    <p>Decision: 2 May 2024</p>
    <p>
      <a href="view-letter">
        View decision letter
      </a>
    </p>
  </div>

  {% include "/includes/appeal-content/lpa-has-appeal-meta.html" %}

  {# {{ govukSummaryList ({
    classes: "govuk-summary-list--no-border",
    rows: [
      {
        key: {
            text: "Appeal site"
        },
        value: {
            text: "21 The Pavement, Wandsworth, SW4 0HY"
        }
        },
        {
        key: {
            text: "Local planning authority (LPA)"
        },
        value: {
            text: "Bradford Council"
        }
      }
    ]
  }) }} #}

{% elseif caseHeading === "withdrawn"%}

  {{ caseStatus (caseStatus = "withdrawn") }}
  <div class="govuk-inset-text">
    <p>Appeal withdrawn: 2 May 2024</p>
    <p>
      <a href="view-letter">
        View withdrawal request
      </a>
    </p>
  </div>

  {% include "/includes/appeal-content/lpa-has-appeal-meta.html" %}

  {# {{ govukSummaryList ({
    classes: "govuk-summary-list--no-border",
      rows: [
        {
          key: {
              text: "Appeal site"
          },
          value: {
              text: "21 The Pavement, Wandsworth, SW4 0HY"
          }
          },
          {
          key: {
              text: "Local planning authority (LPA)"
          },
          value: {
              text: "Bradford Council"
          }
        }
      ]
    }) }} #}

  {% endif %}

{% endmacro %}
