{% extends "layouts/PINS-admin.html" %}

{% set title = "Case heading" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">

    <!-- side navigation -->
    <div class="govuk-grid-column-one-quarter">
      {% include "/patterns/includes/side-navigation.html" %}
    </div>


    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
        {{ title }}
      </h1>
      <p>
        <strong class="govuk-tag govuk-!-margin-bottom-5">experimental</strong>
      </p>
      <p class="govuk-body-l">
        Showing key information about an appeal at a glance.
      </p>

      {% set exampleHtml %}
        {{ caseHeading (
          caseHeading = "withdrawn"
        ) }}
      {% endset -%}
      {% set codeHtml %}


      <pre class="code-snippet"><code>{% raw -%}{{
  caseHeading (
    caseStatus = "validation",
    caseHeading = "default"
  )
}}
{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        The case heading helps the user to identify the appeal they are working on. It features some variants, depending on the appeal status. These are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          closed
        </li>
        <li>
          complete
        </li>
        <li>
          transferred
        </li>
        <li>
          withdrawn
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p>
        You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> macro.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList ({
        rows: [
          {
            key: {
              text: "caseHeading"
            },
            value: {
              text: "default,
              closed, complete,
              transferred,
              withdrawn"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
