{% extends "layouts/PINS-admin.html" %}

{% set title = "Case heading" %}
{% set pageName = title + ' - Planning Inspectorate'%}

{% set back = false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/address/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Address
          </a>
        </li>
        <li>
          <a href="/patterns/case-heading/" class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">
            Case heading
          </a>
        </li>
        <li>
          <a href="/patterns/case-status/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Case status
          </a>
        </li>
        <li>
          <a href="/patterns/important-banners/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (important)
          </a>
        </li>
        <li>
          <a href="/patterns/success-banner/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Banner (success)
          </a>
        </li>
        <li>
          <a href="/patterns/meta-data/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Meta data
          </a>
        </li>
        <li>
          <a href="/patterns/personal-list/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Personal list
          </a>
        </li>
        <li>
          <a href="/patterns/multiple-document-upload/" class="govuk-link--no-visited-state govuk-link--no-underline">
            Upload multiple files
          </a>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <ul class="govuk-list govuk-list-bullet">
        <li>
          <a href="/patterns/check-answers?cards=" class="govuk-link--no-visited-state govuk-link--no-underline">
            Check answers (simple)
          </a>
        </li>
        <li>
          <a href="/patterns/check-answers?cards=true" class="govuk-link--no-visited-state govuk-link--no-underline">
            Check answers (with cards)
          </a>
        </li>
      </ul>      
    </div>

    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" id="case-heading">
        {{ title }}
      </h1>
      <p>
        <strong class="govuk-tag govuk-!-margin-bottom-5">experimental</strong>
      </p>
      <p class="govuk-body-l">
        Showing key information about an appeal at a glance.
      </p>

      {% set exampleHtml %}
        {{ caseHeading (
          caseHeading = "withdrawn"
        ) }}
      {% endset -%}
      {% set codeHtml %}


      <pre class="code-snippet"><code>{% raw -%}{{
  caseHeading (
    caseStatus = "validation",
    caseHeading = "default"
  )
}}
{% endraw %}
        </code></pre>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Example",
            id: "example",
            panel: {
              html: exampleHtml
            }
          },
          {
            label: "Nunjucks",
            id: "nunjucks",
            panel: {
              html: codeHtml
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">
        When to use this pattern
      </h2>

      <p>
        The case heading helps the user to identify the appeal they are working on. It features some variants, depending on the appeal status. These are:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          closed
        </li>
        <li>
          complete
        </li>
        <li>
          transferred
        </li>
        <li>
          withdrawn
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        How it works
      </h2>

      <p>
        You can use this component as a <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> macro.
      </p>

      <h3 class="govuk-heading-m">
        Parameters
      </h3>

      {{ govukSummaryList ({
        rows: [
          {
            key: {
              text: "caseHeading"
            },
            value: {
              text: "default,
              closed, complete,
              transferred,
              withdrawn"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
