{#
	For guidance on how to use layouts see:
	https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "layouts/main.html" %}

{# Overrides the GOVUK standard header
	 with a PINs back office header #}

{% block header %}
	{% include "includes/PINS-header-nav-post-mvp.html" %}
{# {{ xGovukPrimaryNavigation({
  visuallyHiddenTitle: "Navigation",
  items: [{
    text: "Your appeals",
    href: "#",
    current: true
  }, {
    text: "Appeals",
    href: "#"
  },{
    text: "Activity",
    href: "#"
  }]
}) }} #}
{% endblock %}
