{% extends "layouts/bo.html" %}

{% set title = "Do you want to allow the Rule 6 party to submit a new statement?" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Appeal {{appeal.id}} - {{party.firstName}} {{party.lastName}} - mark as incomplete</span>

    <form method="post">

      {% set statementDueDateHtml %}
        {{ govukDateInput({
          id: "statementDueDate",
          fieldset: {
            legend: {
              text: "Statements due",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "rejectRule6Party[statementsDueDate][day]",
              label: "Day",
              value: statementsDueDate | day,
              classes: "govuk-input--width-2"
            },
            {
              name: "rejectRule6Party[statementsDueDate][month]",
              label: "Month",
              value: statementsDueDate | month,
              classes: "govuk-input--width-2"
            },
            {
              name: "rejectRule6Party[statementsDueDate][year]",
              label: "Year",
              value: statementsDueDate | year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

      {% endset %}


      {{ govukRadios({
        classes: "govuk-radios",
        name: "rejectRule6Party[canResubmit]",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        value: data.rejectRule6Party.canResubmit,
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: statementDueDateHtml
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    </div>
</div>





{% endblock %}
