{% extends "layouts/bo.html" %}

{% set title = 'Check details and mark Rule 6 statement as incomplete'  %}
{% set pageName = title %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: 'javascript:history.back()'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Appeal {{appeal.id}} - {{party.firstName}} {{party.lastName}}</span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {% set reasonsHtml %}
        <ul class="govuk-list govuk-list--bullet">
          {% for item in data.rejectRule6Party.reason %}
            <li>
              {{item}}
              {# {% if item == 'Other reason' %}
                - {{data.new.otherObject}}
              {% endif %} #}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Why is the Rule 6 statement incomplete?"
            },
            value: {
              html: reasonsHtml
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-statements/:partyId/reject' | replace(':appealId', appeal.id) | replace(':partyId', party.id),
                  text: "Change",
                  visuallyHiddenText: "Why is the Rule 6 statement incomplete?"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to allow the Rule 6 party to submit a new statement?"
            },
            value: {
              html: data.rejectRule6Party.canResubmit
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-statements/:partyId/reject/can-resubmit' | replace(':appealId', appeal.id) | replace(':partyId', party.id),
                  text: "Change",
                  visuallyHiddenText: "Item label"
                }
              ]
            }
          },
          {
            key: {
              text: "Statements due"
            },
            value: {
              text: data.rejectRule6Party.statementsDueDate | isoDateFromDateInput | govukDate
            },
            actions: {
              items: [
                {
                  href: '/main/appeals/:appealId/rule-6-statements/:partyId/reject/can-resubmit' | replace(':appealId', appeal.id),
                  text: "Change",
                  visuallyHiddenText: "Statements due"
                }
              ]
            }
          } if data.rejectRule6Party.canResubmit == 'Yes'
        ]
      }) }}

      {% set rule6EmailHtml %}
        <div class="app-email-preview">
          <div class="app-email-preview__subject">
            Subject: Your statement is incomplete: {{appeal.id}}
          </div>
          <div class="app-email-preview__body">
            <p class="govuk-body">
              Your statement is incomplete.
            </p>

            <h2 class="govuk-heading-m">
              Appeal details
            </h2>
            <div class="govuk-inset-text">
              Appeal reference number: {{appeal.id}}<br>
              Address: 22b The Peach Trees, Peckham, SE15 9HA<br>
              Planning application reference: {{appeal.planningApplicationReference}}
            </div>

            <h2 class="govuk-heading-m">
              This is what we need
            </h2>

            {{reasonsHtml | safe}}

            <h2 class="govuk-heading-m">
              What happens next
            </h2>

            <p>You can send a different statement to caseofficers@planninginspectorate.gov.uk by 20 September 2025.</p>

            <p class="govuk-body">
              The Planning Inspectorate
            </p>

          </div>
        </div>
      {% endset %}

      {{ govukDetails({
        summaryText: "Preview email to Rule 6 party",
        html: rule6EmailHtml
      }) if data.rejectRule6Party.canResubmit == 'Yes' }}

      <form method="post">
        {{ govukButton({
          text: "Mark Rule 6 statement as incomplete"
        }) }}

        {# <p><a href="javascript:history.back()">Cancel</a></p> #}
      </form>
    </div>
  </div>
{% endblock %}
