{% extends "layouts/PINS-Simple.html" %}

{% set title = "Written representations part 1" %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">
        When we receive an S78 / full planning appeal that meets the criteria to be part 1 only.
      </p>

      <p class="govuk-body">Parts of the service:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://pins-app-prototype-appeals-front-office.azurewebsites.net/appeal/before-you-start/" class="govuk-link">
            Appeal a planning decision, eligibility checker / before you start journey
          </a>
        </li>
        <li>
          <a href="https://pins-app-prototype-appeals-front-office.azurewebsites.net/appeal/s78e/v2/before-you-continue" class="govuk-link">
            Appeal a planning decision, appeal submission
          </a>
        </li>
        <li>
          <a href="https://pins-app-prototype-appeals-back-office.azurewebsites.net/projects/written-representations-part-1/v1/case-details?case-stage=validation" class="govuk-link">
            Manage appeals, validate and start a part 1 appeal
          </a>
        </li>
        <li>
          <a href="https://pins-app-prototype-appeals-front-office.azurewebsites.net/manage/questionnaire/v15/task-list" class="govuk-link">
            manage your appeals (LPA service), part 1 varient of LPA questionnaire
          </a>
        </li>
      </ul>

      <p class="govuk-body">Manage appeals, validate and start a part 1 appeal:</p>

      {{ govukButton({
        text: "View prototype",
        isStartButton: true,
        href: '/projects/written-representations-part-1/v1/case-details.html'
      }) }}

    </div>
  </div>
{% endblock %}
