{% extends "layouts/bo.html" %}

{% set title = "Type" %}
{% set pageName = title %}

{% set back = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <span class="govuk-caption-l">Appeal 6021709 - set up site visit</span>

        {{ govukRadios({
          name: "setupVisit[type]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.startCase.procedure or appeal.procedure,
          items: [
            {
              value: "Unaccompanied",
              text: "Unaccompanied"
            },
            {
              value: "Accompanied",
              text: "Accompanied"
            },
            {
              value: "Access required",
              text: "Access required"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Site information",
          html: '<p class="govuk-body"><b>Site address:</b> 1234 street</p>
          <p class="govuk-body"><b>Potential safety risks (LPA answer):</b> No</p>
          <p class="govuk-body"><b>Potential safety risks (appellant answer):</b> No</p>
          <p class="govuk-body"><b>Address of the neighbours land or property:</b> 123 Street</p>
          <p class="govuk-body"><b>Interested party and neighbour addresses:</b> 123 Road</p>'
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}