{% extends "layouts/PINS.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <p>Quis adipisicing ea proident incididunt officia <span class="redact">elit</span> aliquip commodo nulla officia nisi. Tempor Lorem ipsum anim cillum ipsum <span class="redact">elit</span> laboris anim aute. <span class="redact">Cupidatat ea minim nulla in aliquip cillum amet cillum. Sunt sunt elit pariatur sunt fugiat nostrud</span>. Elit nisi cupidatat ut ut cupidatat et Lorem eu magna duis laborum nulla.</p>

  <p>Quis adipisicing ea proident incididunt officia <span class="redact">elit</span> aliquip commodo nulla officia nisi. Tempor Lorem ipsum anim cillum ipsum <span class="redact">elit</span> laboris anim aute. <span class="redact">Cupidatat ea minim nulla in aliquip cillum amet cillum. Sunt sunt elit pariatur sunt fugiat nostrud</span>. Elit nisi cupidatat ut ut cupidatat et Lorem eu magna duis laborum nulla.Quis adipisicing ea proident incididunt officia <span class="redact">elit aliquip commodo nulla officia nisi. Tempor Lorem ipsum anim cillum ipsum elit laboris anim aute.Cupidatat ea minim nulla in aliquip cillum amet cillum. Sunt sunt elit pariatur sunt fugiat nostrud</span>. Elit nisi cupidatat ut ut cupidatat et Lorem eu magna duis laborum nulla.</p>

  </div>
</div>

{% endblock %}
